<aside class="span4 pull-right qa-form-help">
  <h4>Hjelp oss og utvikle denne tjenesten</h4>

  <p>Vi jobber nå med å gjøre det lettere for velgere og folkevalgte å diskutere politikk. Tjenesten er under utvikling, og det vil derfor ta noe tid før ditt spørsmål når din representant. Du vil få beskjed når spørsmålet ditt er sendt.</p>

  <p>Vi ber at du oppgir fullt navn og epostadresse. Alle spørsmål og svar modereres, og må være i tråd med våre <a href="#" data-toggle="modal" data-target="#code-of-conduct">retningslinjer</a>.</p>

  <p>Innspill eller noe du lurer på? <%= mail_to t('app.email'), 'Ta kontakt!', encode: 'hex', subject: t('app.questions.title') %></p>
</aside>

<div class="span7">
  <%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= render partial: 'representative_selector', locals: { form: f, question: @question } %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.text_area :body, class: 'span12 qa-form-body',
                               rows:  5,
                               placeholder: "Kjære representant! Hvordan kan det ha seg at..." %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="control-group span5">
        <label class="control-label">
          <%= Question.human_attribute_name :from_name %>
        </label>

        <div class="controls">
          <%= f.text_field :from_name, class: 'span12' %>
        </div>
        <small ><%= f.check_box :show_sender %> Vis fullt navn</small>
      </div>

      <div class="control-group span5 offset2">
        <label class="control-label"><%= Question.human_attribute_name :from_email %></label>
        <div class="controls">
          <%= f.text_field :from_email, class: 'span12' %>
        </div>
      </div>
    </div>

    <div class="control-group">
       <div class="controls">
         <%= f.submit class: 'btn btn-primary', value: 'Send' %>
       </div>
    </div>
  <% end %>
</div>

<div id="code-of-conduct" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="code-of-conduct" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Retningslinjer</h3>
  </div>

  <div class="modal-body">
    <%= render partial: 'conduct' %>
  </div>

  <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Skjønner!</button>
   </div>
</div>
