<h4><%= t("app.questions.#{category}") %></h4>
<div class="questions-index container-fluid">
  <% questions.each_slice(2) do |questions| %>
    <div class="question-row row-fluid">
      <% questions.each do |question| %>
        <%= render partial: 'questions_section_card', locals: { question: question, category: category } %>
      <% end %>
    </div>
    <% end %>
<p class="muted">Viser <%= questions.count %> av <%= total %>. <%= link_to 'Se alle', "/questions/all/#{category}" %>.</p>
</div>