<label class="control-label"><%= Question.human_attribute_name :representative %></label>

<div class="row-fluid">
  <div class="span6">
    <%= collection_select :district, :name, @districts, :slug, :name,
                          {include_blank: 'Alle fylker'},
                          class: 'chosen-large',
                          data: { representatives: data_representatives } %>
  </div>

  <div class="span6">
    <%= form.collection_select :representative, @representatives, :slug, :name_with_party,
                               {include_blank: true},
                               class: 'chosen-xlarge',
                               data: {placeholder: 'Velg en representant'} %>
  </div>
</div>

<% content_for :document_ready do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      HDO.representativeSelector.init({
        districtSelect: $("#district_name"),
        representativeSelect: $("#question_representative"),
        selectedDistrict: "<%= params[:district] %>",
        selectedRepresentative: "<%= params[:representative] %>",
      })
    });
  </script>
<% end %>