<div class="page-header">
  <%= link_to t('app.questions.new'), new_question_path, class: 'btn btn-primary pull-right' %>
  <h1>Spør en stortingspolitiker</h1>
  <h3><%= t("app.questions.#{params[:category]}") %></h3>
</div>

<div class="row-fluid">
  <div class="pull-right"><%= page_entries_info @questions %></div>
</div>

<div class="questions-index container-fluid">
  <% @questions.each_slice(2) do |questions| %>
    <div class="question-row row-fluid">
      <% questions.each do |question| %>
        <div class="span6">
          <%= render partial: 'shared/question_card', locals: { question: question } %>
        </div>
      <% end %>
    </div>
    <% end %>
</div>

<%# paginate @questions, class: "pagination pagination-centered visible-desktop" %>
<%# paginate @questions, class: "pagination pagination-small pagination-centered visible-phone", page_links: false %>

<%= paginate @questions %>