<div class="page-header">
  <%= link_to t('app.questions.new'), new_question_path, class: 'btn btn-primary pull-right' %>
  <h1>Spør en stortingspolitiker</h1>
</div>

<% @questions.each do |question| %>
  <div class="question-display span5">
    <div class="row">
      <div class="span3">
        <div class="timestamp">
          <%= l question.updated_at.localtime, format: :text_time %>
        </div>

        <div class="recipient">
          Til: <%= question.representative.name %>
          <div class="district"><%= question.representative.district.name %></div>
        </div>
      </div>

      <div class="visible-desktop">
        <div class="span1">
          <img src="<%= path_to_image question.representative.image.versions[:small] %>">
        </div>

        <div class="span1">
          <%= image_tag question.representative.current_party.logo, alt: question.representative.current_party.name %>
        </div>
      </div>

      <div class="visible-phone">
        <div class="images-row">
          <img src="<%= path_to_image question.representative.image.versions[:small] %>">
          <%= image_tag question.representative.current_party.logo, alt: question.representative.current_party.name %>
        </div>
      </div>
    </div>
    <hr class="visible-desktop">
    <div><%= question.teaser %></div>

    <% if question.answered? %>
      <p><%= link_to "Les svaret", question %></p>
    <% end %>

  </div>
<% end %>