<div class="page-header">
  <%= link_to t('app.questions.new'), new_question_path, class: 'btn btn-primary pull-right' %>
  <h1>Spør en stortingspolitiker</h1>
</div>

<div class="questions-index container-fluid">
  <% @questions.each_slice(2) do |questions| %>
    <div class="question-row row-fluid">
      <% questions.each do |question| %>
      <div class="span6">
        <%= link_to question, class: 'question' do %>

          <div class="avatar-container">
            <img src="<%= path_to_image question.representative.image.versions[:avatar]  %>" class="representative" alt="<%= question.representative.name %>">
            <%= image_tag question.representative.current_party.logo, alt: question.representative.current_party.name, class: "party-logo" %>
          </div>
          <p><%= question.teaser %></p>
          <aside class="muted">
            <div>
              Til <%= question.representative.name %>
              fra <span class="party"><%= question.representative.current_party.name %></span>
              i <span class="district"><%= question.representative.district.name %></span>
            </div>
            <div>
              Oppdatert for <%= distance_of_time_in_words_to_now question.updated_at.localtime %> siden
            </div>
          </aside>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
</div>

<%= will_paginate @questions, class: "pagination pagination-centered visible-desktop" %>
<%= will_paginate @questions, class: "pagination pagination-small pagination-centered visible-phone", page_links: false %>
