<div class="page-header">
  <h1>Spørsmål og svar</h1>

  <div class="pull-right">
    <%= render partial: 'shared/social_sharing' %>
  </div>
</div>

<article class="qa-answer-question">
  <h4>Spørsmål til
    <%= link_to @question.representative.full_name, @question.representative %>
    <small><%= @question.representative.party_at(@question.created_at).try(:name) %></small>
  </h4>
  <p class="qa-question-body"><%= @question.body %></p>
  <aside class="muted">
    <span>Av <%= @question.from_display_name %></span>
    <span><%= l @question.created_at.localtime, format: :text_time %></span>
  </aside>
</article>

<hr class="soften">


<div class="qa-answer-answers">
  <h4>Representantenes svar</h4>

  <% if @answer.nil? %>
    <p>Ingen svar foreløpig, klikk her for å få epost når spørsmålet blir besvart osv.</p>
  <% else %>
    <article class="qa-answer-answer">
      <%= link_to @answer.representative, class: 'qa-answer-representative' do %>
        <%= image_tag @answer.representative.image.versions[:small] %>
      <% end %>

      <h4 class="qa-answer-heading lead">
        <%= link_to @answer.representative.name, @answer.representative, class: 'qa-answer-representative' %>
        for
        <%= link_to @answer.party.try(:name), @answer.party, class: "qa-answer-party #{@answer.party.try :external_id}" %>
      </h4>
      <p><%= @answer.body %></p>
    </article>
  <% end %>
</div>
