<% page_title "Spørsmål til #{@question.representative.full_name} - #{t 'app.title'}" %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = question_url(@question) %>

<div class="qa-single">

  <div class="page-header">
    <div class="pull-right"><%= render partial: 'shared/social_sharing' %></div>
    <h1>Spørsmål til
      <%= link_to @question.representative.full_name, @question.representative %>
    </h1>
  </div>

  <article class="row-fluid question">

    <div class="span2 hidden-phone">
      <%= image_tag gravatar_url(@question.from_email), class: 'avatar' %>
    </div>

    <div class="span8">
      <h4><%= @question.from_display_name %></h4>
      <time class="muted"><%= l @question.created_at.localtime, format: :text_time %></time>
      <div><%= simple_format @question.body %></div>
    </div>

   </article>

  <article class="row-fluid answer">
    <div class="span2 hidden-phone">
      <%= link_to @representative do %>
        <%= image_tag @representative.image.versions[:avatar], class: 'avatar' %>
      <% end %>
    </div>

    <div class="span8">
      <h4>
        <%= link_to @representative.name, @representative, class: 'qa-answer-representative' %>
        for <%= link_to @party.name, @party, class: "qa-answer-party #{@party.external_id}" %>
      </h4>

      <% if @answer %>
        <time class="muted"><%= l @answer.created_at.localtime, format: :text_time %></time>
        <div><%= @answer.body %></div>
      <% else %>
        <time></time>
        <div><strong>Spørsmålet venter på svar.</strong></div>
      <% end %>
    </div>

  </article>

  <% if AppConfig.show_question_issues && @question.issues.any? %>
    <article class="row-fluid issues">
      <div class="span2 hidden-phone">
        <%= link_to @party do %>
          <%= image_tag @party.logo.versions[:medium], alt: "#{@party.name}s logo" %>
        <% end %>
      </div>

      <div class="span8">
        <h4>Sjekk hva <%= @party.name %> har stemt på Stortinget i relaterte saker:</h4>
        <ul class="unstyled">
        <% @question.issues.each do |issue| %>
          <li>
            <% if issue.valence_issue? %>
              <%= link_to issue.title, issue %>:
              har <%= issue.valence_explanation_for(@party).try(:title).to_s.downcase %>
            <% else %>
              <%= link_to issue.title, issue %>:
              <%= issue.stats.text_for(@party, name: '', html: true) %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </article>
  <% end %>

</div>
