<h1><%= @question.title %></h1>

<div class="row-fluid">
  <small>Av <strong><%= @question.from_name || 'Anonym' %></strong> <%= l @question.created_at.localtime, format: :text_time %></small>
  <p class="well"><%= @question.body %></p>
</div>

<hr class="soften">

<div class="row-fluid">
  <% if @question.answers.empty? %>
    <p>Ingen svar foreløpig, klikk her for å få epost når spørsmålet blir besvart osv.</p>
  <% else %>
    <% @question.answers.each do |answer| %>
      <div class="row-fluid">
        <div class="span4">
          <small>Svar for <%= answer.representative.party_at(answer.created_at).try(:name) %></small>
          <h3 class="lead"><%= answer.representative.name %></h3>
          <%= image_tag answer.representative.image_with_fallback.thumb('80x106').strip.url %>
        </div>

        <div class="well span8"><%= answer.body %></div>
      </div>

      <hr class="soften">
    <% end %>
  <% end %>
</div>