<div class="page-header">
  <h1>Spørsmål og svar</h1>
</div>

<article class="qa-answer-question">
  <h4>Spørsmål til
    <%= link_to @question.representative.full_name, @question.representative %>
    <small><%= @question.representative.party_at(@question.created_at).try(:name) %></small>
  </h4>
  <p class="qa-question-body"><%= @question.body %></p>
  <aside class="muted">
    <span>Av <%= @question.from_name || 'Anonym' %></span>
    <span><%= l @question.created_at.localtime, format: :text_time %></span>
  </aside>
</article>

<hr class="soften">


<div class="qa-answer-answers">
  <h4>Representantenes svar</h4>

  <% if @question.answers.empty? %>
    <p>Ingen svar foreløpig, klikk her for å få epost når spørsmålet blir besvart osv.</p>
  <% else %>
    <% @question.answers.each do |answer| %>
      <article class="qa-answer-answer">
        <a class="qa-answer-representative" href="/representatives/<%= answer.representative.slug %>">
          <%= image_tag answer.representative.image.versions[:small] %>
        </a>
        <h4 class="qa-answer-heading lead">
          <a class="qa-answer-representative" href="/representatives/<%= answer.representative.slug %>">
            <%= answer.representative.name %>
          </a>
          for
          <a class="qa-answer-party <%= answer.representative.party_at(answer.created_at).try(:external_id) %>" href="/parties/<%= answer.representative.party_at(answer.created_at).try(:slug) %>">
            <%= answer.representative.party_at(answer.created_at).try(:name) %>
          </a>
        </h4>
        <p><%= answer.body %></p>
      </article>
    <% end %>
  <% end %>
</div>
