<% page_type 'article' %>

<div class="qa-single">

  <div class="page-header">
    <div class="pull-right"><%= render partial: 'shared/social_sharing' %></div>
    <h1>Spørsmål til
      <%= link_to @question.representative.full_name, @question.representative %>
    </h1>
  </div>

  <article class="row-fluid question">

    <div class="span2">
      <img src="<%= gravatar_url(@question.from_email) %>" class='avatar'>
    </div>

    <div class="span8">
      <div><%= @question.body %></div>
      <aside class="muted">
        <span>Av <%= @question.from_display_name %></span>
        <span><%= l @question.created_at.localtime, format: :text_time %></span>
      </aside>
    </div>

   </article>

  <article class="row-fluid answer">
    <% if @answer.nil? %>
      <p>Ingen svar foreløpig, klikk her for å få epost når spørsmålet blir besvart osv.</p>
    <% else %>
      <article>

        <div class="span2">
        <%= link_to @answer.representative do %>
          <%= image_tag @answer.representative.image.versions[:avatar], class:'avatar' %>
        <% end %>

        </div>

        <div class="span8">
          <h4>
            <%= link_to @answer.representative.name, @answer.representative, class: 'qa-answer-representative' %>
            for
            <%= link_to @answer.party.try(:name), @answer.party, class: "qa-answer-party #{@answer.party.try :external_id}" %>
          </h4>
          <p><%= @answer.body %></p>
        </div>

      </article>
    <% end %>
  </article>

</div>
