<%= form.inputs do %>
  <%= hidden_field_tag 'issue[category_ids][]' %>

  <div class="well">
    <div class="row-fluid">
      <div class="span3">
        <%= form.text_field :title %>
      </div>

      <div class="span3">
        <%= form.text_area :description, :rows => 5 %>
      </div>

      <div class="span3">
        <label>
          <p><%= Topic.model_name.human.capitalize %></p>
          <p><%= select_tag "issue[topic_ids][]", topic_options_for(@issue), :multiple => 'multiple' %></p>
        </label>

        <small>Bruk Ctrl-klikk (eller Command-klikk på Mac) for å velge flere tema.</small>
      </div>

      <div class="span3">
        <ul class="unstyled">
          <% Issue::STATUSES.each do |status| %>
            <%= form.radio_button :status, t("app.issues.status.#{status}"), status,
                                  checked: @issue.status == status,
                                  disabled: !policy(@issue).change_status? %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <label>
          <p><%= Issue.human_attribute_name :editor %></p>
          <p><%= select_tag "issue[editor_id]", editor_options_for(@issue) %></p>
        </label>
      </div>
    </div>
  </div>
<% end %>

<h1><%= Category.model_name.human(count: 2).capitalize %></h1>
<div class="row">
  <% @categories.each do |cat_column| %>
    <div class="span3">
      <% cat_column.each do |cat_group| %>
        <div class="well">
          <h3><%=cat_group.name %></h3>
          <% [cat_group, cat_group.children].flatten.each do |cat| %>
          <label class="checkbox">
            <%= check_box_tag "issue[category_ids][]", cat.id, @issue.categories.include?(cat) %>
            <%= cat.name %>
          </label>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
