<%= form.inputs do %>
  <%= hidden_field_tag 'issue[category_ids][]' %>

  <div class="well">
    <div class="row-fluid">
      <div class="span3">
        <%= form.text_field :title %>
      </div>

      <div class="span3">
        <%= form.text_area :description, rows: 5 %>
      </div>

      <div class="span3">
        Status
        <ul class="unstyled">
          <% Issue::STATUSES.each do |status| %>
            <%= form.radio_button :status, t("app.issues.status.#{status}"), status,
                                  checked: @issue.status == status %>
          <% end %>
        </ul>
      </div>

      <div class="span3">
        <ul class="unstyled">
          <%= form.check_box :frontpage, "Forsidesak" %>
        </ul>
      </div>
    </div>

    <hr class="soften">

    <div class="row-fluid">
      <div class="span3">
        <label>
          <p><%= Issue.human_attribute_name :editor %></p>
          <p><%= select_tag "issue[editor_id]", editor_options_for(@issue) %></p>
        </label>
      </div>

      <div class="span3"></div>

      <div class="span3">
        <input type="text" name="tags" placeholder="Tags" id="issue-tag-list" class="tagManager"
                data-current-tags="<%= @issue.tag_list.join(",") %>"
                data-all-tags="<%= all_tags.join(',') %>">
      </div>
    </div>
  </div>
<% end %>

<h1><%= Category.model_name.human(count: 2).capitalize %></h1>
<div class="row">
  <% @categories.each do |cat_column| %>
    <div class="span3">
      <% cat_column.each do |cat_group| %>
        <div class="well">
          <h3><%=cat_group.name %></h3>
          <% [cat_group, cat_group.children].flatten.each do |cat| %>
          <label class="checkbox">
            <%= check_box_tag "issue[category_ids][]", cat.id, @issue.categories.include?(cat) %>
            <%= cat.name %>
          </label>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% content_for :document_ready do %>
<script>
  $(document).ready(function() {
    var el = $("#issue-tag-list")
    el.tagsManager({
      prefilled: el.data('current-tags').split(","),
      preventSubmitOnEnter: true,
      typeahead: true,
      typeaheadSource: el.data('all-tags').split(","),
      hiddenTagListName: 'issue[tag_list]'
    });
  });
</script>
<% end %>