<div class="row-fluid">
  <div class="pull-right">
    <%= link_to t('app.issues.edit.new'), new_admin_issue_path, class: 'btn btn-primary' %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Issue.human_attribute_name :title %></th>
      <th><%= Issue.human_attribute_name :updated_at %></th>
      <th><%= Issue.human_attribute_name :editor %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
      <tr class="<%= issue.frontpage? ? 'info' : '' %>">
        <td>
          <p><%= link_to issue.title, issue %></p>
          <small class="muted">
            <%= issue.tags.map(&:name).sort.join(', ') %>
          </small>
        </td>
        <td>
          <p><%= l issue.updated_at.localtime %></p>
          <small class="muted"><%= issue.last_updated_by_name %></small>
        </td>
        <td>
          <%= issue.editor_name %>
        </td>
        <td>
          <p class="pull-right">
            <%= link_to t('app.edit'), edit_admin_issue_path(issue), class: 'btn btn-mini' %>
            <%= link_to t('app.destroy'), admin_issue_path(issue), class: 'btn btn-mini btn-danger',
                        method: :delete,
                        data: { confirm: t('app.issues.edit.confirm_destroy', title: issue.title) } %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
