<button class="btn btn-small" id="new-party-comment">Ny</button>

<div class="party-comments">
  <% issue.party_comments.group_by { |e| e.parliament_period }.
       sort_by { |period, _| period.name }.
       reverse.each do |period, comments| %>
    <h4>
      <%= period.name %>
      <small class="pull-right muted">
        <%= comments.size %> <%= PartyComment.model_name.human(count: comments.size) %>
      </small>
    </h4>

    <% comments.each do |comment| %>
      <div class="row-fluid">
        <div class="span6 offset6">
          <%= select_tag "party_comments[#{comment.id}][party_id]", party_options(selected: comment.party.id) %>
          <%= select_tag "party_comments[#{comment.id}][parliament_period_id]", parliament_period_options(selected: comment.parliament_period.id) %>
        </div>
      </div>

      <div class="row-fluid" data-wmd-editor="<%= comment.id %>">
        <div class="span6">
          <div id="wmd-button-bar-<%= comment.id %>">Kommentar</div>
          <%= text_area_tag "party_comments[#{comment.id}][body]", comment.body, rows: '10', id: "wmd-input-#{comment.id}", style: 'width: 100%' %>
        </div>

        <div class="span6">
          <h5>Forhåndsvisning</h5>
          <div id="wmd-preview-<%= comment.id %>" class="well"></div>
        </div>
      </div>
    <% end -%>
  <% end %>

  <script data-name="party-comment-template" type="text/x-handlebars-template">
    <div class="new-party-comment">
      <div class="row-fluid">
        <div class="span6 offset6">
          <select id="party_comments_{{id}}_party" name="party_comments[{{id}}][party_id]">
            <% Party.order(:name).each do |party| %>
              <option value="<%= party.id %>" {{selectedIfEqual "<%= party.id %>" party_id}}>
                <%= party.name %>
              </option>
            <% end %>
          </select>

          <select id="party_comments_{{id}}" name="party_comments[{{id}}][parliament_period_id]">
            <% ParliamentPeriod.order(:start_date).reverse_order.each do |pp| %>
              <option value="<%= pp.id %>" {{selectedIfEqual "<%= pp.id %>" parliament_period_id}}>
                <%= pp.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="row-fluid" data-wmd-editor="party-comment-{{id}}">
        <div class="span5">
          <div id="wmd-button-bar-party-comment-{{id}}">Kommentar</div>
          <textarea
             style="width: 100%"
             id="wmd-input-party-comment-{{id}}"
             name="party_comments[{{id}}][body]">{{body}}</textarea>

          <div class="span6">
            <h5>Forhåndsvisning</h5>
            <div id="wmd-preview-party-comment-{{id}}" class="well"></div>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>
