<div class="well">
  <h3><%= Position.model_name.human(count: 2) %></h3>

  <table class="table" id="positions-table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      <% @positions.each do |position| %>
        <%= render partial: "position_row", locals: { position: position } %>
      <% end %>
    </tbody>
  </table>
  <button class="btn" id="new-position-button" type="submit">Ny</button>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      var url = <%= vote_search_admin_issue_path(@issue).to_json.html_safe %>;

      var editor = HDO.positionsEditor.create(url);
      var newRowHtml = '<%= render(partial: "position_row", locals: { position: OpenStruct.new(Position.new.as_json.merge(id: 'newPosition', parties: [])) }).to_json.html_safe %>';

      editor.init(newRowHtml);
      editor.initializeMarkdownEditors(<%= @positions.map(&:id) %>);

      $('.position-parties').chosen();
    });
  </script>
<% end %>
