<div class="row-fluid">
  <div class="span4">
    <h5><%= Position.human_attribute_name :parties %></h5>
    <%= select_tag "positions[#{position.id}][parties]",
                   party_options(selected: position.party_ids),
                   multiple: true, data: { placeholder: 'Velg partier' },
                   id: "position-#{position.id}-parties",
                   class: 'position-parties' %>
  </div>

  <div class="span4">
    <h5><%= Position.human_attribute_name :title %></h5>
    <div class="row-fluid">
      <%= text_field_tag "positions[#{position.id}][title]", position.title %>
    </div>

    <h5><%= Position.human_attribute_name :priority %></h5>
    <%= text_field_tag "positions[#{position.id}][priority]", position.priority %>
  </div>

  <div class="span4">
    <h5><%= Position.human_attribute_name :parliament_period %></h5>
    <%= select_tag "positions[#{position.id}][parliament_period_id]", parliament_period_options_for(position), include_blank: true %>
  </div>
</div>

<div class="row-fluid">
  <div class="row-fluid">
    <div class="span7">
      <h5><%= Position.human_attribute_name :description %></h5>
      <div id="wmd-button-bar-<%= position.id %>"></div>
    </div>

    <div class="span5">
      <h5>Forhåndsvisning</h5>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span7">
      <%= text_area_tag "positions[#{position.id}][description]",
                       position.description,
                       rows: '10',
                       id: "wmd-input-#{position.id}", class: 'span10' %>

    </div>

    <div class="span5 well">
      <div id="wmd-preview-<%= position.id %>"></div>
    </div>
  </div>
</div>

<hr class="soften">