<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% @promises_by_party.keys.each_with_index do |party_names, idx| %>
        <li class="<%= 'active' if idx == 0 %>">
          <a href="#<%= party_names.gsub(/\W/, '-') %>-tab" data-toggle="tab"><%= party_names %></a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% @promises_by_party.each_with_index do |(party_names, promises), idx| %>
      <div class="tab-pane <%= 'active' if idx == 0 %>" id="<%= party_names.gsub(/\W/, '-') %>-tab">

          <table class="table table-striped" data-widget="tablesorter">
            <tbody>
              <% promises.each do |promise| %>
              <tr>
                <td><%= promise.external_id %></td>
                <td>
                  <label><%= promise.body %></label>
                  <small class="pull-right"><%= issues_for_promise @issue, promise %></small>
                </td>
                <td><%= check_box_tag "issue[promise_ids][]", promise.id, @issue.promises.include?(promise) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      <% end %>
    </div>
  </div>
</div>

