<div class="well form-horizontal">
  <div class="control-group">
    <label class="control-label" for="keyword"><%= t('app.issues.edit.keyword') %>:</label>
    <div class="controls">
      <input id="keyword" type="text" class="input-medium search-query">
    </div>
  </div>

  <div class="control-group">
    <p class="control-label"><%= t('app.issues.edit.filter') %>:</p>

    <div class="controls">
      <label class="radio">
        <input type="radio" name="filter" value="selected-categories" checked><%= t('app.issues.edit.selected_categories') %>
      </label>

      <label class="radio">
        <input type="radio" name="filter" value="all"><%= t('app.issues.edit.all') %>
      </label>
    </div>
  </div>

  <div class="control-group">
    <p class="control-label">Maks</p>
    <div class="controls">
      <label>
        <select name="limit">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
      </label>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button id="reset" type="submit" class="btn"><%= t('app.issues.edit.reset') %></button>
      <button id="fetch-votes" type="submit" class="btn btn-primary"><%= t('app.issues.edit.fetch_votes') %></button>
    </div>
  </div>
</div>

<h3>
  <%= t('app.issues.edit.search_result') %>
  <small class="pull-right" id="result-count"></small>
</h3>

<%= spinner_tag %>
<div class="vote-container" id="result"></div>

<%= content_for :document_ready do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var url = <%= vote_search_admin_issue_path(@issue).to_json.html_safe %>;

    HDO.voteSearcher.create(url).init();
    HDO.votePropositionFetcher.create().init();

    $(document).on("hdo:vote-search-complete", function() {
      HDO.markdownEditor({ root: "#search-tab" });
    });
  });
</script>
<% end %>
