<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% @promises_by_party.keys.each_with_index do |party_names, idx| %>
        <li class="<%= 'active' if idx == 0 %>">
          <a href="#<%= party_names.gsub(/\W/, '-') %>-tab" data-toggle="tab"><%= party_names %></a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% @promises_by_party.each_with_index do |(party_names, promises), idx| %>
        <div class="tab-pane <%= 'active' if idx == 0 %>" id="<%= party_names.gsub(/\W/, '-') %>-tab">
          <% promises.each do |promise| %>
            <div class="row-fluid">
              <div class="span1">
                <%= promise.external_id %>
              </div>

              <div class="span8">
                <p><%= promise.body %></p>
                <small class="pull-right"><%= issues_for_promise promise %></small>
              </div>

              <div class="span3">
                <div class="pull-right">
                  <% promise_states.each do |status| %>
                  <%= radio_button_tag "promises[#{promise.id}][status]", status, status == promise_status_for(promise) %>
                    <%= t("app.issues.edit.promise.#{status}") %>
                  <% end %>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

