<% if propositions_by_issue_type.values.empty? %>
  <p><%= t('app.search.no_hits') %>!</p>
<% end %>

<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% propositions_by_issue_type.each_with_index do |(issue_type, propositions), idx| %>
        <li class="span4 <%= 'active' if idx == 0 %>">
          <a href="#<%= issue_type %>-tab" data-toggle="tab"><%= issue_type.capitalize %> (<%= propositions.size %>)</a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% propositions_by_issue_type.each_with_index do |(issue_type, propositions), idx| %>
      <div class="tab-pane <%= 'active' if idx == 0 %>" id="<%= issue_type %>-tab">
          <%= render partial: "propositions_list", locals: { propositions_and_connections: propositions.map { |e| [e, nil] } } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
