<div class="well form-horizontal">
  <h3><%= t('app.issues.edit.find_votes') %></h3>

  <div class="control-group">
    <label for="keyword"><%= t('app.issues.edit.keyword') %>:</label>
    <input id="keyword" type="text" class="input-medium search-query">
  </div>

  <div class="control-group">
    <label for="filter"><%= t('app.issues.edit.filter') %>:</label>

    <select id="filter">
      <option value="selected-categories"><%= t('app.issues.edit.selected_categories') %></option>
      <option value="all"><%= t('app.issues.edit.all') %></option>
      <option value="not-connected"><%= t('app.issues.edit.not_connected') %></option>
    </select>
  </div>

  <div class="control-group">
    <button id="reset" type="submit" class="btn btn-warning"><%= t('app.issues.edit.reset') %></button>
    <button id="fetch-votes" type="submit" class="btn btn-info"><%= t('app.issues.edit.fetch_votes') %></button>
  </div>
</div>

<h3>
  <%= t('app.issues.edit.search_result') %>
  <small class="pull-right" id="result-count"></small>
</h3>

<%= spinner_tag %>
<div class="vote-container" id="result"></div>

<% content_for :document_bottom do %>
<script type="text/javascript" charset="utf-8">
  require(["hdo/voteSearcher", "hdo/votePropositionFetcher"], function (searcher, fetcher) {
    var url = <%= vote_search_admin_issue_path(@issue).to_json.html_safe %>;

    searcher.create(url).init();
    fetcher.create().init();
  });
</script>
<% end %>
