<% votes_and_connections.each do |vote, connection| %>
  <div class="row-fluid">
    <div class="span4">
      <h4><%= link_to vote.subject, vote, :target => 'issue_new' %></h4>

      <ul>
        <% vote.parliament_issues.each do |parliament_issue| %>
          <li><%= link_to parliament_issue.summary, parliament_issue, target: '_blank' %></li>
        <% end %>
      </ul>
    </div>

    <div class="span4">
      <label>
        <strong><%= VoteConnection.human_attribute_name :title %></strong>
        <%= text_area_tag "votes[#{vote.id}][title]", connection && connection.title, class: 'span12' %>
      </label>

      <label>
        <strong><%= VoteConnection.human_attribute_name :comment %></strong>
        <%= text_area_tag "votes[#{vote.id}][comment]", connection && connection.comment, class: 'span12', rows: '10' %>
      </label>
    </div>

    <div class="span4">
      <label>
        <strong><%= Vote.human_attribute_name :proposition_type %></strong>
        <p><%= select_tag "votes[#{vote.id}][proposition_type]", proposition_type_options_for(vote) %></p>
      </label>

      <label>
        <strong><%= VoteConnection.human_attribute_name :matches %></strong>
        <p><%= select_tag "votes[#{vote.id}][direction]", vote_options_for(vote, connection), class: 'input-medium' %></p>
      </label>

      <label>
        <strong><%= VoteConnection.human_attribute_name :weight %></strong>
        <p><%= select_tag "votes[#{vote.id}][weight]", weight_options_for(connection), class: 'input-small' %></p>
      </label>

      <% if (connected_issues = connected_issues_for(vote)) && connected_issues.any? %>
        Avstemningen brukes også i
          <ul>
            <% connected_issues.each do |issue| %>
              <li><%= link_to issue.title, issue %>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>

  <div class="row-fluid">
    <a data-vote-slug="<%= vote.slug %>"><%= t 'app.issues.edit.view_proposition_body' %></a>
    <div class="pull-right muted">id: <%= vote.id %>, slug: <%= vote.slug %></div>
  </div>

  <div class="row-fluid proposition-body" id="proposition-body-<%= vote.slug %>">
    <%= image_tag 'spinner.gif', class: 'spinner' %>
  </div>


  <hr>
<% end %>