<div class="row-fluid">
  <small class="span3"><%= link_to '&larr; Tilbake til sakslista'.html_safe, admin_issues_path %></small>
  <small class="span3 offset6 rightify"><%= link_to 'Til sakssiden &rarr;'.html_safe, issue_path(@issue), target: '_blank' %></small>
</div>

<%= form_for @issue do |form| %>
  <%= form.hidden_field :lock_version %>

  <div class="accordion" id="issue-editor">
    <div class="error-message alert alert-error"></div>

    <button name='save' class="btn btn-primary pull-right">Lagre</button>

    <h1><%= @issue.title %></h1>
    <%= spinner_tag %>

    <% @sections.each_with_index do |(key, name), idx| %>
      <div class="accordion-group">
        <div class="lead accordion-heading">
          <div class="accordion-toggle" data-toggle="collapse" data-parent="#issue-editor" data-target="#collapse-<%= key %>">
            <%= name %>

            <% if [:propositions, :promises].include? key %>
              <div class="cart" data-type="<%= key %>"></div>
            <% end %>
          </div>
        </div>

        <div id="collapse-<%= key %>" class="accordion-body collapse <%= 'in' if key.to_s == (params[:section] || 'intro') %>" data-key="<%= key %>">
          <div class="accordion-inner">
            <%= render partial: key.to_s, locals: {form: form, issue: @issue} %>
          </div>
        </div>
      </div>
    <% end -%>

    <div class="form-actions">
      <button name='save' class="btn btn-primary pull-right">Lagre</button>
    </div>
  </div>
<% end %>

<script data-name="navigators-partial" type="text/x-handlebars-template">
{{#navigators}}
  <div class="row-fluid navigators">
    {{#if type.keyword}}
      <input type='search'
             class='input-large search-query'
             name='{{param}}'
             data-url-template="{{filter_url}}"
             value='{{value}}'>
    {{/if}}

    {{#if type.facet}}
      <strong>{{title}}</strong>

      <ul class="unstyled">
        {{#terms}}
          <li class="term {{#active}}active{{/active}}">
            <a href="{{filter_url}}">{{name}}</a>  ({{count}})
            {{#active}}
              <a href="{{clear_url}}" class="pull-right">X</a>
            {{/active}}
          </li>
        {{/terms}}
      </ul>
    {{/if}}

    {{#if type.boolean}}
      <div class="term {{#active}}active{{/active}}">
        <a href="{{filter_url}}">{{title}}</a>
        {{#active}}
          <a href="{{clear_url}}" class="pull-right">X</a>
        {{/active}}
      </div>
    {{/if}}
  </div>
{{/navigators}}
</script>

<script data-name="pagination-partial" type="text/x-handlebars-template">
  <div class="row-fluid">
    <small class="pull-right">
      {{#if previous_url}}
        <a data-xhr href="{{previous_url}}">Forrige</a>
      {{/if}}

      {{current_page}}/{{total_pages}}

      {{#if next_url}}
        <a data-xhr href="{{next_url}}">Neste</a>
      {{/if}}
    </small>
  </div>
</script>

<script data-name="shopping-cart-template" type="text/x-handlebars-template">
  <div>
    Kurv: {{items.length}}
    <a href='#' data-action="use">Bruk</a>
    <a href='#' data-action="clear">Tøm</a>
  </div>
</script>

<%= content_for :document_ready do %>
<script>
  $(function() {
    issueEditor = HDO.issueEditor.create({
      root: "#issue-editor",
      url: "<%= @issue.new_record? ? admin_issues_path : admin_issue_path(@issue) %>",
      id: <%= @issue.id || -1 %>
    });

    issueEditor.init();
  });
</script>
<% end %>
