<h1><%= Issue.model_name.human(count: 2).capitalize %></h1>

<br>
<p><%= link_to t('app.issues.edit.new'), new_admin_issue_path, class: 'btn btn-primary' %></p>
<br>

<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% Issue::STATUSES.each do |status| %>
        <li class="span4 <%= 'active' if status == 'in_progress' %>">
          <a href="#<%= status %>-tab" data-toggle="tab"><%= t("app.issues.statuses.#{status}") %> (<%= @issues_by_status[status].try(:size) || 0 %>)</a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% Issue::STATUSES.each do |status| %>
        <div id="<%= status %>-tab" class="tab-pane <%= 'active' if status == 'in_progress' %>">
          <%= render partial: 'issue_index_table', locals: { issues: @issues_by_status[status] || [] } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
