<h1>
  <%= @issue.title %>
</h1>

<p>
  <%= @issue.description %>
</p>

<div class="row-fluid">
  <div class="span6">
    <h3>Avstemningsskår</h3>

    <dl>
      <% @parties.each do |party| %>
      <dt><%= image_tag party.tiny_logo %><%= party.name %></dt>
      <dd><%= @stats.score_for(party) %>% = <%= @stats.text_for(party, html: true, name: '') %></dd>
      <% end %>
    </dl>
  </div>

  <div class="span6">
    <h3>Etterettelighet</h3>

    <dl>
      <% @parties.each do |party| %>
        <% counts = promise_counts_for(party) %>
        <dt><%= image_tag party.tiny_logo %><%= party.name %></dt>
        <dd>
          <%= @accountability.score_for(party) || 'Ukjent' %>% basert på <%= counts[:total] %> løfter
          <p><small><%= counts[:for] %> støtter saken, <%= counts[:against] %> støtter ikke saken, <%= counts[:related] %> relatert</small></p>
        </dd>
      <% end %>
    </dl>
  </div>
</div>

<hr class="soften">
