<div class="row-fluid">
  <p>Sakene under er basert på avstemninger i perioden 2009-2013.</p>
</div>

<div class="row-fluid">
  <div class="span6">
    <h4 class="lead leaderboard-title">
      <img alt="Ikon for holdt løfte" src='<%= asset_path("taxonomy-icons/promise_kept.png") %>'>
      <span><%= t("app.promises.scores.caption.kept").capitalize %> ord i følgende saker</span>
    </h4>
    <div class="leaderboard issues kept">
      <%= render partial: 'issue_group', locals: { key: :kept, issues: Array(@issue_groups[:kept]) } %>
    </div>
  </div>

  <div class="span6">
    <% [:broken, :partially_kept].each do |key| %>
      <h4 class="lead leaderboard-title">
        <img alt="Ikon for brutt løfte" src='<%= asset_path("taxonomy-icons/promise_broken.png") %>'>
        <span><%= t("app.promises.scores.caption.#{key}").capitalize %> ord i følgende saker</span>
      </h4>

      <div class="leaderboard issues <%= key %>">
        <%= render partial: 'issue_group', locals: { key: key, issues: Array(@issue_groups[key]) } %>
      </div>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h4 class="lead leaderboard-title">
      <span>Saker hvor <%= @party.name %> ikke har konkrete løfter i sitt partiprogram</span>
    </h4>

    <div class="leaderboard issues no_promises">
      <%= render partial: 'issue_group', locals: { key: :no_promises, issues: Array(@issue_groups[:no_promises]) } %>
    </div>
  </div>
</div>
