<div class="row-fluid">
  <% [:kept, :partially_kept, :broken, :no_promises].each do |key| %>
  <div class="span3">
    <h4 class="lead"><%= t("app.promises.scores.caption.#{key}").capitalize %></h4>
    <ul class="issue-list">
      <% Array(@issue_groups[key]).each do |issue| %>
        <li>
          <%= link_to issue do %>
            <% score = issue.stats.score_for(@party); vote_key = issue.stats.key_for(score) %>
            <span class="issue-<%= vote_key %>"><%= t "app.#{vote_key}" %></span>
            <span class="issue-list-text">
              <%= t 'app.lang.infinitive_particle' %>  <%= issue.downcased_title %>.
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>