<div class="page-header">
  <h1><%= @party.name %> <small class="pull-right"><%= @party.external_id %></small></h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <p>Sett in partiinfo her.</p>
    </div>
    <div class="span9">
      <h3><%= Representative.model_name.human count: 2 %></h3>
      <%= render partial: "representative_gallery" %>
      <h3><%= Promise.model_name.human count: 2 %></h3>
      <%= render partial: "shared/promises_table", locals: { promises: @party.promises, show_party: false, show_general: false, show_source: false,} %>
      </div>
    </div>
  </div>
