<div class="page-header">
  <h1>
    <%= @party.name %>
    <small><%= render partial: "representative_search", locals: { representatives: @party.representatives } %></small>
  </h1>
</div>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span4">
      <%= image_tag @party.image_with_fallback.thumb("210x290").url, alt: "#{@party.name}s logo" %>
    </div>

    <div class="span8">
      <h3><%= Representative.model_name.human(count: 2).capitalize %></h3>
      <%= render partial: "representative_gallery", locals: { representatives: @party.representatives } %>
    </div>
  </div>

  <div class="row-fluid">

    <div class="span4">
      <%= render partial: "topic_list", locals: { party: @party, :topics => @topics } %>
    </div>

    <div class="span8">
      <h3><%= Promise.model_name.human(count: 2).capitalize %></h3>
      <%= render partial: "shared/promises_table", locals: { promises: @party.promises, show_party: false, show_general: false, show_source: false,} %>
    </div>
  </div>

</div>
