<% page_title "#{@party.name} - #{t('app.title')}" %>

<h2 class="party-title-name">
  <%= image_tag @party.logo, alt: "#{@party.name}s logo", width: '96', height: '96' %>
  <%= @party.name %>
</h2>

<hr>

<div id="representatives" class="swiper-container">
  <div class="swiper-wrapper">
  <% @representatives.each_slice(1).with_index do |representative_group, index| %>
    <% representative_group.each do |representative| %>
      <div class="swiper-slide representative">
        <%= link_to(representative) do %>
          <img src="<%= path_to_image representative.image.versions[:small] %>" height="160" width="120">
          <span><%= representative.full_name %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="swiper-navigation swiper-prev">&lt;</div>
  <div class="swiper-navigation swiper-next">&gt;</div>

</div>

<hr class="soften">

<% content_for :document_ready do %>
  <script>
    /* Returns the number of slides wanted dependig on container width.  */
    function getSlideSize() {
      var maxWidth = $('.container').first().width();
      var slideWidth = 120;
      return Math.floor(maxWidth/slideWidth);
    }
    /* Updates the slide count  */
    window.onload = function() {
      var swiperParty = new Swiper('.swiper-container', {'slidesPerSlide': getSlideSize()});

      $('.swiper-prev').on('click', swiperParty.swipePrev);
      $('.swiper-next').on('click', swiperParty.swipeNext);

      $(window).resize(function() {
        swiperParty.params.slidesPerSlide = getSlideSize();
      });
    }
  </script>
<% end %>


<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">

      <li class="span6">
        <a href="#promises-tab" data-toggle="tab">Hva de har lovet</a>
      </li>

      <li class="active span6">
        <a href="#issues-tab" data-toggle="tab">Hva de har stemt</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="issues-tab">
          <%= render partial: "issue_list", locals: { party: @party, :issues => @issues } %>
      </div>

      <div class="tab-pane" id="promises-tab">
        <div class="span3 categories">
          <%= render partial: 'shared/main_categories_list', locals: { categories: @categories } %>
        </div>

        <div class="span9">
          <%= render partial: 'shared/promises_results' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      var widget = HDO.promiseWidget.create({
        targetEl: $(".promises-results"),
        categoriesSelector: $(".categories"),
        server: HDO.promiseServerFacade,
        activeParty: '<li class="<%= @party.slug %>-active"><a href="#" data-party-slug="<%= @party.slug %>"></a></li>',
        spinnerEl: $("#spinner")
      });

      widget.init();
    });
  </script>
<% end %>
