<% title "#{@party.name} - #{t('app.title')}" %>
<div class="page-header">
  <h1>
    <%= @party.name %>
    <small><%= render partial: "representative_search", locals: { representatives: @representatives } %></small>
  </h1>
</div>

<div class="row-fluid">
  <div class="span4">
    <%# TODO(henrik): skaler i CSS %>
    <%= image_tag @party.logo, alt: "#{@party.name}s logo", width: '210', height: '210' %>
  </div>

  <div class="span8">
    <h3><%= Representative.model_name.human(count: 2).capitalize %></h3>
    <%= render partial: "representative_gallery", locals: { representatives: @representatives } %>
  </div>
</div>

<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">

      <li class="span6">
        <a href="#promises-tab" data-toggle="tab">Hva de har lovet</a>
      </li>

      <li class="active span6">
        <a href="#issues-tab" data-toggle="tab">Hva de har stemt</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="issues-tab">
          <%= render partial: "issue_list", locals: { party: @party, :issues => @issues } %>
      </div>

      <div class="tab-pane" id="promises-tab">
        <div class="span3 categories">
          <%= render partial: 'shared/main_categories_list', locals: { categories: @categories } %>
        </div>

        <div class="span9">
          <%= render partial: 'shared/promises_results' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      var widget = HDO.promiseWidget.create({
        targetEl: $(".promises-results"),
        categoriesSelector: $(".categories"),
        server: HDO.promiseServerFacade,
        activeParty: '<li class="<%= @party.slug %>-active"><a href="#" data-party-slug="<%= @party.slug %>"></a></li>',
        spinnerEl: $("#spinner")
      });

      widget.init();
    });
  </script>
<% end %>