<% page_title "#{@party.name} - #{t('app.title')}" %>
<% metadata[:image] = File.join(root_url, @party.logo.url) %>

<h2 class="party-title-name">
  <%= image_tag @party.logo, alt: "#{@party.name}s logo", width: '96', height: '96' %>
  <%= @party.name %>
</h2>

<div id="representatives">
  <div class="swiper-container">
    <div class="swiper-wrapper">
    <% @representatives.each_slice(1).with_index do |representative_group, index| %>
      <% representative_group.each do |representative| %>
        <div class="swiper-slide representative">
          <%= link_to(representative) do %>
            <img src="<%= path_to_image representative.image.versions[:small] %>" height="160" width="120">
            <span><%= representative.full_name %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="swiper-navigation swiper-prev">&lt;</div>
  <div class="swiper-navigation swiper-next">&gt;</div>
</div>

<hr class="soften">

<% content_for :document_ready do %>
  <script>
    /* Returns the number of slides wanted dependig on container width.  */
    function getSlideSize() {
      var maxWidth = $('.container').first().width();
      var slideWidth = 120;
      return Math.floor(maxWidth/slideWidth);
    }
    /* Updates the slide count  */
    $(document).ready(function() {
      var swiperParty = new Swiper('.swiper-container', {'slidesPerSlide': getSlideSize()});

      $('#representatives .representative').fadeTo('slow', 1);

      $('.swiper-prev').on('click', swiperParty.swipePrev);
      $('.swiper-next').on('click', swiperParty.swipeNext);

      $(window).resize(function() {
        swiperParty.params.slidesPerSlide = getSlideSize();
      });
    })
  </script>
<% end %>

<div class="row-fluid">
  <div class="row-fluid">
    <p>Sakene under er basert på avstemninger i perioden 2009-2013.</p>
  </div>

  <%= render partial: 'positions' unless @party.external_id == 'MDG' %>
</div>