<%= link_to t('app.answers.page.back'), representative_root_path %>
<h1><%= t 'app.answers.page.title' %></h1>
<div class="well">
  <h3><%= @question.from_name %> spurte:</h3>
  <big><%= @question.body %></big>
  <small class="pull-right"><%= l @question.updated_at, format: :text_time %></small>
</div>

<% if @question.answer %>
  <div class="well">
    <span class="pull-right">
      <span class="<%= label_for_status(@question.answer.status) %>">
        <%= t "app.answers.status.#{@question.answer.status}"%>
      </span>
    </span>
    <h3><%= t 'app.answers.page.your_answer' %></h4>
    <p><big><%= @question.answer.body %></big></p>
    <small class="pull-right"><%= l @question.answer.updated_at, format: :text_time %></small>
  </div>

  <div class="row-fluid">
    <%= explanation_for_status(@question.answer.status).html_safe %>
  </div>
<% end %>

<% if @question.answer.nil? || @question.answer.rejected? %>
  <div class="row-fluid">
    <h4>Skriv inn svar:</h4>
    <%= form_for([:representative, @question, @answer]) do |f| %>
      <%= hidden_field_tag "answer[question_id]", @question.id %>
      <%= hidden_field_tag "answer[representative_id]", @question.representative_id %>

      <% if @answer.errors.any? %>
        <div class="alert alert-error">
          <ul>
            <% @answer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <div class="controls">
          <%= f.text_area :body, class: 'span12 qa-form-body', rows:  5%>
        </div>
      </div>

      <div class="actions">
        <p class="muted"><%= t('app.answers.page.before_publishing_info').html_safe %></p>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>


<div id="code-of-conduct" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="code-of-conduct" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Retningslinjer</h3>
  </div>

  <div class="modal-body">
    <%= render partial: 'questions/conduct' %>
  </div>

  <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Skjønner!</button>
   </div>
</div>