<div class="representative-dashboard">
  <div class="page-header">
    <h2>Hei <%= current_representative.name %>!</h2>
  </div>

  <% if AppConfig.answers_enabled %>
    <big>
      <p>Dette er din personlige side på Holder de ord. Hit kommer spørsmål fra velgerne etter at de er blitt moderert.</p>
      <p>Lurer du på noe? Send oss en <%= mail_to 'kontakt@holderdeord.no', 'epost', encode: 'hex' %></a>.</p>
    </big>

    <hr class="soften">

    <div class="row-fluid">
      <% @counts.each do |caption, count, muted| %>
        <div class="stat <%= 'muted' if muted %> span<%= 12 / @counts.size %>">
          <h1><%= count %></h1>
          <%= caption %>
        </div>
      <% end %>
    </div>

    <hr>

    <h3>Dine spørsmål</h3>

    <table class="table table-condensed table-hover">
      <thead>
        <th>Fra</th>
        <th>Spørsmål</th>
        <th>Status</th>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr class="<%= 'muted' if question.answer %>">
            <td>
              <%= question.from_name %>
              <p class="muted"><%= distance_of_time_in_words question.updated_at, Time.now %> siden</p>
            </td>
            <td><%= question.teaser %></td>
            <td>
              <p><span class="<%= label_for(question) %> %>"><%= label_text_for(question)%></span></p>
              <% if question.answer.nil? %>
                <%= link_to 'Svar!', representative_question_path(question), class: 'btn btn-small btn-primary' %>
              <% else %>
                <%= link_to 'Les', representative_question_path(question), class: 'btn btn-small' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>