<%= link_to t('app.answers.page.back'), representative_root_path %>
<h1><%= t 'app.answers.page.title' %></h1>
<div class="well">
  <h3><%= @question.from_name %> spurte:</h3>
  <big><%= @question.body %></big>
  <small class="pull-right"><%= l @question.updated_at, format: :text_time %></small>
</div>

<% if @question.answer %>
  <%= render partial: 'answer' %>
<% end %>

<% if @question.answer.nil? || @question.answer.rejected? %>
  <%= render partial: 'form' %>
<% end %>


<div id="code-of-conduct" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="code-of-conduct" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Retningslinjer</h3>
  </div>

  <div class="modal-body">
    <%= render partial: 'questions/conduct' %>
  </div>

  <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Skjønner!</button>
   </div>
</div>