<div id="admin-info" class="alert alert-warning">
  Denne saken er <strong><%= @issue.status_text.downcase %></strong>.

  <div class="row-fluid">
    <div class="span8">
      <%= Issue.human_attribute_name :editor %> er <strong><%= @issue.editor_name %></strong>,
      <%= Issue.human_attribute_name(:last_updated_by).downcase %> <strong><%= @issue.last_updated_by_name %></strong> for <%= @issue.time_since_updated %> siden.
    </div>

    <div class="span4 rightify">
      <% if policy(@issue).edit? %>
        <%= link_to t('app.edit'), edit_next_admin_issue_path(@issue), class: 'btn btn-small' %>
        <button class="btn btn-small" data-modal-url="<%= admin_issue_path(@issue) %>" href="#view-scores"><%= t 'app.issues.view_scores' %></button>
      <% end %>
    </div>
  </div>
</div>

<div id="view-scores" class="modal hide fade" tabindex="-1"></div>
<script>HDO.xhrModal($('#admin-info button'), {width: '30%'})</script>
