<%= twitter_bootstrap_form_for @issue do |form| %>
<% if @issue_steps %>
  <div class="row">
    <div class="pagination pull-right">
      <ul>
        <% @issue_steps.each do |step| %>
          <li class="<%= 'active' if params[:step] == step %>">
            <%= link_to Issue.human_attribute_name(step), '#', :onclick => "submitStep('#{step}');"  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

  <%= render partial: "edit_buttons", locals: { form: form, disable_prev: @disable_prev, disable_next: @disable_next } %>
  <%= render partial: "#{edit_steps.current}_step", locals: { form: form } %>
<% end %>

<script>
  function submitStep(step) {
    var form = $('.edit_issue');
    $('<input>').attr({
      type: 'hidden',
      id: 'step-name',
      name: 'step',
      value: step
      }).appendTo(form);
    form.submit();
  }
</script>