<div class="issue-party" id="<%= party.slug %>">

  <header>
    <div class="icon">
      <%= party.link class: party.external_id do %>
        <%= party.logo class: "issue-party-logo" %>
      <% end %>
    </div>

    <div class="content">
      <h3 class="issue-party-name lead">
        <%= party.link class: party.external_id do %>
          <%= party.name %>
        <% end %>
        <div class="muted"><%= party_group.name %></div>
      </h3>

      <p class="issue-party-summary">
        <%= party.position_text %>
        <%= party.accountability_text if AppConfig.show_accountability %>
      </p>
    </div>
  </header>

  <section class="issue-party-votes">
    <div class="icon muted">
      <div><%= party.position_logo %></div>
      <div><%= party.position_caption %></div>
    </div>

    <div class="content">
      <h5 class="issue-party-vote-title"><%= Vote.model_name.human(count: 2).capitalize %></h2>
      <ul class="vote-list">
        <% party.votes.each do |vote| %>
          <li>
            <%= link_to votes_issue_path(@issue, anchor: vote.anchor) do %>
              <span class="issue-<%= vote.direction %>"><%= vote.label %></span>
              <span class="issue-list-text"><%= vote.title %>.</span>
              <time><%= vote.month_and_year %></time>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <section class="issue-party-promises">
    <% if AppConfig.show_accountability %>
      <div class="icon muted">
        <div><%= party.promise_logo %></div>
        <div><%= party.promise_caption %></div>
      </div>
    <% end %>

    <div class="content">
      <% if party.has_promises? %>
        <% party.promise_groups.sort_by { |source, _| source }.each do |source, promises| %>
          <h5 class="issue-party-promise-title">Løfter fra <%= source %></h5>
          <ul class="issue-party-promise-list">
            <% promises.each do |promise| %>
              <li><%= link_to promise.body, promise_path(promise) %></li>
            <% end %>
          </ul>
        <% end %>
      <% else %>
        <h5 class="issue-party-promise-title">Løfter fra partiprogram</h5>
        <ul class="issue-party-promise-list">
          <li><%= t 'app.parties.no_promises' %></li>
        </ul>
      <% end %>
    </div>
  </section>

  <% if party.has_comment? %>
    <section class="issue-party-comment">
      <div class="content">
        <h5><%= party.name %>s kommentar</h5>
        <p><%= party.comment.body %></p>
      </div>
    </section>
  <% end %>

</div>
