<div class="issue-party" id="<%= party.name %>">

  <header>
    <div class="icon">
      <%= party.link class: party.external_id do %>
        <%= party.logo class: "issue-party-logo" %>
      <% end %>
    </div>

    <div class="content">
      <h4 class="issue-party-name">
        <%= party.link class: party.external_id do %>
          <%= party.name %>
        <% end %>
      </h4>

      <p class="issue-party-summary">
        <%= party.position_text %>.
        <%= party.accountability_text if AppConfig.show_accountability %>
      </p>
    </div>
  </header>

  <section class="issue-party-votes">
    <div class="icon">
      <%= party.position_logo %>
    </div>

    <div class="content">
      <h5 class="issue-party-vote-title"><%= Vote.model_name.human(count: 2).capitalize %></h2>
      <ul class="issue-party-vote-list">
        <% party.votes.each do |vote| %>
          <li>
            <span class="issue-<%= vote.direction %>"><%= vote.label %></span>
            <%= link_to vote.title, votes_issue_path(@issue, anchor: vote.anchor) %></a>
            <small class="muted"><%= vote.month_and_year %></small>
          </li>
        <% end %>
      </ul>
    </div>
  </section>

  <section class="issue-party-promises">
    <% if AppConfig.show_accountability %>
      <div class="icon"><%= party.promise_logo %></div>
    <% end %>

    <div class="content">
      <% if party.has_promises? %>
        <% party.promise_groups.sort_by { |source, _| source }.each do |source, promises| %>
          <h5 class="issue-party-promise-title">Løfter fra <%= source %></h5>
          <ul class="issue-party-promise-list">
            <% promises.each do |promise| %>
              <li><%= promise.body %></li>
            <% end %>
          </ul>
        <% end %>
      <% else %>
        <h5 class="issue-party-promise-title">Løfter fra partiprogram</h5>
        <ul class="issue-party-promise-list">
          <li><%= t 'app.parties.no_promises' %></li>
        </ul>
      <% end %>
    </div>
  </section>
</div>
