<% if period.positions.any? %>
  <div class="new-positions">
    <div class="row-fluid">
      <div class="span8 offset2">
        <h3><%= period.name %></h3>
      </div>
    </div>

    <!-- promises -->
    <div class="row-fluid">
      <div class="span9 offset2">
        <h4>Hva har blitt lovet</h4>
      </div>

      <% period.promisors.each do |promisor| %>
        <div class="row-fluid group">
          <div class="span2">
            <% promisor.parties.reverse.each do |party| %>
              <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
            <% end %>
          </div>

          <div class="span10">
            <%= promisor.teaser %>
          </div>
        </div>
      <% end %>
    </div>
    <hr class="divider">

    <!-- positions -->
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span9 offset2">
          <h4>Hva har blitt stemt</h4>
          <small class="muted"><%= period.explanation %></small>
        </div>
      </div>

      <% period.positions.each do |position| %>
      <div class="row-fluid group">
          <div class="span2">
            <% position.parties.reverse.each do |party| %>
              <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
            <% end %>
          </div>

          <div class="span10">
            <div class=""><%= position.title %></div>
            <div class="muted"><%= position.description %></div>
          </div>
      </div>
      <% end %>
    </div>
    <hr class="divider">

    <!-- accountability -->
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span9 offset2">
          <h4>Vår vurdering</h4>
        </div>
      </div>

      <% period.positions.flat_map(&:parties).uniq.sort_by(&:name).each do |party| %>
        <div class="row-fluid group">
          <div class="span2"><%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %></div>
          <div class="span10"><%= party.accountability %></div>
        </div>
      <% end %>
    </div>

  </div>
<% end %>
