<% group.parties.each do |party| %>
  <div class="row-fluid issues-party">
    <div class="span2">
      <%= link_to party_path(party) do %>
        <%= image_tag party.image_with_fallback.thumb('100x100').url, alt: "#{party.name}s logo" %>
      <% end %>
    </div>

    <div class="span10">
      <p class="issues-party-position">
        <%= issue.stats.text_for(party, html: true) %> <%= t 'app.lang.infinitive_particle' %> <%= issue.downcased_title %>
      </p>

      <% if promise_group = promises_by_party[party] %>
        <% promise_group.sort_by { |h, p| h }.each do |header, promises| %>
          <p><%= header %></hp>
          <ul>
            <% promises.each do |promise| %>
              <li><%= promise.body %></li>
            <% end %>
          </ul>
        <% end %>
      <% else %>
        <p><%= t 'app.parties.no_promises' %></p>
      <% end %>
    </div>

  </div>
<% end %>