<% if period.positions.any? %>
  <div class="positions">
    <div class="row-fluid">
      <div class="span8 offset2">
        <h3>Det store bildet <%= period.name %></h3>
        <small class="muted"><%= period.explanation %></small>
      </div>
    </div>

    <% period.positions.each do |position| %>
      <div class="row-fluid">
        <div class="span9 offset2">
          <h4><%= position.title %></h4>
          <p class="position-description"><%= position.description %></p>
        </div>
      </div>

      <% position.parties.each do |party| %>
        <div class="row-fluid">

          <div class="span1 offset1">
            <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
          </div>

          <div class="span9">
            <%= party.accountability %>

            <% if party.promises.any? %>
              <a data-toggle="collapse" data-target="#<%= [party.slug, period.name, 'promises'].join('-') %>" href="#" >
                <% if party.promises.all?(&:related?) %>
                  Se relaterte løfter
                <% else %>
                  Se løftene
                <% end %>
              </a>
            <% end %>

            <% if party.comment.present? %>
              &nbsp;
              <a data-toggle="collapse" data-target="#<%= [party.slug, period.name, 'comments'].join('-') %>" href="#">
                <%= party.name %>s kommentar
              </a>
            <% end %>

            <% if party.promises.any? %>
              <div class="collapse promises" id="<%= [party.slug, period.name, 'promises'].join('-') %>">
                <ul>
                  <% party.promises.each do |p| %>
                    <li class="promise-<%= p.status %> <%= 'muted' if p.related? %>">
                      <%= link_to p.promise.body, p.promise %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <% if party.comment.present? %>
              <div class="collapse party-comments" id="<%= [party.slug, period.name, 'comments'].join('-') %>">
                <small class="muted">Kommentar fra <%= party.name %>, <%= l party.comment.created_at, format: :text %></small>
                <blockquote><%= markdown(party.comment.body).html_safe %></blockquote>
              </div>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
