<h5 class="issue-party-promise-title <%= 'muted' if promise_connections.all?(&:related?) %>">Løfter fra <%= source %></h5>
<ul class="issue-party-promise-list">
  <% if promise_connections.any? %>
    <% promise_connections.each do |pc| %>
      <li class="<%= 'muted' if pc.related? %>"><%= link_to pc.promise.body, promise_path(pc.promise) %></li>
    <% end %>
  <% else %>
    <li class="muted"><%= t 'app.parties.no_promises' %></li>
  <% end %>
</ul>
