<figure class="valence">
  <% @issue.valence_issue_explanations.each do |explanation| %>
    <div class="row-fluid position">
      <div class="span3">
        <div class="parties_<%= explanation.parties.size %>">
          <% explanation.parties.sort_by(&:name).each do |party| %>
            <a href="#<%= party.slug %>">
              <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo", class: "party-logo" %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="span7">
        <h4><%= explanation.title %></h4>
        <p><%= explanation.explanation %></p>
      </div>
    </div>
  <% end %>
</figure>
