<figure class="position">
  <% @issue.valence_issue_explanations.each do |explanation| %>
    <div class="row-fluid" style="margin-bottom: 20px;">
      <div class="span4">
        <div class="canvas parties_<%= explanation.parties.size %>">
          <% explanation.parties.sort_by(&:name).each do |party| %>
            <a class="issue-graph-party" href="#<%= party.slug %>">
              <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="span8">
        <%= explanation.explanation %>
      </div>
    </div>
  <% end %>

  <figcaption class="muted">
    <%= render partial: 'shared/social_sharing' %>
    <p><%= @issue.explanation %></p>
  </figcaption>
</figure>


