<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% votes_by_issue_type.keys.each_with_index do |issue_type, idx| %>
        <li class="span4 <%= 'active' if idx == 0 %>">
          <a href="#<%= issue_type %>-tab" data-toggle="tab"><%= issue_type.capitalize %></a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% votes_by_issue_type.each_with_index do |(issue_type, votes), idx| %>
      <div class="tab-pane <%= 'active' if idx == 0 %>" id="<%= issue_type %>-tab">
          <%= render partial: "votes_list", locals: { votes_and_connections: votes.map { |e| [e, nil] } } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
