<div class="row-fluid state-header">
  <h5 class="span4">For</h5>
  <h5 class="span4">Mot</h5>
  <h5 class="span4">Ikke tilstede</h5>
</div>

<% if issue_vote.has_results? %>

  <% all_parties.each do |party| %>
    <div class="row-fluid state-column">
      <% [:for, :against, :absent].each do |result_key| %>
        <div class="span4" data-party-slug="<%= party.slug %>-<%= issue_vote.title %>">
          <% if issue_vote.vote_result_groups[result_key][party].any? %>
            <%= image_tag party.logo, alt: party.name, width: '24', height: '24' %>
            <span class="state-party"><%= party.name %>
            (<%= issue_vote.vote_result_groups[result_key][party].size %>)</span>
          <% end %>

          <div class="representatives-list hidden" data-party-slug="<%= party.slug %>-<%= issue_vote.title %>-reps">
            <% issue_vote.vote_result_groups[result_key][party].each do |rep| %>
                <p><%= link_to rep.name, rep %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <div class="row-fluid">
    <p>
      <%= issue_vote.no_results_explanation %>
      Les mer om <%= link_to 'enstemmige vedtak', home_faq_path(anchor: 'hvordan-vet-dere-hvem-som-var-tilstede-nr-vedtaket-er-enstemmig') %>.
    </p>
  </div>
<% end %>