<% votes_and_connections.each do |vote, connection| %>
  <div class="row-fluid vote">
    <div class="span2">
      <a data-toggle="collapse" data-target="#proposition-body-<%= vote.id %>"><%= t 'app.expand' %></a>
    </div>

    <div class="span1"><h5><%= vote.external_id %></h5></div>

    <div class="span5">
      <h4><%= link_to vote.subject, vote, :target => 'issue_new' %></h4>
      <ul>
        <% vote.parliament_issues.each do |parliament_issue| %>
          <li><%= link_to parliament_issue.summary, parliament_issue %></li>
        <% end %>
      </ul>
    </div>

    <div class="span2">
      <%= select_tag "votes[#{vote.id}][direction]", vote_options_for(vote, connection) %>

      <label>
        <%= VoteConnection.human_attribute_name :weight %>
        <%= select_tag "votes[#{vote.id}][weight]", weight_options_for(connection) %>
      </label>

      <label>
        <%= VoteConnection.human_attribute_name :description %>
        <%= text_area_tag "votes[#{vote.id}][description]", connection && connection.description %>
      </label>

      <label>
        <%= VoteConnection.human_attribute_name :comment %>
        <%= text_area_tag "votes[#{vote.id}][comment]", connection && connection.comment %>
      </label>
    </div>
  </div>

  <div class="row-fluid collapse" id="proposition-body-<%= vote.id %>">
    <div class="span10">
      <% vote.propositions.each do |prop| %>
        <%= prop.body.html_safe %>
      <% end %>
    </div>
  </div>

  <hr class="soften">
<% end %>