<div class="pagination pull-right">
  <ul>
    <% @issue_steps.each do |step| %>
      <li class="<%= 'active' if params[:step] == step %>">
        <%= link_to Issue.human_attribute_name(step), edit_issue_step_path(@issue, :step => step)  %>
      </li>
    <% end %>
  </ul>
</div>

<div class="page-header">
  <h1><%= t('app.issues.edit.edit') %>: <%= @issue.title %></h1>
</div>

<%= render 'form' %>
