<% page_title "#{t('app.issues.title')} - #{t('app.title')}" %>

<% @groups.each do |tag, issues| %>
  <div class="row-fluid" id="tag-<%= tag.slug %>">
    <h3 class="lead tagblock-caption"><%= tag.name %></h3>
    <section class="tagblock">
    <% issues.each_slice(2) do |issues| %>
      <div class="row-fluid">
      <% issues.each do |issue| %>
        <article class="issue span6">
        <%= link_to issue do %>
          <h4><%= issue.title %></h4>
          <p>
            <%= awesome_truncate issue.description, 400 %>
            <span class="read-more"><%= t('app.read_more') %></span>
          </p>
        <% end %>
        </article>
      <% end %>
      </div>
    <% end %>
    </section>
  </div>
<% end %>
