<% page_title "#{@issue.title} - #{t('app.issues.title')} - #{t('app.title')}" %>
<% metadata[:description] = @issue.description %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = issue_url(@issue) %>

<div id="admin-info"></div>
<%= content_for :document_ready do %>
  <script>
  $(document).ready(function() {
    if (HDO.ssl && 'https:' != document.location.protocol) {
      return;
    }

    $.ajax({
      url: '<%= admin_info_issue_path(@issue) %>',
      type: 'GET',
      dataType: 'html',
      success: function(data, textStatus, xhr) { $("#admin-info").html(data); }
    });
  });
  </script>
<% end %>

<article class="issue-timeline">
  <div class="page-header">
    <h1 class="issue-title"><%= @issue.title %></h1>
    <div class="row-fluid">
      <div class="span6">
        <%= render partial: 'aside', locals: { issue: @issue } %>
      </div>

      <div class="pull-right">
        <%= render partial: 'shared/social_sharing' %>
      </div>
    </div>
  </div>

  <p class="issue-description"><%= @issue.description %></p>

  <% @issue.periods.each do |period| %>
    <% if period.positions.any? %>
      <div class="positions">
        <div class="row-fluid">
          <div class="span8 offset2">
            <h3>Det store bildet <%= period.name %></h3>
          </div>
        </div>

        <% period.positions.each do |position| %>
          <div class="row-fluid">
            <div class="span9 offset2">
              <h4><%= position.title %></h4>
              <p class="position-description"><%= position.description %></p>
            </div>
          </div>

          <% position.parties.each do |party| %>
            <div class="row-fluid">

              <div class="span1 offset1">
                <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
              </div>

              <div class="span9">
                <%= party.accountability %>

                <% if party.promises.any? %>
                  <a data-toggle="collapse" data-target="#<%= [party.slug, period.name, 'promises'].join('-') %>" onclick="return false;" href="#" >
                    <% if party.promises.all?(&:related?) %>
                      Se relaterte løfter
                    <% else %>
                      Se løftene
                    <% end %>
                  </a>
                <% end %>

                <% if party.comment.present? %>
                  <a data-toggle="collapse" data-target="#<%= [party.slug, period.name, 'comments'].join('-') %>" onclick="return false;" href="#">
                    Se <%= party.name %>s kommentar
                  </a>
                <% end %>

                <% if party.promises.any? %>
                  <div class="collapse promises" id="<%= [party.slug, period.name, 'promises'].join('-') %>">
                    <ul>
                      <% party.promises.each do |p| %>
                        <li class="promise-<%= p.status %> <%= 'muted' if p.related? %>">
                          <%= link_to p.promise.body, p.promise %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <% if party.comment.present? %>
                  <div class="collapse party-comments" id="<%= [party.slug, period.name, 'comments'].join('-') %>">
                    <p><%= markdown(party.comment.body).html_safe %></p>
                  </div>
                <% end %>

              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="timeline">
      <% period.years.each do |year| %>
        <div class="yearmarker"><%= year.year %></div>

        <% year.days.each do |day| %>
          <div class="row-fluid timeline-entry">
            <div class="span6"></div>
            <div class="date span6">
              <div class="day"><%= day.day %></div>
              <div class="month"><%= day.month %></div>
            </div>
          </div>

          <% day.votes.in_groups_of(2, false).each do |votes| %>
            <div class="row-fluid votes">
            <% votes.each do |vote| %>
              <div class="span6 vote">
                <p class="vote-title"><%= vote.title %></p>
                <div class="vote-detail"><%= markdown(vote.comment).html_safe %></div>
              </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</article>
