<% page_title "#{@issue.title} - #{t('app.issues.title')} - #{t('app.title')}" %>
<% metadata[:description] = @issue.description %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = issue_url(@issue) %>

<article class="issue-next">
  <div class="page-header">
    <h1 class="issue-title"><%= @issue.title %></h1>
    <%= render partial: 'aside', locals: { issue: @issue } %>
  </div>

  <p class="issue-description"><%= @issue.description %></p>

  <div class="row-fluid">
    <div class="span4 party-list">
      <% @issue.parties.each do |party| %>
        <div class="row-fluid party">
          <div class="row-fluid">
            <h4 class="span8"><%= party.name %></h4>
            <%= image_tag party.medium_logo, style: 'max-width: 50px', class: 'span6' %>
          </div>

          <p><%= party.position_title %></p>
          <p><a><%= party.promises.size %> relaterte løfter</a> og <%= party.accountability_text %></p>
        </div>
      <% end %>
    </div>

    <div class="span8 vote-list">
      <p class="explanation"><%= @issue.explanation %></p>

      <% @votes.each do |vote| %>
        <div class="row-fluid vote">
          <div class="row-fluid">
            <span class="span4 time"><%= vote.time %></span>
            <span class="span8"><%= vote.title %></span>
          </div>

          <span class="collapse-closed">&#x25B8;</span>
          <!-- <span class="collapse-open">&#x25BE;</span> -->

          <div class="row-fluid details">
            <div class="span6">
              <%= markdown(vote.comment).html_safe %>
            </div>

            <div class="span6">
              <p>
                <% if vote.enacted? %>
                  Forslaget ble <strong>vedtatt</strong>.
                <% else %>
                  Forslaget ble ikke <strong>vedtatt</strong>.
                <% end %>
              </p>

              <strong>Stemte for:</strong>
              <ul>
                <% vote.parties_for.each do |name| %>
                  <li><%= name %></li>
                <% end %>
              </ul>

              <strong>Stemte mot:</strong>
              <ul>
                <% vote.parties_against.each do |name| %>
                  <li><%= name %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>


      <% end %>
    </div>
  </div>
</article>

<% content_for :document_ready do %>
<script>
$(document).ready(function () {
  $(".party").on('mouseenter', function (e) {
    $(".vote").each(function () {
      if (Math.random() > 0.5) {
        $(this).css('opacity', 0.3);
      } else {
        $(this).css('opacity', 1);
      }
    })
  })

  $(".vote").click(function (e) {
    if (e.target.tagName == 'A') return;
    $(this).find('.details').slideToggle('fast');
  })

  $(".party").on('mouseleave', function (e) {
    $(".vote").each(function () {
      $(this).css('opacity', 1);
    })
  })
});
</script>


<% end %>