<% page_title "#{@issue.title} - #{t('app.issues.title')} - #{t('app.title')}" %>
<% metadata[:description] = @issue.description %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = issue_url(@issue) %>

<%= render partial: 'temp_toggles' %>

<article class="issue-timeline">
  <div class="page-header">
    <h1 class="issue-title"><%= @issue.title %></h1>
    <%= render partial: 'aside', locals: { issue: @issue } %>
  </div>

  <p class="issue-description"><%= @issue.description %></p>

  <% @issue.periods.each do |period| %>
  <div class="positions">
    <h3>Det store bildet <%= period.name %></h3>
    <% period.positions.each do |position| %>

        <h4><%= position.title %></h4>
        <p class="position-description"><%= position.description %></p>

        <% position.parties.each do |party| %>
          <div class="row-fluid">

          <div class="span1">
            <%= image_tag party.logo.versions[:medium], style: 'max-width: 50px', alt: "#{party.name}s logo" %>
          </div>

          <div class="span10">
            <%= party.accountability %>

            <% if party.promises.any? %>
              <a data-toggle="collapse" data-target="#<%= [party.slug, period.name, 'promises'].join('-') %>" onclick="return false;" href="#" >
                Se løftene
              </a>

              <div class="collapse promises" id="<%= [party.slug, period.name, 'promises'].join('-') %>">
                <ul>
                  <% party.promises.each do |p| %>
                    <li class="promise-<%= p.status %> <%= 'muted' if p.related? %>"><%= p.promise.body %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>

    <% end %>
  </div>

  <div class="timeline">
    <% period.years.each do |year| %>
      <div class="yearmarker"><%= year.year %></div>

      <% year.days.each do |day| %>
        <div class="row-fluid timeline-entry">
          <div class="span6"></div>
          <div class="date span6">
            <div class="day"><%= day.day %></div>
            <div class="month"><%= day.month %></div>
          </div>
        </div>

        <% day.votes.in_groups_of(2, false).each do |votes| %>
          <div class="row-fluid votes">
          <% votes.each do |vote| %>
            <div class="span6 vote">
              <p class="vote-title"><%= vote.title %></p>
              <div class="vote-detail"><%= markdown(vote.comment).html_safe %></div>
            </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</article>
