<% page_title "#{@issue.title} - #{t('app.issues.title')} - #{t('app.title')}" %>
<% metadata[:description] = @issue.description %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = issue_url(@issue) %>

<article class="issue-timeline">
  <div class="page-header">
    <h1 class="issue-title"><%= @issue.title %></h1>
    <%= render partial: 'aside', locals: { issue: @issue } %>
  </div>

  <p class="issue-description"><%= @issue.description %></p>

  <% @issue.periods.each do |period| %>
    <div class="row-fluid">

      <div class="span6">
        <div class="row-fluid">
          <h4>Posisjoner <%= period.name %></h4>
        </div>

        <% period.positions.each do |position| %>
          <div class="row-fluid">
            <div class="span2">
              <% position.parties.each do |party| %>
                <img src="<%= party.logo.versions[:medium] %>" style="max-width: 50px" class="pull-right">
              <% end %>
            </div>

            <div class="span10">
              <small class="lead"><%= position.title %></small>
              <p><%= position.description %></p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="span6">
        <div class="row-fluid">
          <h4>Avstemninger <%= period.name %></h4>
        </div>

        <% period.days.each do |day| %>
          <div class="row-fluid">
            <div class="muted"><%= day.date %></div>

            <% day.votes.each do |vote| %>
              <div class="row-fluid" style="background-color: #ececec; padding: 10px; margin: 10px">
                <p class="lead"><%= vote.title %></p>
                <p><%= markdown(vote.comment).html_safe %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</article>