<% page_title "#{@issue.title} - #{t('app.issues.title')} - #{t('app.title')}" %>
<% metadata[:description] = @issue.description %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = issue_url(@issue) %>

<article class="issue-timeline">
  <div class="page-header">
    <h1 class="issue-title"><%= @issue.title %></h1>
    <%= render partial: 'aside', locals: { issue: @issue } %>
  </div>

  <p class="issue-description"><%= @issue.description %></p>

  <% @issue.periods.each do |period| %>
    <div class="period">
      <div class="row-fluid">

        <div class="span6">
          <!-- TODO: partial? -->

          <div class="row-fluid">
            <strong><%= period.name %></strong>
          </div>

          <% period.positions.each do |position| %>
            <div class="row-fluid">
              <h3><%= position.title %></h3>
              <p><%= position.description %></p>
            </div>
          <% end %>
        </div>

        <div class="span6">
          <!-- TODO: partial? -->
          <% period.events.each do |event| %>
            <div class="row-fluid timeline-event">
              <%= event.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</article>