<%= render partial: 'shared/previous_next_links', locals: { next_item: @next_issue, previous_item: @previous_issue, item_text_attr: :title } %>

<% if user_signed_in? %>
  <div class="alert alert-warning">
    Denne saken er <%= @issue.status_text.downcase %>.
    <%= Issue.human_attribute_name :last_updated_by %> <%= @issue.last_updated_by_name %> <%= l @issue.updated_at.localtime %>.

    <%= link_to t('app.edit'), edit_issue_path(@issue), class: 'btn btn-small' %>
  </div>
<% end %>


<div class="row-fluid">
  <div class="span9 well issue-header">
    <h1><%= @issue.title %></h1>
    <p><%= @issue.description %></p>
  </div>

  <div class="span3 alert alert-info">
    <p><%= t('app.issues.explanation', count: @issue.votes.size) %></p>
    <p><%= link_to t('app.method.read_more'), home_method_path %>.</p>
  </div>
</div>

<div class="row-fluid">
  <%= link_to issue_votes_path(@issue), class: 'pull-right' do %>
    <%= t 'app.issues.view_votes', count: @issue.votes.size %> &rarr;
  <% end %>
</div>

<% @party_groups.each do |party_group| %>
  <div class="row-fluid">
    <div><strong><%= party_group.name %></strong></div>
  </div>

  <%= render partial: 'party_group', locals: { group: party_group, issue: @issue, promises_by_party: @promises_by_party } %>
  <hr>
<% end %>

