<% page_title "#{@issue.title} - #{t('app.issues.title')} - #{t('app.title')}" %>
<% metadata[:description] = @issue.description %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = issue_url(@issue) %>

<div id="admin-info"></div>
<%= content_for :document_ready do %>
  <script>
  $(document).ready(function() {
    if (HDO.ssl && 'https:' != document.location.protocol) {
      return;
    }

    $.ajax({
      url: '<%= admin_info_issue_path(@issue) %>',
      type: 'GET',
      dataType: 'html',
      success: function(data, textStatus, xhr) { $("#admin-info").html(data); }
    });
  });
  </script>
<% end %>
<% cache @issue do %>
  <div class="page-header">

    <h1 class="issue-title"><%= @issue.title %></h1>
    <%= render partial: 'aside', locals: { issue: @issue } %>
  </div>

  <% if AppConfig.valence_issues_enabled && @issue.valence_issue? %>
    <%= render partial: 'valence_issue', locals: {issue: @issue } %>
  <% else %>
    <figure class="position">
      <div class="issue-graph">
        <div class="row-fluid">
          <% @issue.position_groups.each do |label, parties| %>
            <div class="position span4">
              <div class="canvas parties_<%= parties.count %>">
                <% parties.each do |party| %>
                  <a class="issue-graph-party" href="#<%= party.slug %>">
                    <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
                  </a>
                  <br />
                <% end %>
              </div>
              <div class="axis">
                <%= image_tag label.icon, class: "icon" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="issue-graph-axis row-fluid">
          <% @issue.position_groups.each do |label, parties| %>
            <div class="span4">
              <h4 class="issue-graph-label text"><%= label.text %></h4>
            </div>
          <% end %>
        </div>
      </div>

      <figcaption class="muted">
        <%= render partial: 'shared/social_sharing' %>
        <p><%= @issue.explanation %></p>
      </figcaption>

    </figure>
  <% end %>

  <p class="issue-description"><%= @issue.description %></p>

  <% if AppConfig.valence_issues_enabled && @issue.valence_issue? %>
    <hr class="soften" />
    <div class="muted">
      <p><%= @issue.explanation %></p>
    </div>
    <%= render partial: 'valence_issue_votes', locals: { issue: @issue, issue_votes: @issue_votes } %>
  <% else %>
    <div>
      <% @issue.party_groups.each do |party_group| %>
        <% party_group.parties.each do |party| %>
          <%= render partial: 'issue_party', locals: { issue: @issue, party: party, party_group: party_group } %>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end # cache %>
