<%= render partial: 'shared/previous_next_links', locals: { next_item: @next_issue, previous_item: @previous_issue, item_text_attr: :title } %>
<%= render partial: 'admin_info' if user_signed_in? %>

<div class="page-header span9">
  <h1><%= @issue.title %></h1>
</div>

<div class="row-fluid">
  <div class="span9">
    <p class="issue-description"><%= @issue.description %></p>
    <hr>
  </div>

  <div class="issue-big-links span3">
    <p><%= link_to t('app.issues.view_votes', count: @issue.votes.size), votes_issue_path(@issue) %></p>
    <p><%= link_to t('app.method.read'), home_method_path %></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span3 visible-phone">
    <div class="alert alert-info"><%= @issue_explanation %></div>
  </div>
</div>

<div class="row-fluid">
  <div class="span9">
    <% @party_groups.each do |party_group| %>
      <h4><%= party_group.name %></h4>
      <%= render partial: 'party_group', locals: { group: party_group, issue: @issue, promises_by_party: @promises_by_party } %>
    <% end %>
  </div>

  <div class="span3">
    <div class="hidden-phone alert alert-info"><%= @issue_explanation %></div>

    <div class="well well-small">
      <p>Har du forslag til en sak vi burde dekke?</p>
      <p>Kontakt oss <a href="mailto:<%= obscure_email t('app.email') %>">her</a>!</p>
    </div>
  </div>
</div>

