<% title "#{@issue.title} - #{t('app.issues.title')} - #{t('app.title')}" %>
<%= render partial: 'admin_info' if user_signed_in? %>

<% cache @issue do %>

  <div class="page-header">

    <div class="hidden-desktop"><%= render partial: 'title_and_aside' %></div>

    <figure class="position">
      <div class="issue-graph">
        <div class="row-fluid">
          <% @issue.position_groups.each do |label, parties| %>
            <div class="position span4">
              <div class="canvas parties_<%= parties.count %>">
                <% parties.each do |party| %>
                  <a class="issue-graph-party" href="#<%= party.name %>">
                    <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
                  </a>
                  <br />
                <% end %>
              </div>
              <div class="axis">
                <%= image_tag label.icon, class: "icon" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="issue-graph-axis row-fluid">
          <% @issue.position_groups.each do |label, parties| %>
            <div class="span4">
              <h4 class="-issue-graph-label text"><%= label.text %></h4>
            </div>
          <% end %>
        </div>
      </div>

      <div class="visible-desktop"><%= render partial: 'title_and_aside' %></div>
      <figcaption class="muted"><p><%= @issue.explanation %></p></figcaption>

    </figure>

    <p class="issue-description"><%= @issue.description %></p>
  </div>


  <div>
    <% @issue.party_groups.each do |party_group| %>
      <h5 class="issue-party-group-title"><%= party_group.name %></h5>

      <% party_group.parties.each do |party| %>
        <%= render partial: 'issue_party', locals: { party: party } %>
      <% end %>
    <% end %>
  </div>

  <!--
  <%= render partial: 'shared/previous_next_links', locals: { next_item: @next_issue, previous_item: @previous_issue, item_text_attr: :title } %>
  -->

  <!--
    <div class="issue-big-links span3">
      <p><%= link_to t('app.issues.view_votes', count: @issue.votes.size), votes_issue_path(@issue) %></p>
      <p><%= link_to t('app.method.read'), home_method_path %></p>
    </div>
  -->

<% end # cache %>
