<% if user_signed_in? %>
  <div class="alert alert-warning">
    <% if @issue.published? %>
      <%= t('app.issues.published') %>
    <% else %>
      <%= t('app.issues.not_published') %>
    <% end %>
    <%= link_to t('app.edit'), edit_issue_path(@issue), class: 'btn' %>
  </div>
<% end %>

<div class="row-fluid issue-navigation">
  <%= link_to "\u21e6 #{@previous_issue.title}", @previous_issue if @previous_issue %>
  <%= link_to "#{@next_issue.title} \u21e8", @next_issue, class: "pull-right" if @next_issue %>
</div>

<div class="well">
  <h1><%= @issue.title %></h1>
  <p><%= @issue.description %></p>
</div>

<div class="alert alert-info">
  <p><%= t('app.issues.explanation', count: @issue.votes.size) %></p>
  <p><%= link_to "Les mer om metoden", home_method_path %>.</p>
</div>


<div class="row-fluid">
  <div class="pull-right"><%= link_to "#{t 'app.issues.view_votes', count: @issue.votes.size } \u21e8", issue_votes_path(@issue) %></div>
</div>

<% @party_groups.each do |party_group| %>
  <div class="row-fluid">
    <div><strong><%= party_group.name %></strong></div>
  </div>

  <%= render partial: 'party_group', locals: { group: party_group, issue: @issue, promises_by_party: @promises_by_party } %>
  <hr>
<% end %>

