<% cache @issue.model do %>
  <div class="page-header votes-header">
    <h1>
      <div class="lead">
        <%= Vote.model_name.human(count: 2).capitalize %> <%= Vote.human_attribute_name(:about) %> <%= t 'app.lang.infinitive_particle' %>
      </div>
      <%= link_to @issue.title, @issue, class: "votes-title" %>
    </h1>

    <%= render partial: 'aside', locals: { issue: @issue } %>
  </div>

  <% @issue_votes.each do |issue_vote| %>
    <article class="vote" id="<%= issue_vote.anchor %>">
      <h3 class="lead vote-caption"><%= issue_vote.title %></h3>
      <time class="muted"><%= link_to issue_vote.time_text, issue_vote.vote %></time>
      <div class="row-fluid">
        <div class="span7">
          <p><%= raw(markdown(issue_vote.comment)) %></p>
        </div>
        <div class="span5">
          <div class="vote-fact-box">
            <dl>
              <dt>Type:</dt><dd><%= issue_vote.proposition_type_text %></dd>
              <dt>Vedtatt:</dt><dd><%= issue_vote.enacted_text.html_safe %></dd>
            </dl>
          </div>
        </div>
      </div>

      <%= render partial: 'vote_table', locals: { all_parties: @all_parties, issue_vote: issue_vote } %>
    </article>
  <% end %>
<% end # cache %>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      HDO.voteRowToggler.create({
        columns: $('.state-column') }
      ).init();
    });
  </script>
<% end %>
