<div class="issue-navigation">
  <%= link_to @issue do %>
    &larr; <%= t 'app.issues.back' %>
  <% end %>
</div>
<div class="row-fluid">
  <div class="span12">
    <h1 class="page-header">
      <%= Vote.model_name.human(count: 2).capitalize %> <%= Vote.human_attribute_name(:about) %> <%= t 'app.lang.infinitive_particle' %> <%= @issue.downcased_title %>
    </h1>

    <% @issue_votes.each do |issue_vote| %>
      <div class="row-fluid">
        <h3>
           <div class="row"><small class="pull-right"><%= issue_vote.proposition_type_text %></small></div>
           <small class="pull-right"><%= issue_vote.time_text %></small>
          <%= issue_vote.title %>
        </h3>
        <br> <!-- ugh -->
      </div>

      <div class="row-fluid">
        <div class="span3">
          <% if issue_vote.parties_for.any? %>
            <h4>Stemte for</h4>

            <% issue_vote.parties_for.each do |party| %>
              <%= link_to party do %>
                <%= image_tag party.image_with_fallback.thumb("60x60").url %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="span3">
          <% if issue_vote.parties_against.any? %>
            <h4>Stemte mot</h4>

            <% issue_vote.parties_against.each do |party| %>
              <%= link_to party do %>
                <%= image_tag party.image_with_fallback.thumb("60x60").url %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="span6">
          <p><%= issue_vote.comment %></p>
          <p><%= issue_vote.matches_text.html_safe %> <%= issue_vote.enacted_text.html_safe %></p>
          <p>Holder de ord regner avstemningen som <%= link_to issue_vote.weight_text, home_method_path(anchor: 'method-weights') %>.</p>
        </div>
      </div>

      <div class="row-fluid">
        <small class="pull-right">
          <%= link_to issue_vote.vote do %>
            <%= t 'app.issues.view_vote' %> &rarr;
          <% end %>
        </small>
      </div>

      <hr>
    <% end %>
  </div>
</div>
