<div class="issue-navigation">
  <%= link_to @issue do %>
    &larr; <%= t 'app.issues.back' %>
  <% end %>
</div>
<div class="row-fluid">
  <div class="span12">
    <h1 class="page-header">
      <%= Vote.model_name.human(count: 2).capitalize %> <%= Vote.human_attribute_name(:about) %> <%= t 'app.lang.infinitive_particle' %> <%= @issue.downcased_title %>
    </h1>

    <% @issue_votes.each do |issue_vote| %>
      <div class="row-fluid">
        <div id="<%= issue_vote.anchor %>" class="span7">
          <h3><%= issue_vote.title %></h3>
          <p><%= raw(markdown(issue_vote.comment)) %></p>
        </div>
        <div class="span5 pull-right">
            <div class="facts-box">
              <h5>Faktaboks</h5>
              <small>
                <p><strong>Dato:</strong> <%= issue_vote.time_text %></p>
                <p><strong>Type:</strong> <%= issue_vote.proposition_type_text %></p>
                <p><strong>Vekt:</strong> <%= link_to issue_vote.weight_text, home_method_path(anchor: 'method-weights') %> (icon here)</p>
                <p><%= issue_vote.enacted_text.html_safe %></p>
                <p><%= issue_vote.matches_text.html_safe %> </p>
              </small>
            </div>
          </div>
        </div>

      <table class="table table-hover table-condensed">
        <thead>
          <th>For</th>
          <th>Mot</th>
          <th>Ikke tilstede</th>
        </thead>
        <% @all_parties.each do |party| %>
          <tr class="state-column">
            <% [:for, :against, :absent].each do |result_key| %>
              <td class="span4" data-party-slug="<%= party.slug %>">
                <% if !issue_vote.vote_result_groups[result_key][party].empty? %>
                  <%= image_tag party.logo, alt: party.name, width: '35', height: '35' %> <%= issue_vote.vote_result_groups[result_key][party].size %>
                <% end %>

                <div class="representatives-list hidden" data-party-slug="<%= party.slug %>">
                  <% issue_vote.vote_result_groups[result_key][party].each do |rep| %>
                      <p><%= link_to rep.name, rep %></p>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>

      </table>
    <hr>
    <% end %>
  </div>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      var votes_column_handler = HDO.votes.create({
        columns: $('.state-column')
      });

      votes_column_handler.init();
    });
  </script>
<% end %>