<h2><%= t 'app.login' %></h2>

<%= form_for("user", :url => user_session_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, autofocus: true %>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit t('app.login'), class:"btn btn-primary" %><br>
<% end %>
