<div class="container-fluid">
  <h2>Hei <%= current_user.first_name  %></h2>

  <div class="row-fluid">
    <div class="span6">
      <p>Du er redaktør for <strong><%= current_user.percentage_of_issues %>%</strong> av Holder de ords saker!</p>
      <p><strong><%= @issue_vote_percentage %>%</strong> av alle avstemninger er koblet til en publisert sak.</p>
      <p><strong><%= @issue_promise_percentage %>%</strong> av alle løfter er koblet til en publisert sak.</p>
    </div>

    <div class="span6">
      <h3>Dine saker</h3>
      <ul>
        <% current_user.issues.each do |issue| %>
          <li>
            <% if issue.published? %>
              <strong><%= link_to issue.title, issue %></strong>
            <% else %>
              <%= link_to issue.title, issue %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <hr class="soften">

  <% if AppConfig.questions_enabled %>

    <div class="row-fluid">
      <h3><%= @pending_questions.count %> <%= Question.model_name.human(count: 2) %> <%= link_to t('app.questions.status.pending').downcase, admin_questions_path %></h3>
      <ul>
        <% @pending_questions.each do |q| %>
          <li><%= q.teaser %></li>
        <% end %>
      </ul>
    </div>

    <hr class="soften">

  <% end %>

  <% if AppConfig.answers_enabled %>

    <div class="row-fluid">
      <h3><%= @questions_answer_pending.count %> <%= Answer.model_name.human(count: 2) %> <%= link_to t('app.questions.status.pending').downcase, "#{admin_questions_path}#pending-answers" %></h3>
      <ul>
        <% @questions_answer_pending.each do |q| %>
          <li><%= q.teaser %></li>
        <% end %>
      </ul>
    </div>

    <hr class="soften">

  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <h3>Siste <%= Vote.model_name.human(count: 2) %></h3>
      <%= render 'votes_by_date' %>
    </div>

    <div class="span6">
      <h3>Siste <%= ParliamentIssue.model_name.human(count: 2) %></h3>
      <%= render 'parliament_issues_by_status' %>
    </div>
  </div>

</div>