<div class="page-header">
  <h1><%= topic.stats.text_for_group(parties, :name => group_name) %></h1>
</div>
<% parties.each do |party| %>
  <div class="row-fluid">
    <div class="span2"><%= image_tag party.image_with_fallback.thumb('100x100').url, alt: "#{party.name}s logo" %></div>
    <div class="span10">
      <h2><%= topic.stats.text_for(party) %></h2>

      <% if promises = promises_by_party[party] %>
      <h5>I partiprogrammet har <%= party.name %> lovet følgende:</h5>
      <ul>
        <% promises.each do |promise| %>
        <li><%= promise.body %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <%= link_to "Se alle #{party.name.downcase}s løfter", party_path(party), class: 'pull-right' %>
  </div>
<% end %>