<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Party.model_name.human.capitalize %></th>
      <th><%= Promise.human_attribute_name :body %></th>
    </tr>
  </thead>

  <tbody>
    <% @promises.each do |promise| %>
    <tr>
      <td><%= promise.party.name %></td>
      <td><label class="checkbox">
        <%= check_box_tag "topic[promise_ids][]", promise.id, @topic.promises.include?(promise) -%>
        <%= promise.body %></td>
        </label>
    </tr>
    <% end %>
  </tbody>
</table>

