<h2><%= Vote.model_name.human count: 2 %></h2>
<div class="well topic-vote-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Vote.model_name.human %></th>
        <th><%= Proposition.model_name.human count: 2 %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.subject, vote, :target => 'topic_new' %></td>
        <td>
          <ul>
          <% vote.propositions.each  do |prop| %>
            <li class="prop-row">
              <%= prop.body.html_safe %>
            </li>
          <% end %>
          </ul>
        </td>
        <td>
          <i class="icon-thumbs-up"></i>
          <strong><%= t 'app.for' %></strong>
          <%= radio_button_tag "votes_for[#{vote.id}]", true, @topic.vote_for?(vote.id) -%>
        </td>
        <td>
          <i class="icon-thumbs-down"></i>
          <strong><%= t 'app.against' %></strong>
          <%= radio_button_tag "votes_for[#{vote.id}]", false, @topic.vote_against?(vote.id) -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

