<h2><%= Vote.model_name.human count: 2 %></h2>
<div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Issue.model_name.human count: 2 %></th>
        <th><%= Vote.human_attribute_name :body %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.issues[0].description %></td>
        <td><%= vote.subject %></td>
        <td>
          <i class="icon-thumbs-up"></i>
          <strong><%= t 'app.for' %></strong>
          <%= check_box_tag "votes_for[]", vote.id, @topic.is_vote_for?(vote.id) -%>
        </td>
        <td>
          <i class="icon-thumbs-down"></i>
          <strong><%= t 'app.against' %></strong>
          <%= check_box_tag "votes_against[]", vote.id, @topic.is_vote_against?(vote.id) -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

