<% 
    vote_counts = stats.party_counts_for(party) 
    max_vote_count = vote_counts.values.max %>
<tr>
  <td class="party-logo">
    <%= image_tag party.image_with_fallback.thumb('35x35').strip.url, alt: "#{party.name}'s logo" %>
  </td>
  <td class="result-votes">
    <%= stats.text_for(party) %>
  </td>
  <td class="bar-votes">
    <span class="bar-vote bar-important" style="width: <%= max_vote_count * 1.0 / 2 %>%;"><span class="label label-important" style="width: <%= "#{vote_counts[:against] * 1.0 / max_vote_count * 100}" %>%"><%= "#{vote_counts[:against]}" %></span></span><span class="label label-default" style="width: <%= "#{vote_counts[:absent] * 1.0 / 2}" %>%"><%= "#{vote_counts[:absent]}" %></span><span class="bar-vote bar-success" style="width: <%= max_vote_count * 1.0 / 2 %>%;"><span class="label label-success" style="width: <%= "#{vote_counts[:for] * 1.0 / max_vote_count * 100}" %>%"><%= "#{vote_counts[:for]}" %></span></span>
  </td>
</tr>
