<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Vote.human_attribute_name :time %></th>
      <th><%= Vote.human_attribute_name :subject %></th>
      <th><%= Vote.human_attribute_name :propositions %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each_with_index do |vote, index| %>
    <tr>
      <td><%= l vote.time, format: :short %></td>
      <td><%= link_to vote.subject, vote, :target => 'topic_new' %></td>
      <td><a rel="popover" data-vote-index="<%= index %>"><%= vote.propositions.count %> <%= Proposition.model_name.human(count: 2).downcase %></a></td>
      <td>
        <%= select_tag "votes_for[#{vote.id}]", vote_options_for(vote) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="vote-propositions" style="display: none">
  <% @votes.each_with_index do |vote, index| %>
    <div id="vote-proposition-<%= index %>">
      <% vote.propositions.each do |prop| %>
      <%= prop.body.html_safe %>
        <hr class="soften">
      <% end %>
    </div>
  <% end %>
</div>

<%= content_for :document_ready do %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("a[rel='popover']").popover({
      content: function() {
        var index = parseInt($(this).data("vote-index"));
        return $("#vote-proposition-" + index).html();
      },

      placement: 'bottom'
    });
  });
</script>
<% end %>