<div class="page-header">
  <h1><%= Topic.model_name.human :count => 2 %></h1>
</div>

<p class="pull-right">Viser <strong><%= @topics.size %></strong> emner.</p>

<table class="table">
  <thead>
    <tr>
      <th><%= Topic.human_attribute_name :external_id %></th>
      <th><%= Topic.human_attribute_name :name %></th>
      <th><%= Topic.human_attribute_name :children %></th>
    </tr>
  </thead>
  <tbody>
      <% @topics.select(&:main?).each do |topic|
      %>
      <tr>
        <td><%= topic.external_id %></td>
        <td><%= link_to topic.name, topic %></td>
        <td>
          <% topic.children.each do |subtopic| %>
          <ul class="unstyled">
            <li><%= link_to subtopic.name, subtopic %></li>
          </ul>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
