<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= Topic.human_attribute_name :name %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic %></td>
        <td>
          <%= link_to t('.new', :default => t("helpers.links.edit")), edit_topic_path(topic), :class => 'btn' %>
        </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), topic, method: :delete, data: { confirm: Topic.human_attribute_name(:confirm_destroy) }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_topic_path, :class => 'btn btn-primary' %>


