<h1><%= Topic.model_name.human count: 2 %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Topic.human_attribute_name :title %></th>
      <th><%= Topic.human_attribute_name :description %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= topic.description %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic), class: 'btn' %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: Topic.human_attribute_name(:confirm_destroy) }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Topic', new_topic_path, class: 'btn' %>
