<div class="row-fluid topic-navigation">
  <%= link_to "\u21e6 #{@previous_topic.title}", @previous_topic if @previous_topic %>
  <%= link_to "#{@next_topic.title} \u21e8", @next_topic, class: "pull-right" if @next_topic %>
</div>

<div class="well">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
</div>

<div class="alert alert-info"><%= t('app.votes.explanation', title: @topic.downcased_title) %></div>

<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li><%= link_to "Se alle avstemninger", topic_votes_path(@topic) %></li>
    <li><%= link_to "Les mer om metoden", home_method_path %></li>
  </ul>
</div>

<% @party_groups.each do |party_group| %>
  <%= render partial: 'party_group',
             locals: { group: party_group, topic: @topic, promises_by_party: @promises_by_party } %>
<% end %>


<% if user_signed_in? %>
  <div class="form-actions">
    <%= link_to t('app.edit'), edit_topic_path(@topic), class: 'btn' %>
  </div>
<% end %>
