<div class="hero-unit">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>

  <h3>Hvor ofte har partiet stemt for temaet?</h3>
  <ul>
    <% Party.all.each do |party| %>
    <li><%= party.name %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="span6">
    <h3>Voteringer om temaet</h3>
    <table class="table-condensed">
      <thead>
        <tr>
          <th><%= Issue.human_attribute_name :summary %></th>
          <th><%= Vote.human_attribute_name :subject %></th>
          <th><%= Vote.human_attribute_name :enacted %></th>
        </tr>
      </thead>
      <tbody>
      <% @topic.votes.each do |vote| %>
        <tr>
          <td><%= link_to vote.issues.first.summary, vote.issues.first %></td>
          <td><%= link_to vote.subject, vote %></td>
          <td><%= vote.enacted_text %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="span6">
    <h3>Partienes løfter om temaet</h3>
    <table class="table-condensed">
      <thead>
        <tr>
          <th><%= Promise.human_attribute_name :party %></th>
          <th><%= Promise.human_attribute_name :body %></th>
        </tr>
      </thead>
      <tbody>
        <% @topic.promises.each do |promise| %>
        <tr>
          <td><%= link_to promise.party.name, promise.party %></td>
          <td><%= promise.body %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



<% if user_signed_in? %>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>
<% end %>