<div class="hero-unit">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
</div>

<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li><%= link_to "Se alle avstemninger om #{@topic.title.downcase}", topic_votes_path(@topic) %></li>
    <li><%= link_to "Les mer om metoden", home_method_path %></li>
  </ul>
</div>

<% @promise_by_party.each do |party, promises| %>
<div class="row-fluid">
  <div class="span2"><%= image_tag party.large_logo, alt: "#{party.name}s logo" %></div>
  <div class="span10">
    <h2><%= @topic.stats.text_for(party) %> <%= @topic.title.downcase %></h2>

    <h5>I partiprogrammet har <%= party.name %> lovet følgende:</h5>
    <ul>
      <% promises.each do |promise| %>
      <li><%= promise.body %></li>
      <% end %>
    </ul>
  </div>
</div>

<hr class="soften">
<% end %>

<% if user_signed_in? %>
  <div class="form-actions">
    <%= link_to t('app.edit'), edit_topic_path(@topic), class: 'btn' %>
  </div>
<% end %>
