<div class="well">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
</div>

<div class="alert alert-info"><%= t('app.votes.explanation', title: @topic.downcased_title) %></div>

<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li><%= link_to "Se alle avstemninger", topic_votes_path(@topic) %></li>
    <li><%= link_to "Les mer om metoden", home_method_path %></li>
  </ul>
</div>

<%= render partial: 'parties_group',
  locals: { parties: @coalition_parties, topic: @topic, promises_by_party: @promises_by_party, group_name: 'Regjeringspartiene' } %>

<hr class="soften">

<%= render partial: 'parties_group',
  locals: { parties: @opposition_parties, topic: @topic, promises_by_party: @promises_by_party, group_name: 'Opposisjonspartiene' } %>

<% if user_signed_in? %>
  <div class="form-actions">
    <%= link_to t('app.edit'), edit_topic_path(@topic), class: 'btn' %>
  </div>
<% end %>
