<div class="hero-unit">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
</div>

<div class="row">
  <div class="span12">
    <h3>Hvor ofte har partiet stemt for temaet?</h3>
  </div>

  <div class="span6">
    <h3>Partienes løfter om temaet:</h3>
    <ul>
      <% @topic.promises.each do |promise| %>
      <li><%= promise.body %></li>
      <% end %>
    </ul>
  </div>

  <div class="span6">
    <h3>Voteringer om temaet:</h3>
  </div>
</div>



<% if user_signed_in? %>
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>
<% end %>