<div class="hero-unit">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
</div>

<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li><%= link_to "Se alle avstemninger", topic_votes_path(@topic) %></li>
    <li><%= link_to "Les mer om metoden", home_method_path %></li>
  </ul>
</div>

<div class="page-header">
  <h1><%= @topic.stats.text_for(@coalition_parties, :group_name => 'Regjeringspartiene') %></h1>
</div>
<%= render partial: 'parties_list',
  locals: { parties: @coalition_parties, topic: @topic, promises_by_party: @promises_by_party } %>

<div class="page-header">
  <h1><%= @topic.stats.text_for(@opposition_parties, :group_name => 'Opposisjonspartiene') %></h1>
</div>
<%= render partial: 'parties_list',
  locals: { parties: @opposition_parties, topic: @topic, promises_by_party: @promises_by_party } %>

<% if user_signed_in? %>
  <div class="form-actions">
    <%= link_to t('app.edit'), edit_topic_path(@topic), class: 'btn' %>
  </div>
<% end %>
