<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong><%= Topic.human_attribute_name :external_id %>:</strong>
    <%= @topic.external_id %>
  </p>

  <p>
    <strong><%= Topic.human_attribute_name :name %>:</strong>
    <%= @topic.name %>
  </p>

  <% if @topic.children.any? %>
    <strong><%= Topic.human_attribute_name :children %>:</strong>
    <ul>
      <% @topic.children.sort_by(&:name).each do |subtopic| %>
        <li>
          <%= link_to subtopic.name, subtopic %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

