<div class="hero-unit">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
</div>

<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li><%= link_to "Se alle avstemninger", topic_votes_path(@topic) %></li>
    <li><%= link_to "Les mer om metoden", home_method_path %></li>
  </ul>
</div>

<% parties_alphabetically = Party.order(:name) %>
<h1>Regjeringspartiene:</h1>
<% parties_alphabetically.select(&:in_gov?).each do |party| %>
<%= render partial: 'party', locals: { party: party, topic: @topic, promises: @promises_by_party[party] } %>
<% end %>

<h1>Opposisjonspartiene:</h1>
<% parties_alphabetically.reject(&:in_opposition?).each do |party| %>
<%= render partial: 'party', locals: { party: party, topic: @topic, promises: @promises_by_party[party] } %>
<% end %>


<% if user_signed_in? %>
  <div class="form-actions">
    <%= link_to t('app.edit'), edit_topic_path(@topic), class: 'btn' %>
  </div>
<% end %>
