<div class="row-fluid">
  <div class="span6">
    <h3>Voteringer om <%= topic.title.downcase %></h3>
    <table class="table-condensed">
      <thead>
        <tr>
          <th><%= Issue.human_attribute_name :summary %></th>
          <th><%= Vote.human_attribute_name :subject %></th>
          <th><%= Vote.human_attribute_name :enacted %></th>
          <th><%= VoteConnection.human_attribute_name :matches %></th>
        </tr>
      </thead>
      <tbody>
        <% topic.vote_connections.each do |dir| %>
        <tr>
          <td>
            <ul>
              <% dir.vote.issues.each do |issue| %>
                <li>
                  <%= link_to issue.summary, issue %>
                </li>
              <% end %>
            </ul>
          </td>
          <td><%= link_to dir.vote.subject, dir.vote %></td>
          <td><%= dir.vote.enacted_text %></td>
          <td><%= dir.matches_text %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>