<%= link_to 'Tilbake', topic %>
<div class="row-fluid">
  <div class="span12">
    <h3><%= Vote.model_name.human(count: 2).capitalize %> om <%= topic.title.downcase %></h3>
    <table class="table">
      <thead>
        <th>Beskrivelse</th>
        <th>Hva har partiene stemt?</th>
        <th>Vedtatt</th>
      </thead>
      <tbody>
        <% topic.vote_connections.each do |connection| %>
          <tr>
            <td>
              <%= link_to connection.vote do %>
                <%= connection.comment %>
              <% end %>
            </td>
            <td>
              <% if connection.vote.personal? %>
                <p>
                  <%= image_tag Party.find_by_external_id('A').large_logo, style: "width:45px; height:45px;" %>
                  Arbeiderpartiet har stemt for
                </p>
                <p>Fremskritspartiet har stemt mot</p>
                <p>...</p>
              <% else %>
                <%= I18n.t('app.votes.non_party') %>
              <% end %>
            </td>
            <td>
              <span class="label label-<%= connection.vote.enacted ? 'success' : 'important' %>">
                <%= connection.vote.enacted_text %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>