<%= link_to 'Tilbake', topic %>
<div class="row-fluid">
  <div class="span12">
    <h3><%= Vote.model_name.human(count: 2).capitalize %> <%= Vote.human_attribute_name('about') %> <%= topic.title.downcase %></h3>
    <table class="table">
      <thead>
        <th><%= VoteConnection.human_attribute_name 'description' %></th>
        <th><%= Topic.human_attribute_name :party_votes_header %></th>
        <th><%= Vote.human_attribute_name :enacted %></th>
        <th><%= VoteConnection.human_attribute_name :weight %></th>
      </thead>
      <tbody>
        <% topic.vote_connections.each do |connection| %>
          <tr>
            <td>
              <%= link_to connection.vote do %>
                <%= connection.description %>
              <% end %>
            </td>
            <td>
              <% if connection.vote.personal? %>
                <% stats = connection.vote.stats %>
                <% Party.all(:order => :name).each do |party, vote_counts = stats.party_votes[party]| %>
                  <p>
                    <%= image_tag party.image.thumb('35x35').strip.url, alt: "#{party.name}s logo" %>
                    <strong><%= party.name.capitalize %></strong>
                    <%= stats.text_for(party) %>
                    <small><%= "(#{vote_counts[:for]} for, #{vote_counts[:against]} mot, #{vote_counts[:absent]} ikke tilstede.)" %></small>
                  </p>
                <% end %>
              <% else %>
                <%= I18n.t('app.votes.non_party') %>
              <% end %>
            </td>
            <td>
              <span class="label label-<%= connection.vote.enacted ? 'success' : 'important' %>">
                <%= connection.vote.enacted_text %>
              </span>
            </td>
            <td><%= connection.weight %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>