<div class="row-fluid">
  <div class="span4"><h5><%= Representative.human_attribute_name :name %></h5></div>
  <div class="span4"><h5><%= Representative.human_attribute_name :party %></h5></div>
  <div class="span4"><h5><%= Representative.human_attribute_name :district %></h5></div>
</div>

<% representatives.each do |rep| %>
<div class="row-fluid">
  <div class="span4"><%= link_to rep.display_name, rep %></div>
  <div class="span4"><%= (party = rep.current_party) && link_to(party.name, party) %></div>
  <div class="span4"><%= link_to rep.district.name, rep.district %></div>
</div>
<% end %>
