<% groups.each do |party, representatives| %>
  <h3><%= party.name %></h3>
  <div class="row-fluid">
    <h4 class="span6"><%= Representative.human_attribute_name :name %></h4>
    <h4 class="span6"><%= Representative.human_attribute_name :district %></h4>
  </div>

  <% representatives.each do |rep| %>
  <div class="row-fluid">
    <div class="span6"><%= link_to rep.display_name, rep %></div>
    <div class="span6"><%= link_to rep.district.name, rep.district %></div>
  </div>
  <% end %>

  <hr class="soften">
<% end %>

