<% if questions.empty? %>
  <%= representative.full_name %> har foreløpig ingen spørsmål.
<% else %>
  <ul class="representative-questions">
    <% questions.each do |question| %>
      <li>
        <%= link_to question.teaser, question %>

        <p class="muted">
          Av <strong><%= question.from_display_name %></strong>.

          <% if question.answered? && question.answer.approved? %>
            Besvart for <%= distance_of_time_in_words_to_now question.answer.created_at %> siden.
          <% else %>
            Venter på svar, stilt for <%= distance_of_time_in_words_to_now question.created_at %> siden.
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
