<div class="page-header">
  <h1><%= @representative.first_name %> <%= @representative.last_name %> <small class="pull-right"><%= @representative.external_id %></small></h1>
</div>

<div class="well">
  <p>
    <strong><%= Representative.human_attribute_name :party %>:</strong>
    <%= link_to @representative.party.name, @representative.party %>
  </p>

  <p>
    <strong><%= Representative.human_attribute_name :district %>:</strong>
    <%= link_to @representative.district.name, @representative.district %>
  </p>

  <p>
    <strong><%= Representative.human_attribute_name :date_of_birth %>:</strong>
    <%= l @representative.date_of_birth, format: :short %> (<%= @representative.age %> <%= t('app.time.years') %>)
  </p>

  <strong><%= Representative.human_attribute_name :committees %>:</strong>
  <ul>
    <% @representative.committees.each do |com| %>
      <li><%= link_to com.name, com %></li>
    <% end %>
  </ul>

  <% if @vote_results.any? %>
  <dl>
    <% stats = @representative.stats %>
    <dt><%= t('app.for')  %></dt>
    <dd><%= stats.for_percent %>% (<%= stats.for_count %>/<%= stats.total_count %>)</dd>
    <dt><%= t('app.against') %></dt>
    <dd><%= stats.against_percent %>% (<%= stats.against_count %>/<%= stats.total_count %>)</dd>
    <dt><%= t('app.absent') %></dt>
    <dd><%= stats.absent_percent %>% (<%= stats.absent_count %>/<%= stats.total_count %>)</dd>
  </dl>
  <% end %>

  <div id="presence-stats-graph"></div>
  <div id="vote-stats-graph"></div>
</div>

<h2><%= Vote.model_name.human count: 2 %></h2>
<p class="pull-right"><%= t('app.counts.vote', count: @vote_results.size).html_safe %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="wide-table-header"><%= Vote.human_attribute_name :time %></th>
      <th><%= Issue.model_name.human %></th>
      <th><%= Vote.human_attribute_name :subject %></th>
      <th><%= Vote.human_attribute_name :enacted %></th>
      <th><%= VoteResult.model_name.human %></th>
    </tr>
  </thead>
  <tbody>
    <% @vote_results.reverse_each do |result| %>
    <tr>
      <td><%= result.vote.time_text %></td>
      <td><%= link_to result.vote.issue.summary, result.vote.issue %></td>
      <td><%= link_to result.vote.subject, result.vote %></td>
      <td><%= result.vote.enacted_text %></td>
      <td class="vote-<%= result.state %>"><%= result.human %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% content_for :document_ready do %>
<% activity_stats = Hdo::Charts::ActivityStats.new(@vote_results) %>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  new PresenceStatsGraph("presence-stats-graph", <%= activity_stats.presence.to_json.html_safe %>).render();
  new VoteStatsGraph("vote-stats-graph", <%= activity_stats.votes.to_json.html_safe %>).render();
});
</script>
<% end %>