<% title "#{@representative.full_name} - #{Representative.model_name.human(count: 2).capitalize} - #{t('app.title')}" %>
<% party = @representative.latest_party %>

<% content_for :jumbotron do %>
  <div class="representative-header party-<%= party.external_id %>">
    <div class="container">
    </div>
  </div>
<% end %>

<div class="representative-profile">
  <%= image_tag @representative.image.versions[:medium], width: '240', height: '320', class: 'representative-image', alt: @representative.full_name %>
  <h1 class="representative-name"><%= @representative.full_name %> (<%= @representative.age %>)</h1>

  <span class="representative-district">
    <%= link_to @representative.district.name, @representative.district %>
  </span>
  <span class="representative-party">
    <%= party && link_to(party.name, party, class:party.external_id) %>
  </span>

  <dl class="representative-comitee-list">
    <% @representative.current_committees.each do |com| %>
      <dd>Medlem av <%= link_to com.name, com %></dd>
    <% end %>
  </dl>

</div>

<hr class="soften">

<div>
  <ul class="parties-issue-list">
    <% @issues.each do |issue| %>
      <li>
        <%= issue.stats.text_for(@representative, html: true) %>
        <%= t 'app.lang.infinitive_particle' %>
        <%= link_to issue.downcased_title, issue %>.
      </li>
    <% end %>
  </ul>
</div>

