<% page_title "#{@representative.full_name} - #{Representative.model_name.human(count: 2).capitalize} - #{t('app.title')}" %>
<% party = @representative.latest_party %>

<div class="representative-profile">

  <%= image_tag @representative.image.versions[:medium], width: '240', height: '320', class: 'representative-image', alt: @representative.full_name %>

  <h1 class="representative-name"><%= @representative.full_name %> (<%= @representative.age %>)</h1>

  <aside>
    <span class="representative-district">
    <%= link_to @representative.district.name, @representative.district %>
    </span>
    <span class="representative-party">
      <%= party && link_to(party.name, party, class: party.external_id) %>
    </span>

    <% if @representative.on_leave? %>
      <p class="muted"><%= Representative.human_attribute_name(:on_leave) %></p>
    <% end %>

    <dl class="representative-committee-list">
      <% @representative.current_committees.each do |com| %>
        <dd>Medlem av <%= link_to com.name, com %></dd>
      <% end %>
    </dl>

    <% if AppConfig.questions_enabled %>
      <%= link_to t('app.questions.representative.ask', name: @representative.name),
                  new_question_path(representative: @representative.slug),
                  class: 'btn btn-primary' %>
    <% end %>
  </aside>
</div>

<hr class="soften">

<% if @representative.has_twitter? %>
  <h3>
    Twitter <%= link_to "(@#{@representative.twitter_id})", @representative.twitter_url, class: 'muted' %>
  </h3>

  <%= twitter_widget_for(@representative.twitter_id) %>
  <hr>
<% end %>

<%= render partial: 'shared/issue_positions', locals: { issue_groups: @issue_groups } %>
