<div class="page-header">
  <h1><%= @representative.first_name %> <%= @representative.last_name %></h1>
</div>

<div class="well">
  <p>
    <b><%= Representative.human_attribute_name :external_id %>:</b>
    <%= @representative.external_id %>
  </p>

  <p>
    <b><%= Representative.human_attribute_name :party %>:</b>
    <%= link_to @representative.party.name, @representative.party %>
  </p>

  <p>
    <b><%= Representative.human_attribute_name :district %>:</b>
    <%= link_to @representative.district.name, @representative.district %>
  </p>

  <strong><%= Representative.human_attribute_name :committees %>:</strong>
  <ul>
    <% @representative.committees.each do |com| %>
      <li><%= link_to com.name, com %></li>
    <% end %>
  </ul>

</div>


