<div class="page-header">
  <h1><%= @representative.full_name %> <small class="pull-right"><%= @representative.external_id %></small></h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= image_tag @representative.image_with_fallback.thumb('240x320#').strip.url, class: 'representative-image', alt: @representative.full_name %>

      <section id="representative-short-info">
        <p>
          <strong><%= Representative.human_attribute_name :party %>:</strong>
          <%= link_to @representative.party.name, @representative.party %>
        </p>

        <p>
          <strong><%= Representative.human_attribute_name :district %>:</strong>
          <%= link_to @representative.district.name, @representative.district %>
        </p>

        <p>
          <strong><%= Representative.human_attribute_name :date_of_birth %>:</strong>
          <%= l @representative.date_of_birth, format: :short %> (<%= @representative.age %> <%= t('app.time.years') %>)
        </p>

        <strong><%= Representative.human_attribute_name :committees %>:</strong>
        <ul>
          <% @representative.committees.each do |com| %>
            <li><%= link_to com.name, com %></li>
          <% end %>
        </ul>

        <% if @vote_results.any? %>
          <dl>
            <% stats = @representative.stats %>
            <dt><%= t('app.for')  %></dt>
            <dd><%= stats.for_percent %>% (<%= stats.for_count %>/<%= stats.total_count %>)</dd>
            <dt><%= t('app.against') %></dt>
            <dd><%= stats.against_percent %>% (<%= stats.against_count %>/<%= stats.total_count %>)</dd>
            <dt><%= t('app.absent') %></dt>
            <dd><%= stats.absent_percent %>% (<%= stats.absent_count %>/<%= stats.total_count %>)</dd>
          </dl>
        <% end %>
      </section>
    </div>

    <div class="span9">
      <p class="alert alert-warning">
        Vi jobber med å finne ut hvordan vi kan vise hvilke representanter som er mest aktive på Stortinget. Foreløpig vil du kun kunne se oppmøteprosent ved voteringer i Stortingssalen. Det finnes mange grunner til at en representant kan ha lavt oppmøte, for eksempel reisevirksomhet i eget fylke, komitearbeid eller utbytting. For mer informasjon om representantenes oppmøte i Stortinget, les om <a target="_blank" href="http://www.stortinget.no/no/Stortinget-og-demokratiet/Representantene/Hva-gjor-en-representant/">Representantenes arbeidsoppgaver</a> og <a target="_blank" href="http://www.stortinget.no/no/Stortinget-og-demokratiet/Arbeidet/Voteringer/#utbyttingssystemet">Utbyttingssystemet</a>.
      </p>

      <div id="presence-stats-graph"></div>
    </div>
  </div>

  <hr class="soften">

  <div class="row-fluid">
    <div class="span3">
      
    </div> <!-- end span3 -->

    <div class="span9">
      <h2><%= Vote.model_name.human(count: 2).capitalize %></h2>
      <p class="pull-right"><%= page_entries_info @vote_results, model: Vote %></p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th class="wide-table-header"><%= Vote.human_attribute_name :time %></th>
            <th><%= Issue.model_name.human(count: 2).capitalize %></th>
            <th><%= Vote.human_attribute_name :subject %></th>
            <th><%= Vote.human_attribute_name :enacted %></th>
            <th><%= VoteResult.model_name.human.capitalize %></th>
          </tr>
        </thead>
        <tbody>
          <% @vote_results.each do |result| %>
            <tr>
              <td><%= result.vote.time_text %></td>
              <td>
                <ul>
                  <%- result.vote.issues.each do |issue| -%>
                    <li><%= link_to issue.summary, issue %></li>
                  <%- end -%>
                </ul>
              </td>
              <td><%= link_to result.vote.subject, result.vote %></td>
              <td><%= result.vote.enacted_text %></td>
              <td class="vote-<%= result.state %>"><%= result.human %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @vote_results %>
    </div>

  </div>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      var graph = HDO.presenceStatsGraph.create("presence-stats-graph", <%= @activity_stats.presence.to_json.html_safe %>);
      graph.render();
    });
  </script>
<% end %>
