<% page_title "#{Proposition.model_name.human(count: 2).capitalize} - #{t 'app.title'}" %>

<h3>Forslag</h3>

<%= render partial: 'shared/navigator_mobile_controls', locals: {search: @search} %>

<div class="row-fluid current-query hidden-phone">
  <div class="span9">
    <small><%= render 'query_explanation' %></small>
  </div>
</div>


<div class="row-fluid">
  <div class="span3 navigators hidden-phone">
    <%= render partial: 'shared/navigators', locals: {search: @search} %>
  </div>

  <div class="span9 proposition-results">
    <% @search.records.includes(:votes).each do |record| %>
      <div class="proposition-item row-fluid">
        <%= link_to record.decorate.title, record %>

        <span class="details">
          <% unless @search.parliament_session? %>
            <small class="muted"><%= record.parliament_session_name %></small>
          <% end %>
        </span>
      </div>
    <% end %>

    <%= paginate @search.response %>

    <small class="pull-right muted small">
      Last ned:
        <%= link_to 'CSV', @search.url(format: :csv, size: @search.hits) %>
        |
        <%= link_to 'TSV', @search.url(format: :tsv, size: @search.hits) %>
    </small>
  </div>
</div>