<% page_title "Forslag: #{@proposition.title} - #{t('app.title')}" %>

<% metadata[:description] = sanitize(@proposition.body || @proposition.title, :tags => []).split("\n").first.to_s.strip %>
<% metadata[:type] = 'article' %>
<% metadata[:url] = proposition_url(@proposition) %>


<div class="row-fluid">
  <small class="pull-right">
    <%= link_to 'Nyere &rsaquo;'.html_safe, @proposition.next if @proposition.next %>
  </small>

  <small>
    <%= link_to '&lsaquo; Eldre'.html_safe, @proposition.previous if @proposition.previous %>
  </small>
</div>

<h2><%= @proposition.title %></h2>

<div class="row-fluid">
  <div class="span6">
    Forslaget ble <strong><%= @proposition.enacted? ? 'vedtatt' : 'ikke vedtatt' %></strong> <%= link_to @proposition.timestamp, @proposition.vote %>
  </div>

    <div class="span6">
      <% if @proposition.proposers.any? %>
        <div class="pull-right">Fremmet av <%= @proposition.proposer_links %></div>
      <% end %>
    </div>
</div>

<hr>

<div class="row-fluid">
  <% if @proposition.opposers.any? %>
    <div class="span6 centerify">
      <%= render partial: 'parties', locals: {parties: @proposition.supporters} %>
      <p class="lead">stemte for</p>
    </div>

    <div class="span6 centerify">
      <%= render partial: 'parties', locals: {parties: @proposition.opposers} %>
      <p class="lead">stemte mot</p>
    </div>
  <% else %>
    <div class="span12 centerify">
      <%= render partial: 'parties', locals: {parties: @proposition.supporters} %>
      <p class="lead">enstemmig vedtatt</p>
    </div>
  <% end %>
</div>

<% if @proposition.absentees.any? %>
  <div class="span12 centerify">
    <%= render partial: 'parties', locals: {parties: @proposition.absentees} %>
    <p class="lead">ikke til stede</p>
  </div>
<% end %>

<% if @proposition.body %>
  <div class="row-fluid">
    <div class="lead">
      <%= @proposition.body %>
      <a href="#" data-toggle="#original-body">Se råtekst</a>
    </div>
  </div>
<% end %>

<div id="original-body" class="row-fluid <%= 'hidden' if @proposition.body %>">
  <h4>Råtekst fra Stortinget</h4>

  <div class="well">
    <small><%= @proposition.original_body %></small>
  </div>
</div>

<small class="row-fluid">
  <div class="span4">
    Relaterte dokumenter

    <ul>
      <% @parliament_issues.flat_map(&:links).sort_by { |l| [l.link_type, l.title] }.uniq.each do |link| %>
        <li><%= link_to link.title, link.href, target: '_blank', class: 'external' %></li>
      <% end %>
    </ul>    
  </div>
  
  <div class="span4">
    <% if @proposition.issues.any? %>
      Relaterte saker

      <ul>
      <% @proposition.issues.published.each do |issue| %>
        <li><%= link_to issue.title, issue %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% if @proposition.related_propositions.any? %>
    <div class="span4">
      Relaterte forslag
  
      <ul>
        <% @proposition.related_propositions.each do |prop| %>
          <li><%= link_to prop.title.truncate(100), prop %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</small>

<%= link_to('Rediger', edit_admin_proposition_path(@proposition), class: 'btn') if current_user && !current_user.contributor? %>

<%= content_for :document_ready do %>
<script>
$(function () {
  $("[data-toggle]").click(function (e) {
    e.preventDefault();
    $($(this).data('toggle')).toggleClass('hidden');
  })
})
</script>
<% end %>