<h2>Saker med nye avstemninger for <%= l 1.day.ago, format: :text %></h2>

<ul>
  <% @parliament_issues.each do |pi| %>
    <li><%= link_to pi.summary, parliament_issue_url(pi) %></li>
  <% end %>
</ul>

<strong>
  <%= @proposition_counts.pending %> av <%= @proposition_counts.total %> forslag venter på publisering.
</strong>

<% if @rebel_tweets.any? %>
  <h3>Tweets fra <a href="https://twitter.com/partipisken">@partipisken</a> i morgen</h3>

  <ul>
    <% @rebel_tweets.each do |tweet| %>
      <li><%= tweet %></li>
    <% end %>
  </ul>
<% end %>
