<%= twitter_bootstrap_form_for @user do |user| %>

  <%= user.inputs 'Registrer', :class => 'sign_up' do %>
    <%= user.text_field :name, :placeholder => 'Aktivist' %>
    <%= user.email_field :email, :placeholder => 'me@example.com' %>
    <%= user.password_field :password %>
    <%= user.password_field :password_confirmation %>
  <% end %>

  <div class="actions">
    <%= user.submit  %>
  </div>
<% end %>
