<div class="well">
	<div class="row">
		<div class="span4">
			<p>
				<strong>
				<%= User.human_attribute_name :name %>:
				</strong>
				<%= @user.name %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<p>
				<strong>
				<%= User.human_attribute_name :email %>:
				</strong>
				<%= @user.email %>
			</p>
		</div>
	</div>
	
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
