<h2>Endre passord</h2>
<p>Her kan du sette et nytt passord dersom du har glemt ditt gamle.</p>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nytt passord" %>
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, "Bekrefte nytt passord" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sett nytt passord" %></div>
<% end %>

<%= link_to t('app.login'), new_user_session_path %>