<p class="pull-right"><%= t('app.counts.issue', count: issues.size).html_safe %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="date-header"><%= Issue.human_attribute_name :last_update %></th>
      <th><%= Issue.human_attribute_name :summary %></th>
      <th><%= Issue.human_attribute_name :status %></th>
    </tr>
  </thead>

  <tbody>
      <% issues.each do |issue| %>
      <tr>
        <td><%= issue.last_update_text %></td>
        <td><%= link_to issue.summary, issue %></td>
        <td><%= issue.status_text %></td>
      </tr>
      <% end %>
  </tbody>
</table>
