<div class="categories">
  <!-- VISIBLE IN DESKTOP -->
  <div class="visible-desktop">
    <div class="accordion" id="category-accordion">

      <% categories.each do |category| %>
        <div class="accordion-group">

          <div class="accordion-heading">
            <span class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#category-accordion" data-target="#<%= category.id %>" >
              <%= category.human_name %>
            </span>
          </div>

          <div id="<%= category.id %>" class="accordion-body collapse" style="height: 0px;">
            <div class="accordion-inner">
              <ul class="unstyled">
                <% Category.where(:parent_id => category.id).each do |c| %>
                  <li><a data-category-id="<%= c.id %>" href="#"><%= c.human_name %></a> (<%= c.promises.count %>)</li>
                <% end %>
                <br />
                <!--TO DO: get correct total for Vis Alle -->
                <li><a data-category-id="<%= category.id %>" href="#">Vis alle</a></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <!-- VISIBLE IN MOBILE --> 
<div class="hidden-desktop">
  <select class="categories">
    <option>Velg kategori</option>
    <% categories.each do |category| %>
      <option data-category-id="<%= category.id %>"><%= category.human_name %></option>
    <% end %>
  </select>
  <select id="subcategory-dropdown" class="hidden">
    <option>Velg underkategori</option>
  </select>
</div>