<div class="proposition-feed" style="<%= "height: #{feed.height}" if feed.height %>">
  <h4><%= feed.title %></h4>

  <div class="proposition-list">
    <% feed.propositions.each do |prop| %>
      <%= link_to proposition_path(prop), class: 'proposition', data: {id: prop.id} do %>
        <div class="row-fluid">
          <div class="span9"><%= prop.title %></div>
          <time class="span3 muted"><%= prop.timestamp %></time>
        </div>

        <div class="row-fluid">
          <% if prop.proposers.any? %>
            <small class="muted"><%= prop.proposers.to_sentence %></small>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if feed.see_all? %>
      <small class="see-all"><%= link_to 'Se alle &raquo;'.html_safe, propositions_path %></small>
    <% end %>
  </div>
</div>