<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Proposition.human_attribute_name :description %></th>
      <th class="wide-table-header"><%= Proposition.human_attribute_name :proposers %></th>
      <th><%= Proposition.human_attribute_name :body %></th>
    </tr>
  </thead>

  <tbody>
    <% vote.propositions.each do |prop| %>
      <tr>
        <td><%= link_to prop.simple_description || prop.description, proposition_path(prop)  %></td>
        <td>
        <% if prop.proposers.any? %>
            <ul class="unstyled">
              <% prop.proposers.each do |proposer| %>
                <li>
                  <%= link_to proposer.name, proposer %>
                  <% if proposer.kind_of?(Representative) %>
                    (<%= proposer.party_at(vote.time).try(:external_id) || t('app.parties.none') %>)
                  <% end %>
                </li>
              <% end %>
            </ul>
        <% else %>
          <%= prop.on_behalf_of %>
        <% end %>
        </td>
        <td><%= (prop.simple_body ? markdown(prop.simple_body) : prop.body).html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

