<%= spinner_tag %>
<ul class="promises-results unstyled">
  <%= will_paginate @promises %>
  <% @promises.each do |p| %>
    <li class="row-fluid well well-small">
      <% p.parties.each do |party| %>
        <%= image_tag party.logo.versions[:small], alt: "#{party.name}s logo" %>
      <% end %>
      <%= link_to p.body, p %>
    </li>
  <% end %>
  <%= will_paginate @promises %>
  <li class="empty-results-message hidden">
    <h3>Partiet har ingen løfter i denne kategorien.</h3>
  </li>
</ul>