<div class="proposition-feed" style="<%= "height: #{feed.height}" if feed.height %>">
  <h4><%= feed.title %></h4>

  <div class="proposition-list">
    <% feed.propositions.each do |prop| %>
      <%= link_to proposition_path(prop), class: 'proposition', data: {id: prop.id} do %>
        <div class="row-fluid">
          <div class="span9"><%= prop.title %></div>
          <time class="span3 muted"><%= prop.datestamp %></time>
        </div>

        <% if feed.show_proposers? && prop.proposers.any? %>
          <div class="row-fluid">
              <small class="muted"><%= prop.proposers.to_sentence %></small>
          </div>
        <% end %>

        <% if feed.show_parties? %>
          <div class="row-fluid positions muted">
            <div class="span4 position-support">
              <div><strong>For</strong></div>
              <%= prop.supporters.map(&:external_id).join(' ') %>
            </div>

            <div class="span4 position-absent">
              <% if prop.absentees.any? %>
                <div><strong>Fraværende</strong></div>
                <%= prop.absentees.map(&:external_id).join(' ') %>
              <% end %>
            </div>    

            <div class="span4 position-oppose">
              <div><strong>Mot</strong></div>
              <%= prop.opposers.map(&:external_id).join(' ') %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if feed.see_all? %>
      <small class="see-all"><%= link_to 'Se alle forslag &raquo;'.html_safe, propositions_path %></small>
    <% end %>
  </div>
</div>