<ul class="promises-results unstyled">

  <%= will_paginate @promises, class: "pagination pagination-centered visible-desktop" %>
  <%= will_paginate @promises, class: "pagination pagination-small pagination-centered visible-phone", page_links: false %>

  <% if @promises.empty? %>
    <li>Ingen løfter finnes med dette filteret</li>
  <% end %>

  <% @promises.each do |promise| %>
    <li class="media promise">

      <div class="pull-left">
        <% promise.parties.each do |party| %>
          <%= image_tag party.logo.versions[:small], alt: "#{party.name}s logo", class: "media-object" %>
        <% end %>
      </div>

      <div class="media-body">
        <%= promise.body %>

        <ul class="nav nav-pills">
          <% if (issues = promise.issues.published).any? %>
            <li class="muted">
              <span>
                Tilknyttede saker:
                <%= issues.map { |i| link_to i.title, i }.to_sentence.html_safe %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>

    </li>
  <% end %>

  <%= will_paginate @promises, class: "pagination pagination-centered visible-desktop" %>
  <%= will_paginate @promises, class: "pagination pagination-small pagination-centered visible-phone", page_links: false %>
</ul>