<div class="alert alert-info"><%= t('app.promises.disclaimer').html_safe %></div>

<p class="pull-right"><%= t('app.counts.promises', count: promises.size).html_safe %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Promise.human_attribute_name :party %></th>
      <th><%= Promise.human_attribute_name :body %></th>
      <th><%= Promise.human_attribute_name :general %></th>
      <th><%= Promise.human_attribute_name :source %></th>
      <th><%= Topic.model_name.human count: 2 %></th>
    </tr>
  </thead>

  <tbody>
    <% promises.each do |promise| %>
      <tr>
        <td><%= link_to promise.party.name, promise.party %></td>
        <td><%= promise.body %></td>
        <td><%= promise.general_text %></td>
        <td><%= promise.source %></td>
        <td>
          <% promise.topics.each do |t| %>
          <%= link_to t.name, t %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
