<div class="well well-small" id="top">
  <!-- VISIBLE IN DESKTOP -->
  <div class="row-fluid">
    <div class="span4">
      <h6>Hovedkategorier</h6>
      <ul class="nav multiple-select">
        <li>
          <%= link_to "Vis alle", show_all_promises_path %>
        </li>
        <% categories.each do |category| %>
          <li class="<%= show_category_as_selected(category) %>">
            <%= link_to category.human_name, category_path_for(category) %>
          </li>
        <% end %>
      </ul>
      <% if @category %>
        <p><small>Valgt kategori: <strong><%= @category.human_name %></strong></small></p>
      <% end %>

    </div>

    <div class="span4" id="subcategories-select">
      <h6>Underkategorier</h6>
      <ul class="nav multiple-select">
        <% categories.each do |category| %>
          <% category.children.each do |subcategory| %>
            <li class="<%= show_subcategory_as_selected(subcategory) %>">
              <%= link_to subcategory.human_name, subcategory_path_for(subcategory) %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if @subcategory %>
        <p><small>Valgt underkategori: <strong><%= @subcategory.human_name %></strong></small></p>
      <% end %>
    </div>

    <div class="span4">
      <h6>Partier</h6>
      <ul class="nav multiple-select">
        <li>
          <%= link_to "Vis alle", show_all_promises_path %>
        </li>
        <% parties.each do |party| %>
          <li class="<%= show_party_as_selected(party) %>">
            <%= link_to party.name, party_path_for(party) %>
          </li>
        <% end %>
      </ul>
      <% if @party %>
        <p><small>Valgt parti: <strong><%= @party.name %></strong></small></p>
      <% end %>
    </div>
  </div>
</div>

  <!-- VISIBLE IN MOBILE --> 
<div class="hidden-desktop">
  <select class="categories">
    <option>Velg kategori</option>
    <% categories.each do |category| %>
      <option data-category-id="<%= category.id %>"><%= category.human_name %></option>
    <% end %>
  </select>
  <select id="subcategory-dropdown" class="hidden">
    <option>Velg underkategori</option>
  </select>
</div>