<%= spinner_tag %>
<ul class="promises-results unstyled">
  <%= will_paginate @promises %>
  <% @promises.each do |p| %>
    <li class="media promise">
      <div class="pull-left">
        <% p.parties.each do |party| %>
          <%= image_tag party.logo.versions[:small], {alt: "#{party.name}s logo", class: "media-object"} %>
        <% end %>
      </div>
      <div class="media-body">
        <p>
          <%= p.body %>
        </p>
        <ul class="nav nav-pills">
          <li>
            <%= link_to "Se løfteside", p %>
          </li>
          <% if p.issues.published.any? %>
          <li>
            <%= link_to "Se tilknyttede saker (#{p.issues.published.size})", promise_path(p, anchor: "issues") %>
          </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
  <% if @promises.empty? %>
    <li>Ingen løfter finnes med dette filteret</li>
  <% end %>
  <%= will_paginate @promises %>
  <li class="empty-results-message hidden">
    <h3>Partiet har ingen løfter i denne kategorien.</h3>
  </li>
</ul>