<%= link_to question, class: 'question' do %>
  <div class="avatar-container">
    <img src="<%= path_to_image question.representative_avatar %>" class="representative" alt="<%= question.representative_name %>">
    <%= image_tag question.party_logo, alt: question.party_name, class: "party-logo" %>
  </div>
  <p><%= question.teaser(local_assigns.fetch(:teaser_length, 100)) %></p>
  <aside class="muted">
    <div>
      Fra <%= question.from_display_name %>
      til <%= question.representative_name %>
      fra <span class="district"><%= question.district_name %></span>
    </div>
    <!-- TODO: uncomment this when activity is high so it looks good.
    <div><%= question.status_description %></div>
    -->
  </aside>
<% end %>
