<ul class="representatives-list">
  <% @representatives.each do |rep| %>
    <li class="vcard representative party-<%= rep.party.external_id %> district-<%= rep.district.name %>">
      <a href="todo">
	<%= image_tag rep.image, class: 'representative-image'  %>
        <span class="n fn"><%= rep.display_name %></span>
      </a>
      <% if show_party %>
	<%= link_to rep.party.name, rep.party, :class => "org party-" + rep.party.external_id  %>
      <% end %>
    </li>
  <% end %>
</ul>
