<p class="pull-right"><%= t('app.counts.representative', :count => representatives.size).html_safe %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Representative.human_attribute_name :name %></th>
        <% if show_party %>
        <th><%= Representative.human_attribute_name :party %></th>
        <% end %>
      <th><%= Representative.human_attribute_name :alternate %></th>
    </tr>
  </thead>
  <tbody>
      <% representatives.each do |rep| %>
      <tr>
        <td><%= link_to rep.display_name, rep %></td>
        <% if show_party %>
          <td><%= link_to rep.party.name, rep.party %></td>
        <% end %>
        <td><%= t("app.yes") if rep.alternate? %></td>
      </tr>
      <% end %>
  </tbody>
</table>
