<p class="pull-right"><%= t('app.counts.representative', :count => representatives.size).html_safe %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Representative.human_attribute_name :name %></th>
      <% if show_party %>
        <th><%= Representative.human_attribute_name :party %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% representatives.each do |rep| %>
      <tr>
        <td><%= link_to rep.display_name, rep %></td>
        <% if show_party %>
          <td><%= link_to rep.current_party.try(:name), rep.current_party %></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>
