<div class="row"><p class="pull-right"><%= t('app.counts.vote', count: votes.size).html_safe %></p></div>

<% if votes.any? %>
  <div class="row table-header-row">
    <div class="span2"><%= Vote.human_attribute_name :time %></div>
    <div class="span4"><%= Issue.model_name.human %></div>
    <div class="span2"><%= Vote.human_attribute_name :subject %></div>
    <div class="span1"><%= Vote.human_attribute_name :enacted %></div>
    <div class="span1"><%= Vote.human_attribute_name :for_count %></div>
    <div class="span1"><%= Vote.human_attribute_name :against_count %></div>
    <div class="span1"><%= Vote.human_attribute_name :absent_count %></div>
  </div>
  <% issues.each do |issue| %>
    <% alternative_votes = issue.votes %>
    <div class="row table-issue-row">
      <div class="span2"><%= alternative_votes[0].time_text %></div>
      <div class="span4"><%= link_to issue.summary, issue %></div>
      <div class="span6">
        <% alternative_votes.each_with_index do |vote,i| %>
      	  <div class="row<%= ' table-vote-row' if i>0  %>">
      	    <div class="span2"><%= link_to vote.subject, vote %></div>
      	    <div class="span1"><%= vote.enacted_text %></div>
      	    <% stats = vote.stats %>
      	    <div class="span1 vote-for"><%= stats.for_percent %>% (<%= stats.for_count %>/<%= stats.vote_count %>)</div>
      	    <div class="span1 vote-against"><%= stats.against_percent %>% (<%= stats.against_count %>/<%= stats.vote_count %>)</div>
      	    <div class="span1 vote-absent"><%= stats.absent_percent %>% (<%= stats.absent_count %>/<%= stats.vote_count %>)</div>
      	  </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if votes_index %>
    <%= page_navigation_links @issues %>
  <% end %>
<% end %>
