<h2><%= Vote.model_name.human :count => 2 %></h2>

<p class="pull-right">Viser <strong><%= votes.size %></strong> voteringer.</p>

<% if votes.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="date-header"><%= Vote.human_attribute_name :time %></th>
        <% if show_issue %>
          <th><%= Issue.model_name.human %></th>
        <% end %>
        <th><%= Vote.human_attribute_name :subject %></th>
        <th><%= Vote.human_attribute_name :enacted %></th>
        <th><%= Vote.human_attribute_name :for_count %></th>
        <th><%= Vote.human_attribute_name :against_count %></th>
        <th><%= Vote.human_attribute_name :missing_count %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% votes.each do |vote| %>
      <tr>
        <td><%= vote.human_time %></td>
        <% if show_issue %>
          <td><%= link_to vote.issue.summary, vote.issue %></td>
        <% end %>
        <td><%= vote.subject %></td>
        <td><%= vote.human_enacted %></td>

        <% pc = vote.percentages %>

        <td class="vote-for"><%= pc.for %>% (<%= vote.for_count %>)</td>
        <td class="vote-against"><%= pc.against %>% (<%= vote.against_count %>)</td>
        <td class="vote-missing"><%= pc.missing %>% (<%= vote.missing_count %>)</td>
        <td><a href="<%= url_for vote %>" class="btn"><%= t('app.details') %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>