<div class="blog">
  <div class="row-fluid">

    <div class="span12">
      <% grouping = 1 %>
      <% @latest_posts.in_groups_of(grouping) do |group| %>
        <div class="row-fluid">
          <% group.each do |latest_post| %>
            <a href="<%= latest_post.url %>" class="span<%= 12 / grouping %>">
              <h4><%= latest_post.title %></h4>
              <p class="byline">av <%= latest_post.author %></p>
              <div class="content">
                <%= latest_post.teaser.html_safe %>
              </div>
              <span class="read-more">Les hele</span>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<small class="pull-right"><a href="http://blog.holderdeord.no/">Se alle &raquo;</a></small>
