<section class="top-issues">
  <h4 class="top-issues-caption">Ukens tema</h4>
  <h2 class="top-issues-caption">Samferdsel</h2>

  <article class="issue">
    <%= link_to @main_issue do %>
      <img src="" alt="Illustrasjonsbilde tema">
      <h3><%= @main_issue.title %></h3>
      <div class="muted">Basert p책 <%= @main_issue.votes.size %> avstemninger p책 Stortinget</div>
      <p>
        <%= @main_issue.description %>
        <span class="read-more"><%= t('app.read_more') %></span>
      </p>
    <% end %>
  </article>

  <% @issues.each_slice(3) do |issues| %>
    <div class="row-fluid">
      <% issues.each do |issue| %>
        <article class="issue span4">
          <%= link_to issue do %>
            <h4><%= issue.title %></h4>
            <div class="muted">Basert p책 <%= issue.votes.size %> avstemninger p책 Stortinget</div>
            <p>
              <%= awesome_truncate issue.description, 200 %>
              <span class="read-more"><%= t('app.read_more') %></span>
            </p>
          <% end %>
        </article>
      <% end %>
    </div>
  <% end %>
</section>
