<div class="span8">
  <h3 class="top-issues-caption">Aktuelt</h3>
  <section class="top-issues">
    <% @issues.each_slice(2) do |issues| %>
      <div class="row-fluid">
        <% issues.each do |issue| %>
          <article class="issue span6">
            <%= link_to issue do %>
              <h4><%= issue.title %></h4>
              <p>
                <%= awesome_truncate issue.description, 200 %>
                <span class="read-more"><%= t('app.read_more') %></span>
              </p>
            <% end %>
          </article>
        <% end %>
      </div>
    <% end %>
  </section>
</div>

<div class="span4">
  <div class="blog">
    <h3>Apropos</h3>
    <p class="description">
      Her skriver folk tilknyttet Holder de ord om små og store ting som opptar dem. Helt uhøytidelig og etter innfallsmetoden.
    </p>

    <article>
      <h4><%= @latest_post.title %></h4>
      <p class="byline">av <%= @latest_post.author %></p>
      <div class="content">
        <% @latest_post.paragraphs.first(2).each do |pg| %>
          <p><%= pg.html_safe %></p>
        <% end %>
      </div>
      <%= link_to "Les hele innlegget", @latest_post.url %>
    </article>
  </div>
</div>
