<h4>Sist behandlede forslag</h4>

<div class="proposition-feed">
  <div class="proposition-list">
    <% @propositions.each do |prop| %>
      <%= link_to proposition_path(prop) do %>
        <div class="proposition" data-id="<%= prop.id %>">
          <div class="row-fluid">
            <div class="span9"><%= unicode_capitalize(prop.simple_description) %></div>

            <time class="span3 muted">
              <% if prop.vote_time.localtime > 1.week.ago  %>
                <%= distance_of_time_in_words_to_now prop.vote_time.localtime %> siden
              <% else %>
                <%= l prop.vote_time.localtime, format: :short_text %>
              <% end %>
            </time>
          </div>

          <div class="row-fluid ">
            <% if prop.proposers.any? %>
              <small class="span12 muted">
                <%= prop.proposers.map(&:name).sort.to_sentence %>
              </small>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>