<h2 id='samarbeidspartnere'>Samarbeidspartnere</h2>

<p>I 2011 inngikk Holder de ord et samarbeid med NUUG (Norwegian Unix User Group). Nettsiden vår, basert på åpne standarder og fri programvareutvikling, er et direkte resultat av dette samarbeidet.</p>

<p>I 2012 vant Holder de ord Reklame for Alvor-konkurransen i regi av bransjeorganisasjonen Kreativt Forum, der vinnerorganisasjonen får en gratis reklamekampanje verdt flere millioner kroner. Holder de ords reklamekampanje vil gå på luften våren 2013. Reklamekampanjen lages av Saatchi og Saatchi.</p>

<div class="row-fluid">
  <div class="span4">
    <a href="http://reklameforalvor.no/">
      <img alt="Reklame for Alvor Logo" src="<%= asset_path('friends/logo_rfa.png') %>">
    </a>
  </div>
  <div class="span4">
    <a href="http://kreativtforum.no/">
      <img alt="Kreativt Forum Logo" src="<%= asset_path('friends/logo_kf.png') %>">
    </a>
  </div>
  <div class="span4">
    <a href="http://saatchi.no/">
      <img alt="Saatchi Logo" src="<%= asset_path('friends/logo_saatchi.png') %>">
    </a>
  </div>
</div>

<hr class="soften">

<h2 id='vre-sponsorer'>Våre sponsorer</h2>

<div class="row-fluid pagination-centered">
  <div class="span4">
    <a href="http://www.nuugfoundation.no/no/">
      <img alt="NUUG Foundation Logo" src="<%= asset_path('friends/logo_nuug.png') %>">
    </a>
    <h4>NUUG Foundation</h4>
  </div>

  <div class="span4">
    <a href="http://frittord.no/">
      <img alt="Fritt Ord Logo" src="<%= asset_path('friends/logo_frittord.png') %>">
    </a>
    <h4>Fritt Ord</h4>
  </div>

  <div class="span4">
    <a href="http://www.opera.com/">
      <img alt="Opera Software Logo" src="<%= asset_path('friends/logo_opera.png') %>">
    </a>
    <h4>Opera Software</h4>
  </div>
</div>

<hr class="soften">

<h2 id='gaver-og-sponsorbidrag'>Gaver og sponsorbidrag</h2>

<ul>
  <li>August 2013: 40.000 kr fra <a href="http://www.plastilin.no">Plastilin</a></li>
  <li>Mars 2013: 10.000 kr fra <a href="http://www.opera.com">Opera Software ASA</a></li>
  <li>Februar 2013: 30.000 kr fra Christen Sveaas</li>
  <li>Februar 2013: 35.000 kr fra <a href="http://www.nuugfoundation.no">NUUG Foundation</a></li>
  <li>Februar 2013: 100.000 kr fra <a href="http://www.frittord.no">Fritt Ord</a></li>
  <li>Oktober 2012: 65.000 kr fra <a href="http://www.nuugfoundation.no">NUUG Foundation</a></li>
  <li>Juli 2012: 20.000 kr fra <a href="http://www.nuugfoundation.no">NUUG Foundation</a></li>
</ul>

