<% content_for :jumbotron do %>
  <p>
    Din uavhengige kilde for fakta om stortingspolitikk. Holder de ord gjør det enkelt å sjekke hva politikerne på Stortinget stemmer og lover i saker du er opptatt av.
    <%= link_to 'Les mer', home_about_path %>
  </p>
<% end %>

<% if AppConfig.questions_enabled %>
  <div class="row-fluid promoboxes">
    <div class="span6 promoted">
      <h4>Spør en representant!</h4>
      <p>Bli med og test vår nye spørretjeneste.</p>
      <p>
        <%= link_to t('app.questions.new'), new_question_path, class: 'btn btn-primary' %>
      </p>
    </div>
    <div class="span6">
      <h4>Gi oss penger</h4>
      <p>
        Støtt vårt arbeid! Send kodeord <strong>HOLDERDEORD til 2160</strong>
        for å støtte oss med 150 kr. Vi tar også imot større donasjoner.
        <span class="read-more"><%= link_to t('app.read_more'), home_support_path %></span>
      </p>
    </div>
  </div>
<% end %>

<% @tag_groups.each do |tag, issues| %>
  <h3 class="lead tagblock-caption">
    <%= link_to tag.name, issues_path(anchor: "tag-#{tag.slug}") %>
  </h3>

  <section class="tagblock">
    <div class="row-fluid">
      <% issues.first(3).each do |issue| %>
        <article class="issue span4">
          <%= link_to issue do %>
            <h4><%= issue.title %></h4>
            <p>
              <%= awesome_truncate issue.description, 250 %>
              <span class="read-more"><%= t('app.read_more') %></span>
            </p>
          <% end %>
        </article>
      <% end %>
    </div>
  </section>
<% end %>

<h3 class="lead">Alle tema</h3>
<% @all_tags.each_slice(4) do |tags| %>
  <div class="row-fluid">
  <% tags.each do |tag| %>
    <div class="span3">
      <%= link_to tag.name, issues_path(anchor: "tag-#{tag.slug}") %>
    </div>
  <% end %>
  </div>
<% end %>

<hr class="soften">

<h3 align="center">SJEKK DITT PARTI</h3>

<div class="row-fluid">
  <div class="home-party-list">
    <% @parties.each do |party| %>
      <%= link_to party do %>
      <div class="home-party-logo">
        <%= image_tag party.logo, alt: party.name, width: '290', height: '290' %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<hr class="soften">
