<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <%= image_tag asset_path("jumbotron_fg.png"),alt: "Holder de ord logo" %>
      <p>
        Holder de ord gjør det enkelt å sjekke hva politikerne på Stortinget stemmer og lover i saker du er opptatt av. Vårt mål er å bli den foretrukne kilden for faktabasert informasjon om norsk politikk frem mot Stortingsvalget i 2013.
      </p>
    </div>
  </div>
<% end %>

<style>
#feed {
  white-space: nowrap;
  overflow: hidden;
}
#feed div {
  font: 13px/26px "Helvetica Neue", sans-serif;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  height: 120px;
  width: 200px;
  padding: 20px;
  box-shadow: -1px 0 #ddd inset, 1px 0 #ddd;
}
</style>
<script>
    window.onload = function(){
      var html = '';
      $.getJSON('http://api.twitter.com/1/statuses/user_timeline.json?screen_name=holderdeord&include_rts=1&callback=?', function(data) {
          for ( i=0; i<data.length; i++ ) {
            html += '<div>' + data[i].text + '</div>';
          }
        // $('#feed').html(html);
      });
    }
  </script>
<div id="feed"></div>


<div class="row-fluid">
  <div class="span9">

    <div class="page-header">
      <h4>Sjekk hva partiene har stemt og lovet</h4>
    </div>

    <div class="row-fluid">
      <div class="home-party-list">
        <% @parties.each do |party| %>
          <%= link_to party do %>
          <div class="home-party-logo">
            <%= image_tag party.image_with_fallback.thumb("250x250").url, alt: party.name %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <hr class="soften">

    <% @issues.each_slice(3) do |issues| %>
    <section class="issues row-fluid">
      <% issues.each do |issue| %>
        <article class="issue span4">
          <%= link_to issue do %>
            <!-- OPTIONAL IMAGE -->
            <!--<figure style="background-image: url('')">-->
            </figure>
            <h3><%= issue.title %></h3>
            <p>
              <%= issue.description %>
              <span class="lesmer">Les mer...</span>
            </p>
          <% end %>
        </article>
      <% end %>
    </section>
    <% end %>

    <hr class="soften">

    <div class="hidden-phone">
      <h3>Hvilke saker er viktige for deg?</h3>

      <div class="row-fluid">
        <% @topic_columns.each do |topics| %>
            <div class="span4">
              <% topics.each do |topic| %>
                <h4><%= link_to topic.name, topic %></h4>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span3">

    <div class="hidden-phone">
      <div class="well">
        <p>Holder de ord er en partipolitisk uavhengig organisasjon som gjør det lettere å følge med på hva som skjer i norsk politikk. Denne nettsiden er en prototype under utvikling.</p>
        <p>Følg oss på <a href="http://twitter.com/holderdeord/">Twitter</a> og <a href="http://www.facebook.com/holderdeord">Facebook</a> for oppdateringer!</p>
        <p><%= link_to t('app.read_more'), home_about_path, class: 'btn btn-primary' %></p>
      </div>

      <div class="well">
        <h3>Vi trenger din hjelp!</h3>
        <p>Send kodeord <strong>HOLDERDEORD</strong> til <strong>2160</strong> så støtter du oss med 150 kr.</p>
        <p><%= link_to t('app.read_more'), home_support_path, class: 'btn btn-primary' %></p>
      </div>

      <div class="well">
        <h3>Bli med</h3>
        <p>Vi er hele tiden på utkikk etter flere drevne medarbeidere.</p>
        <p><strong>For tiden søker vi ny produktsjef.</strong></p>
        <p><%= link_to t('app.read_more'), home_join_path, class: 'btn btn-primary' %></p>
      </div>

      <div class="well">
        <h3>Tilbakemelding</h3>
        <p>Ris, ros, eller noe som ikke virker? Gi beskjed!</p>
        <%= link_to 'Send oss en epost', "mailto:#{t 'app.email'}?subject=Tilbakemelding", class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
</div>

