<% content_for :jumbotron do %>
  <p>
    Lurer du på hva politikerne stemmer på Stortinget og lover i partiprogrammene? Følg opp dine folkevalgte her!
    <%= link_to 'Les mer', home_about_path %>
  </p>
<% end %>

<div class="row-fluid">
  <%= render partial: 'issues' %>
</div>

<% if AppConfig.leaderboard_enabled %>
  <%= render partial: 'leaderboard' %>
<% end %>

<% if AppConfig.questions_enabled %>
<section>
  <h2><%= t 'app.questions.title' %></h2>

  <p class="intro">
    Nå kan du stille spørsmål til en stortingspolitiker om saker som opptar deg. Prøv vår nye tjeneste!
  <p>

  <h4>Sist besvarte spørsmål</h4>

  <% @questions.in_groups_of(2) do |questions_row| %>
    <div class="row-fluid">
      <% questions_row.each do |q| %>
        <div class="span6 questions-index">
          <%= render partial: 'shared/question_card', locals: {question: q} %>
        </div>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= link_to t('app.questions.new'), new_question_path, class: 'btn btn-primary' %>
    <%= link_to t('app.questions.all'), questions_path, class: 'btn' %>
  </p>
</section>
<% end %>

<section>
  <h2>Alle tema</h2>
  <% @all_tags.each_slice(4) do |tags| %>
    <div class="row-fluid">
    <% tags.each do |tag| %>
      <div class="span3">
        <%= link_to tag.name, issues_path(anchor: "tag-#{tag.slug}") %>
      </div>
    <% end %>
    </div>
  <% end %>
</section>

<% if AppConfig.frontpage_blog_enabled && @latest_posts %>
  <%= render partial: 'blog_and_social' %>
<% end %>

<% unless AppConfig.leaderboard_enabled %>
  <hr class="soften">
  <h3 align="center">SJEKK DITT PARTI</h3>

  <div class="row-fluid">
    <div class="home-party-list">
      <% @parties.each do |party| %>
        <%= link_to party do %>
        <div class="home-party-logo">
          <%= image_tag party.logo, alt: party.name, width: '290', height: '290' %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
