<% content_for :jumbotron do %>
  <p>
    Din uavhengige kilde for fakta om stortingspolitikk. Holder de ord gjør det enkelt å sjekke hva politikerne på Stortinget stemmer og lover i saker du er opptatt av.
    <%= link_to 'Les mer', home_about_path %>
  </p>
<% end %>

<% if AppConfig.questions_enabled %>
  <div class="row-fluid promoboxes">
    <div class="span6 promoted">
      <img class="promoimage" src="<%= asset_path('promoarea/promo_question.png') %>" alt="Spørsmålsgrafikk">
      <h4><%= t 'app.questions.title' %></h4>
      <p>Nå kan du stille spørsmål til en stortingspolitiker om saker som opptar deg. Prøv vår nye tjeneste!</p>
      <p>
        <%= link_to t('app.questions.new'), questions_path, class: 'btn btn-primary' %>
      </p>
    </div>
    <div class="span6">
      <img class="promoimage" src="<%= asset_path('promoarea/promo_money.png') %>" alt="Pengegrafikk">
      <h4>Støtt vårt arbeid</h4>
      <p>
        Send kodeord HOLDERDEORD til 2160 for å støtte oss med 150 kr. Vi tar også i mot større gaver og sponsorbidrag.
        <span class="read-more"><%= link_to t('app.read_more'), home_support_path %></span>
      </p>
    </div>
  </div>
<% end %>

<div class="row-fluid">
  <div class="row-fluid">
    <% if AppConfig.frontpage_blog_enabled && @latest_post %>
      <%= render partial: 'issues_and_blog' %>
    <% else %>
      <%= render partial: 'issues' %>
    <% end %>
  </div>
</div>

<% if AppConfig.leaderboard_enabled %>
  <%= render partial: 'leaderboard' %>
<% end %>

<h3 class="lead">Alle tema</h3>
<% @all_tags.each_slice(4) do |tags| %>
  <div class="row-fluid">
  <% tags.each do |tag| %>
    <div class="span3">
      <%= link_to tag.name, issues_path(anchor: "tag-#{tag.slug}") %>
    </div>
  <% end %>
  </div>
<% end %>

<% unless AppConfig.leaderboard_enabled %>
  <hr class="soften">
  <h3 align="center">SJEKK DITT PARTI</h3>

  <div class="row-fluid">
    <div class="home-party-list">
      <% @parties.each do |party| %>
        <%= link_to party do %>
        <div class="home-party-logo">
          <%= image_tag party.logo, alt: party.name, width: '290', height: '290' %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
