<% content_for :jumbotron do %>
  <p>
    Lurer du på hva politikerne stemmer på Stortinget og lover i partiprogrammene? Følg opp dine folkevalgte her!
    <%= link_to 'Les mer', home_about_path %>
  </p>
<% end %>

<div class="row-fluid">
  <%= render partial: 'issues' %>
</div>

<% if AppConfig.leaderboard_enabled %>
  <%= render partial: 'leaderboard' %>
<% end %>

<% if AppConfig.questions_enabled %>
<section>
  <h2><%= t 'app.questions.title' %></h2>
  <p class="intro">
    Nå kan du stille spørsmål til en stortingspolitiker om saker som opptar deg. Prøv vår nye tjeneste!
    <br><br>
    <%= link_to t('app.questions.new'), questions_path, class: 'btn btn-primary' %>
    <a href="#" class="btn">Se alle spørsmål</a>
  <p>

  <div class="row-fluid">
    <div class="span6 questions-index">
      <h4>Sist besvarte spørsmål</h4>
      <a href="/questions/211" class="question">
        <div class="avatar-container">
          <img src="/uploads/representative/image/karh/avatar_c30414a9c0c721b290ca4c5ac75dbc36.jpg" class="representative" alt="Kari Henriksen">
          <img alt="Arbeiderpartiet" class="party-logo" src="/uploads/party/logo/a/59188f54e1a4771762cb915a3c0adcd3.png">
        </div>
        <p>Kjære representant. Arbeiderpartiet lovet 11 mnd studiestøtte, men dere som sitter i en flertalls...</p>
        <aside class="muted">
          <div>
            Til Kari Henriksen fra <span class="party">Arbeiderpartiet</span> i <span class="district">Vest-Agder</span>
          </div>
        </aside>
      </a>
    </div>

    <div class="span6 questions-index">
      <h4>Siste ubesvarte spørsmål</h4>
      <a href="/questions/211" class="question">
        <div class="avatar-container">
          <img src="/uploads/representative/image/karh/avatar_c30414a9c0c721b290ca4c5ac75dbc36.jpg" class="representative" alt="Kari Henriksen">
          <img alt="Arbeiderpartiet" class="party-logo" src="/uploads/party/logo/a/59188f54e1a4771762cb915a3c0adcd3.png">
        </div>
        <p>Kjære representant. Arbeiderpartiet lovet 11 mnd studiestøtte, men dere som sitter i en flertalls...</p>
        <aside class="muted">
          <div>
            Til Kari Henriksen fra <span class="party">Arbeiderpartiet</span> i <span class="district">Vest-Agder</span>
          </div>
        </aside>
      </a>
    </div>
  </div>
</section>
<% end %>

<section>
  <h2>Alle tema</h2>
  <% @all_tags.each_slice(4) do |tags| %>
    <div class="row-fluid">
    <% tags.each do |tag| %>
      <div class="span3">
        <%= link_to tag.name, issues_path(anchor: "tag-#{tag.slug}") %>
      </div>
    <% end %>
    </div>
  <% end %>
</section>

<% if AppConfig.frontpage_blog_enabled && @latest_post %>
  <%= render partial: 'blog_and_social' %>
<% end %>

<% unless AppConfig.leaderboard_enabled %>
  <hr class="soften">
  <h3 align="center">SJEKK DITT PARTI</h3>

  <div class="row-fluid">
    <div class="home-party-list">
      <% @parties.each do |party| %>
        <%= link_to party do %>
        <div class="home-party-logo">
          <%= image_tag party.logo, alt: party.name, width: '290', height: '290' %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
