<% content_for :jumbotron do %>
  <p>
    Lurer du på hva politikerne stemmer på Stortinget og lover i partiprogrammene? Følg opp dine folkevalgte her!
    <%= link_to 'Les mer', home_about_path %>
  </p>
<% end %>

<div class="row-fluid">
  <%= render partial: 'issues' %>
</div>

<%= render partial: 'leaderboard' %>

<hr class="soften">

<section>
  <h2><%= t 'app.questions.title' %></h2>

  <!-- FIXME: inline style -->
  <div class="row-fluid" style="margin: 20px 0;">
    <%= link_to t('app.questions.new'), new_question_path, class: 'btn btn-primary' %>
    <%= link_to t('app.questions.all'), questions_path, class: 'btn' %>
  </div>

  <h4>Sist besvarte spørsmål</h4>

  <div class="row-fluid">
    <% @questions.each do |q| %>
      <div class="span6 questions-index">
        <%= render partial: 'shared/question_card', locals: {question: q, teaser_length: 300} %>
      </div>
    <% end %>
  </div>
</section>

<hr class="soften">

<%= render partial: 'blog' %>
<hr class="soften">
<%= render partial: 'social' %>

<section>
  <h2>Alle tema</h2>
  <% @all_tags.each_slice(4) do |tags| %>
    <div class="row-fluid">
    <% tags.each do |tag| %>
      <div class="span3">
        <%= link_to tag.name, issues_path(anchor: "tag-#{tag.slug}") %>
      </div>
    <% end %>
    </div>
  <% end %>
</section>
