<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <%= image_tag asset_path("jumbotron_fg.png"),alt: "Holder de ord logo" %>
      <p>
        Din uavhengige kilde for fakta om stortingspolitikk. Holder de ord gjør det enkelt å sjekke hva politikerne på Stortinget stemmer og lover i saker du er opptatt av.
        <%= link_to 'Les mer', home_about_path %>
      </p>
    </div>
  </div>
<% end %>

<div class="row-fluid">
  <% @issues.each_slice(3) do |issues| %>
  <section class="issues row-fluid">
    <% issues.each do |issue| %>
      <article class="issue span4">
        <%= link_to issue do %>
          <!-- OPTIONAL IMAGE -->
          <!--<figure style="background-image: url('')"></figure>-->
          <h4><%= issue.title %></h4>
          <p>
            <%= issue.description %>
            <span class="read-more"><%= t('app.read_more') %></span>
          </p>
        <% end %>
      </article>
    <% end %>
  </section>
  <% end %>

  <hr class="soften">

  <h3 align="center">SJEKK DITT PARTI</h3>

  <div class="row-fluid">
    <div class="home-party-list">
      <% @parties.each do |party| %>
        <%= link_to party do %>
        <div class="home-party-logo">
          <%= image_tag party.image_with_fallback.thumb("250x250").url, alt: party.name %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <hr class="soften">

  <div class="row-fluid hidden-phone">
    <div class="span4">
      <h4>GI EN GAVE</h4>
      <p>
        Send kodeord <strong>HOLDERDEORD</strong> til <strong>2160</strong> så støtter du oss med 150 kr.
        Din støtte bidrar til at du enkelt kan følge med på hva som skjer i hjertet av norsk politikk.
        <span class="read-more"><%= link_to t('app.read_more'), home_support_path %></span>
      </p>
    </div>

    <div class="span4">
      <h4>BLI MED</h4>
      <p>
        Synes du det er lite fakta i den politiske debatten? Bli med og utvikle Norges nye politiske vaktbikkje! Vi er på utkikk etter flere til å være med på laget.
        <span class="read-more"><%= link_to t('app.read_more'), home_join_path %></span>
      </p>

    </div>

    <div class="span4">
      <h4>SE HVA SOM KOMMER</h4>
      <p>Denne siden er fremdeles en betaversjon og under kontinuerlig utvikling. Vi jobber med flere nye funksjoner og forbedringer. <%= link_to t('app.read_more'), home_future_path %></p>
    </div>
  </div>
</div>

