<div class="row-fluid">
  <div class="span9">
    <div class="row-fluid">
      <div class="row-fluid">

        <div class="page-header">
          <h1>Sjekk hva partiene har stemt og lovet</h1>
        </div>

        <div class="home-party-list">
          <% @parties.each do |party| %>
            <%= link_to party do %>
            <div class="home-party-logo">
              <%= image_tag party.image_with_fallback.thumb("250x250").url, alt: party.name %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <hr class="soften">

      <div class="hidden-phone">
        <h3>Hvilke saker er viktige for deg?</h3>

        <div class="row-fluid">
          <% @topic_columns.each do |topics| %>
              <div class="span4">
                <% topics.each do |topic| %>
                  <h4><%= link_to topic.name, topic %></h4>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="span3">

    <div class="hidden-phone">
      <div class="well">
        <p>Holder de ord er en partipolitisk uavhengig organisasjon som gjør det lettere å følge med på hva som skjer i norsk politikk. Denne nettsiden er en prototype under utvikling.</p>
        <p>Følg oss på <a href="http://twitter.com/holderdeord/">Twitter</a> og <a href="http://www.facebook.com/holderdeord">Facebook</a> for oppdateringer!</p>
        <p><%= link_to t('app.read_more'), home_about_path, class: 'btn btn-primary' %></p>
      </div>

      <div class="well">
        <h3>Vi trenger din hjelp!</h3>
        <p>Send kodeord <strong>HOLDERDEORD</strong> til <strong>2160</strong> så støtter du oss med 150 kr.</p>
        <p><%= link_to t('app.read_more'), home_support_path, class: 'btn btn-primary' %></p>
      </div>

      <div class="well">
        <h3>Bli med</h3>
        <p>Vi er hele tiden på utkikk etter flere drevne medarbeidere.</p>
        <p><strong>For tiden søker vi ny produktsjef.</strong></p>
        <p><%= link_to t('app.read_more'), home_join_path, class: 'btn btn-primary' %></p>
      </div>

      <div class="well">
        <h3>Tilbakemelding</h3>
        <p>Ris, ros, eller noe som ikke virker? Gi beskjed!</p>
        <%= link_to 'Send oss en epost', "mailto:#{t 'app.email'}?subject=Tilbakemelding", class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
</div>

