<h2>Menneskene bak</h2>
<br>

<div class="row-fluid">
  <div class="span8">

    <h4>Styre og administrasjon</h4>

    <% @board.each do |person| %>
      <div class="row-fluid">
        <div class="span2">
          <% if person.image %>
            <%= image_tag asset_path(person.image)  %>
          <% else %>
            <%= image_tag 'representatives/unknown.jpg' %>
          <% end %>
          <br>
          <br>
        </div>

        <div class="span10">
          <p>
            <% if person.email %>
              <a href="mailto:<%= obscure_email person.email %>"><strong><%= person.name %></strong></a> <%= person.bio.to_s.html_safe %>
            <% else %>
              <strong><%= person.name %></strong> <%= person.bio.to_s.html_safe %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <p class="muted">Foto: Alex Asensi/Holder de ord</p>
  </div>

  <div class="span4">

    <h4>Bidragsytere</h4>
    <ul class="unstyled">
    <% @contributors.each do |person| %>
      <li><%= person.name %></li>
    <% end %>
    </ul>
    <br>

    <h4>Tidligere bidragsytere</h4>
    <ul class="unstyled">
    <% @alumni.each do |person| %>
      <li><%= person.name %></li>
    <% end %>
    </ul>

  </div>
</div>

