<% page_title "#{t('app.people')} - #{t('app.about')} - #{t('app.title')}" %>

<h1><%= t("app.join") %>!</h1>
Holder de ord lages på frivillig basis av folk som ønsker å gjøre den politiske debatten mer tilgjengelig og inkluderende. Vi vil gjerne ha flere med på laget. Har du lyst til å være med? Send en epost til <a href="mailto:kontakt@holderdeord.no?Subject=kontakt%20oss">kontakt@holderdeord.no</a>!

<hr class="soften">
<h2><%= t('app.people') %></h2>

<% @all_members.each_slice(3) do |persons| %>
  <div class="row-fluid">
  <% persons.each do |person| %>
    <div class="person span4">
      <%= image_tag gravatar_url(person.email), class: 'photo' %>
      <h4 class="name lead"><%= person.name %></h4>
      <div class="profession"><%=h person.title %></div>
    </div>
  <% end %>
  </div>
<% end %>
<br>

<hr class="soften">

<h3>Styret</h3>
<% @board.each_slice(2) do |persons| %>
  <div class="row-fluid">
  <% persons.each do |person| %>
    <div class="person board span6">
      <%= image_tag gravatar_url(person.email), class: 'photo'%>
      <h4 class="name lead">
        <% if person.email %>
        <a class="name" href="mailto:<%= obscure_email person.email %>">
          <%= person.name %>
        </a>
        <% else %>
        <span class="name"><%= person.name %></span>
        <% end %>
      </h4>
      <div class="profession"><%=h person.title %></div>
      <p class="muted bio"><%= person.description.try(:html_safe) %></p>
    </div>
  <% end %>
  </div>
<% end %>

<hr class="soften">

<h3>Andre bidragsytere</h3>
<% @other.each_slice(4) do |persons| %>
  <div class="row-fluid">
  <% persons.each do |person| %>
    <div class="span3 muted"><%= person %></div>
  <% end %>
  </div>
<% end %>
