<% title "#{t('app.people')} - #{t('app.about')} - #{t('app.title')}" %>
<h2><%= t('app.people') %></h2>

<h3>Styre og administrasjon</h3>

<% @board.each do |person| %>

  <div class="person">
    <% if person.image %>
      <img src="<%= asset_path person.image %>" class="photo">
    <% else %>
      <img src="<%= asset_path "representatives/unknown.jpg" %>" class="photo">

    <% end %>

    <% if person.email %>
      <a class="name" href="mailto:<%= obscure_email person.email %>">
        <%= person.name %>
      </a>
    <% else %>
      <span class="name">
        <%= person.name %>
      </span>
    <% end %>

    <div class="bio">
      <%= person.bio.to_s.html_safe %>
    </div>

  </div>
<% end %>


<p class="muted">Foto: Alex Asensi/Holder de ord</p>
<br>

<h3>Bidragsytere</h3>
<% @contributors.each do |person| %>
  <div class="bidragsyter">
  <%= person.name %>
  </div>
<% end %>
<br>

<h3>Tidligere bidragsytere</h3>
<% @alumni.each do |person| %>
  <div class="bidragsyter">
    <%= person.name %>
  </div>
<% end %>
