<% page_title "#{t('app.people')} - #{t('app.about')} - #{t('app.title')}" %>

<h2><%= t('app.people') %></h2>

<% @all_members.each do |person| %>
  <div class="person">
      <%= image_tag "#{gravatar_url(person.email)}", class: 'photo'%>
      <span class="name"><%= person.name %></span>
      <div class="muted bio"><%=h person.title %></div>
  </div>
<% end %>
<br>

<h3>Styre</h3>

<% @board.each do |person| %>

  <div class="person">
    <%= image_tag gravatar_url(person.email), class: 'photo'%>

    <% if person.email %>
      <a class="name" href="mailto:<%= obscure_email person.email %>">
        <%= person.name %>
      </a>
    <% else %>
      <span class="name">
        <%= person.name %>
      </span>
    <% end %>

    <div class="bio">
      <%= person.description.try(:html_safe) %>
    </div>

  </div>
<% end %>

<br>

<h3>Andre bidragsytere</h3>
<% @alumni.each do |person| %>
  <div class="bidragsyter">
    <%= person.name %>
  </div>
<% end %>
