<% content_for :bodyclass do %>issue<% end %>

<header>
  <h1>
    <%= @issue.title %>
  </h1>
  <p>
    <%= @issue.description %>
  </p>
</header>

<article>

  <div class="positions">
    <% @issue.position_groups.each do |label, parties| %>
      <% if parties.any? %>
        <div class="position <%= label.key %>">
          <h2>Har stemt <%= label.text.downcase %></h2>
          <ul>
          <% parties.each do |party| %>
            <li class="party <%= party.name %>">
              <%= party.name %>
            </li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>

</article>
