<header>
  <h1>
    <%= @issue.title %>
  </h1>

  <p>
    <%= @issue.description %>
    <%= link_to "Les mer", @issue %>
  </p>
</header>

<article>
  <figure class="positions">

    <% if AppConfig.valence_widget && @issue.valence_issue? %>
      <%= render partial: 'valence_issue', locals: { issue: @issue } %>
    <% else %>
      <%= render partial: 'normal_issue', locals: { issue: @issue } %>
    <% end %>

    <figcaption class="muted">
      <p><%= @issue.explanation %></p>
    </figcaption>

  </figure>

</article>
