<header>
  <h1>
    <%= @issue.title %>
  </h1>

  <p>
    <%= @issue.description %>
    <%= link_to "Les mer", @issue %>
  </p>
</header>

<article>
  <figure class="positions">
    <%= render partial: 'issue_details', locals: { period: @period, issue: @issue } %>

    <figcaption class="muted">
      <p><%= @period.explanation %></p>
    </figcaption>

  </figure>

</article>
