<header>
  <h1>
    <%= @issue.title %>
  </h1>
  <p>
    <%= @issue.description %>
  </p>
</header>

<article>

  <figure class="positions">

    <div class="issue-graph">
      <div>
        <% @issue.position_groups.each do |label, parties| %>
          <div class="position">
            <div class="canvas parties_<%= parties.count %>"><%=  %>
              <% parties.each do |party| %>
                <a class="issue-graph-party" href="<%= party_url(party) %>"  target="_top" >
                  <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
                </a>
                <br />
              <% end %>
            </div>
            <div class="axis">
              <%= image_tag label.icon, class: "icon" %>
              <p>
                <%= label.text %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="issue-graph-axis">
        <% @issue.position_groups.each do |label, parties| %>
          <h3 class="issue-graph-label text">
            <%= image_tag label.icon, class: "icon" %>
            <%= label.text %>
          </h3>
        <% end %>
      </div>
    </div>

    <figcaption class="muted"><p><%= @issue.explanation %></p></figcaption>

  </figure>

</article>
