<header>
  <h1>
    <%= @issue.title %>
  </h1>

  <% if description_top? %>
    <p><%= @issue.description %></p>
  <% end %>
</header>

<article>
  <figure class="positions">

    <% if AppConfig.valence_widget && @issue.valence_issue? %>
      <%= render partial: 'valence_issue' %>
    <% else %>
      <%= render partial: 'normal_issue' %>
    <% end %>

    <figcaption class="muted">
      <p><%= @issue.explanation %></p>
    </figcaption>

  </figure>

  <% if description_bottom? %>
    <p><%= @issue.description %></p>
  <% end %>

</article>
