<div class="deco-bg background <%= @party.slug %>"></div>

<header>
  <h1 class="<%= @party.slug %>">
    <%= link_to @party do %>
      <%= image_tag @party.logo, alt: "#{@party.name}s logo", width: '96', height: '96' %>
      <%= @party.name %>
    <% end %>
  </h1>
</header>

<article>

  <ul class="votes">
  <% @issues.each do |issue| %>
    <li class="vote">
      <% if AppConfig.valence_widget %>
        <%= link_to issue.title, issue %>:
        <%= issue.valence_issue? ? 'har ' + issue.valence_explanation_for(@party).try(:title).to_s.downcase : issue.stats.text_for(@party, name: '', html: true) %>
      <% else %>
        <%= issue.stats.text_for(@party, name: '', html: true) %>
        <%= t 'app.lang.infinitive_particle' %>
        <%= link_to issue.downcased_title, issue %>
      <% end %>
    </li>
  <% end %>
  </ul>

</article>
