<header>
  <h1>
    Løfter <%= @parliament_period_name %>
  </h1>
</header>

<article>
  <% @promise_groups.each do |parties, promises| %>
    <h2 class="party">
      <% parties.each do |party| %>
        <%= link_to party_url(party) do %>
          <%= image_tag party.logo.versions[:medium] %>
        <% end %>
      <% end %>

      <%= links_for_parties(parties).html_safe %>
    </h2>

    <ul>
      <% promises.each do |promise| %>
      <li>
        <%= link_to promise.body, promise_path(promise), class: 'promise-link' %>
      </li>
      <% end %>
    </ul>
  <% end %>

  <figcaption class="muted"><p>Hentet fra partiprogrammene <%= @parliament_period_name %></p></figcaption>

</article>
