
<article class="widget representative">

  <%= image_tag @representative.image.versions[:medium], width: '240', height: '320', class: 'representative-image', alt: @representative.full_name %>

  <h1><%= @representative.full_name %></h1>

  <h3>
    <span class="district"><%= @representative.district.name %></span>
    <span class="<%= @representative.latest_party.name %>"><%= @representative.latest_party.try(:name) %></span>
  </h3>

  <ul>
  <% @issues.each do |issue| %>
    <li>
      <%= issue.stats.text_for(@representative, name: '', html: true) %>
      <%= t 'app.lang.infinitive_particle' %>
      <%= link_to issue.downcased_title, issue, target: '_top' %>
    </li>
  <% end %>
  </ul>

</article>
