<% content_for :bodyclass do %>representative<% end %>

<div class="deco-bg background <%= @representative.latest_party.name %>"></div>

<header>
  <%= image_tag @representative.image.versions[:medium], width: '240', height: '320', alt: @representative.full_name %>
  <h1>
    <%= @representative.full_name %>
  </h1>
  <h3 class="<%= @representative.latest_party.name %>">
    Representerer <%= @representative.latest_party.try(:name) %> i <%= @representative.district.name %>
  </h3>
</header>

<article>

  <ul class="committees">
    <% @representative.current_committees.each do |com| %>
      <li class="committee">Medlem av <%= link_to com.name, com %></li>
    <% end %>
  </ul>

  <ul class="votes">
  <% @issues.each do |issue| %>
    <li class="vote">
      <%= issue.stats.text_for(@representative, name: '', html: true) %>
      <%= t 'app.lang.infinitive_particle' %>
      <%= link_to issue.downcased_title, issue, target: '_top' %>
    </li>
  <% end %>
  </ul>

</article>
