<% content_for :bodystyle do %>
  background-image: url(<%= @representative.image.versions[:medium] %>)
<% end %>
<article class="widget representative">

  <h1><%= @representative.full_name %></h1>

  <h3>
    <span class="district"><%= @representative.district.name %></span>
    <span class="<%= @representative.latest_party.name %>"><%= @representative.latest_party.try(:name) %></span>
  </h3>

  <ul class="votes">
  <% @issues.each do |issue| %>
    <li class="vote">
      <%= issue.stats.text_for(@representative, name: '', html: true) %>
      <%= t 'app.lang.infinitive_particle' %>
      <%= link_to issue.downcased_title, issue, target: '_top' %>
    </li>
  <% end %>
  </ul>

</article>
