<article>

  <h1>Partienes løfter 2013-2017</h1>
  <p>Hentet fra partienes programmer og regjeringserklæringen</p>
    <% @promise_groups.each do |title, promises| %>
      <h2><%= title %></h2>

      <ul class="promises">
        <% promises.each do |promise| %>
          <%= link_to promise_path(promise) do %>
            <li class="promise <%= slug_for_parties(promise.parties) %>">
              <header>
                <% promise.parties.each do |party| %>
                  <%= image_tag party.logo, alt: "#{party.name}s logo", width: '32', height: '32' %>
                  <%= party.name %>
                <% end %>
              </header>
              <p>
                <%= promise.body %>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>

    <% end %>

  <h1>Stemmegivning 2009-2013</h1>
  <% @issues.each do |issue| %>
    <div class="issue">
      <h2><%= issue.title %></h2>
      <p>
        <%= issue.description %>
        <%= link_to "Les mer", issue %>
      </p>
      <figure class="positions">

        <div class="labels">
          <% issue.position_groups.each do |label, parties| %>
            <div class="position">
              <div class="position-wrapper">
                <h3>
                  <%= image_tag label.icon, class: "icon" %>
                  <%= label.text %>
                </h3>
              </div>
            </div>
          <% end %>
        </div>

        <div class="icons">
          <% issue.position_groups.each do |label, parties| %>
            <div class="position">
              <div class="position-wrapper">
                <% parties.each do |party| %>
                  <%= link_to issue_url(issue, anchor: party.slug), class: 'issue-graph-party' do %>
                    <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </figure>
    </div>
  <% end %>
</article>
