<article>

  <h1>Løfter</h1>
    <ul class="promises">
      <% @promises.each do |promise| %>
        <li class="promise party-<%= promise.parties.first.slug %>"><%= promise.body %></li>
      <% end %>
    </ul>

  <h1>Saker</h1>
  <% @issues.each do |issue| %>
    <div class="issue">
      <h2><%= issue.title %></h2>
      <p><%= issue.description %></p>
      <figure class="positions">

        <div class="labels">
          <% issue.position_groups.each do |label, parties| %>
            <div class="position">
              <div class="position-wrapper">
                <h3>
                  <%= image_tag label.icon, class: "icon" %>
                  <%= label.text %>
                </h3>
              </div>
            </div>
          <% end %>
        </div>

        <div class="icons">
          <% issue.position_groups.each do |label, parties| %>
            <div class="position">
              <div class="position-wrapper">
                <% parties.each do |party| %>
                  <%= link_to issue_url(issue, anchor: party.slug), class: 'issue-graph-party' do %>
                    <%= image_tag party.logo.versions[:medium], alt: "#{party.name}s logo" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </figure>
    </div>
  <% end %>
</article>
