<h1><%= "#{@representative.first_name} #{@representative.last_name}" %></h1>
<div class="row-fluid">
  <div class="span4">
    <%= image_tag @representative.image, class: 'representative-image', alt: @representative.full_name, width: '240', height: '320' %>
  </div>

  <div class="span6">
    <%= twitter_bootstrap_form_for [:admin, @representative] do |form| %>
      <%= form.inputs t('app.edit') do %>

        <div class="input-prepend">
          <span class="add-on">@</span>
          <%= text_field :representative, :twitter_id %>
        </div>

        <div class="input-prepend">
          <span class="add-on"><%= Representative.human_attribute_name :email %></span>
          <%= text_field :representative, :email %>
        </div>

        <div>
          <%= check_box :representative, :will_not_answer %> Representative will not participate in Q & A.
        </div>
      <% end %>

      <%= form.actions do %>
        <%= form.submit t('app.save'), class: 'btn btn-primary' %>
        <%= link_to t('app.cancel'), admin_representatives_path, class: 'btn' %>
      <% end %>
    <% end %>
  </div>
</div>