<h1><%= "#{@representative.first_name} #{@representative.last_name}" %></h1>
<div class="row-fluid">
  <div class="span4">
    <%= image_tag @representative.image_with_fallback.thumb('240x320#').strip.url, class: 'representative-image', alt: @representative.full_name %>
  </div>

  <div class="span6">
    <h4>Rediger</h4>
    
    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= form_for @representative, :url => { :action => "update"} do |f|%>
    <%= f.label :twitter_id, 'Twitter brukernavn:'%><%= f.text_field :twitter_id, :value => @representative.twitter_id || '@' %>
    <br>
    <%= submit_tag "Update" %>
    <% end %>
  </div>

  <div class="span2">
    <%= link_to "Tilbake til representativene", :action => 'index' %>
  </div>
</div