<h1><%= Answer.model_name.human(count: 2).capitalize %></h1>
<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% Answer.statuses.each_with_index do |status, idx| %>
        <li class="span4 <%= 'active' if idx == 0 %>">
          <a href="#<%= status %>-tab" data-toggle="tab"><%= t("app.answers.status.#{status}") %> (<%= @answers_by_status[status].try(:size) || 0 %>)</a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% Answer.statuses.each_with_index do |status, idx| %>
        <div id="<%= status %>-tab" class="tab-pane <%= 'active' if idx == 0 %>">
          <%= render partial: 'answer_index_table', locals: { status: status, answers: @answers_by_status[status] || [] } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
