<div class="row-fluid">
  <small class="span3"><%= link_to '&larr; Tilbake til sakslista'.html_safe, admin_issues_path %></small>
</div>


<%= form_for @issue do |form| %>
  <div class="accordion" id="issue-editor">
    <button name='save' class="btn btn-primary pull-right">Lagre</button>
    <h1><%= @issue.title %></h1>
    <%= spinner_tag %>

    <% @sections.each_with_index do |(key, name), idx| %>
      <div class="accordion-group">
        <h2 class="lead accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#issue-editor" href="#collapse-<%= key %>">
            <%= name %>
          </a>
        </h2>

        <div id="collapse-<%= key %>" class="accordion-body collapse <%= 'in' if idx == 0 %>">
          <div class="accordion-inner">
            <%= render partial: key.to_s, locals: {form: form, issue: @issue} %>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
<% end %>

<script name="navigators-partial" type="text/x-handlebars-template">
{{#navigators}}
  <div class="row-fluid navigators">
    <strong>{{title}}</strong>

    <ul class="unstyled">
      {{#terms}}
        <li class="{{#active}}active{{/active}}">
          <a href="{{filter_url}}">{{name}}</a>  ({{count}})
          {{#active}}
            <a href="{{clear_url}}" class="pull-right">X</a>
          {{/active}}
        </li>
      {{/terms}}
    </ul>
  </div>
{{/navigators}}
</script>

<%= content_for :document_ready do %>
<script>
  $(function() {
    var editor = HDO.issueEditor.create("#issue-editor");
    editor.init();
  });
</script>
<% end %>
