<div class="page-header">
  <h1><%= District.model_name.human(count: 2).capitalize %></h1>
</div>

<p class="pull-right"><%= t('app.counts.district', count: @districts.size).html_safe %></p>

<table class="table table-striped" data-widget="tablesorter">
  <thead>
    <tr>
      <th><%= District.human_attribute_name :name %></th>
      <th><%= District.human_attribute_name :representatives %></th>
      <th><%= District.human_attribute_name :percent_of_representatives %></th>
    </tr>
  </thead>

  <tbody>
      <% @districts.each do |dist| %>
      <tr>
        <td><%= link_to dist.name, dist %></td>
        <td><%= dist.representatives.count %></td>
        <td><%= dist.percent_of_representatives %>%</td>
      </tr>
      <% end %>
  </tbody>
</table>
