<div class="page-header">
  <h1><%= District.model_name.human :count => 2 %></h1>
</div>

<p class="pull-right">Viser <strong><%= @districts.size %></strong> fylker.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= District.human_attribute_name :name %></th>
      <th><%= District.human_attribute_name :representatives %></th>
    </tr>
  </thead>

  <tbody>
      <% @districts.each do |dist| %>
      <tr>
        <td><%= link_to dist.name, dist %></td>
        <td><%= dist.representatives.size %></td>
      </tr>
      <% end %>
  </tbody>
</table>
