<p id="notice"><%= notice %></p>

<div class="well">
  <p>
    <strong><%= District.human_attribute_name :external_id %>:</strong>
    <%= @district.external_id %>
  </p>

  <p>
    <strong><%= District.human_attribute_name :name %>:</strong>
    <%= @district.name %>
  </p>

</div>

