<% page_title "#{@district.name} - #{District.model_name.human(count: 2).capitalize} - #{t('app.title')}" %>
<div class="page-header">
  <h1><%= @district.name %> <small class="pull-right"><img id="district-logo" src='<%= @district.svg_path %>'></small></h1>

</div>


<div id="district">
  <% @district.attending_representatives.each_slice(3) do |representatives| %>
    <div class="row-fluid">
      <% representatives.each do |representative| %>
        <div class="span4">
          <%= link_to representative, class:"representative" do %>
            <div class="avatar-container">
              <img src="<%= path_to_image representative.image  %>" class="avatar" alt="<%= representative.name %>">
              <%= image_tag representative.latest_party.logo, alt: representative.latest_party.name, class: "party-logo" %>
            </div>
            <div class="text">
              <h3 class="name"><%= representative.name %></h3>
              <aside><%= representative.latest_party.name %></aside>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

