<h3>
  Spørsmål
  <small class="pull-right <%= alert_class_for_status(@question.status) %>"><%= @question.status_text %></small>
</h3>

<%= form_for(@question, url: admin_question_url(@question)) do |f| %>
  <div class="form-actions">
    <%= f.submit t('app.save'), class: 'btn btn-primary' %>
    <%= link_to t('app.back'), admin_questions_path, class: 'btn' %>
  </div>

  <div class="row-fluid">
    <dl class="span6">
      <dt><%= Question.human_attribute_name :created_at %></dt>
      <dd><%= l @question.created_at.localtime %></dd>

      <dt><%= Question.human_attribute_name :representative %></dt>
      <dd><%= link_to @question.representative.name, @question.representative %></dd>

      <dt><%= Question.human_attribute_name :from_name %></dt>
      <dd><%= @question.from_name %></dd>

      <dt><%= Question.human_attribute_name :from_email %></dt>
      <dd><%= @question.from_email %></dd>

      <dt><%= Question.human_attribute_name :show_sender %></dt>
      <dd><%= @question.show_sender? ? t('app.yes') : t('app.no') %></dd>

      <dt><%= Question.human_attribute_name :body %></dt>
      <dd class="well"><%= @question.body %></dd>

      <dt><%= Question.human_attribute_name :internal_comment %></dt>
      <dd><%= f.text_area :internal_comment, rows:  5, style: 'width: 100%' %></dd>
    </dl>

    <dl class="span6">
      <dt><%= Question.human_attribute_name :status %></dt>
      <dd><%= f.select :status, question_status_options %></dd>

      <dt><%= Question.human_attribute_name :issues %></dt>
      <dd><%= f.select :issues, question_issue_options, {}, multiple: true, data: {placeholder: 'Velg saker'} %></dd>
    </dl>
  </div>

  <hr class="soften">

  <div class="row-fluid">
    <h3>
      Svar

      <% if @answer %>
        <small>fra <%= @answer.representative.full_name %></small>
        <small class="pull-right <%= alert_class_for_status(@answer.status) %>"><%= @answer.status_text %></small>
      <% end %>
    </h3>

    <div class="row-fluid">
      <% if @answer.nil? %>
        Ingen svar foreløπig.
      <% else %>
        <dl class="span6">
          <dt><%= Answer.human_attribute_name :created_at %></dt>
          <dd><%= l @answer.created_at.localtime %></dd>

          <dt><%= Answer.human_attribute_name :body %></dt>
          <dd class="well"><%= @answer.body %></dd>
        </dl>

        <dl class="span6">
          <dt><%= Question.human_attribute_name :status %></dt>
          <dd><%= select_tag 'question[answer][status]', answer_status_options %></dd>
        </dl>
      <% end %>
    </div>

    <hr class="soften">

  <h3>E-poster</h3>
  <div class="row-fluid">
    <div class="span5<%= @question.approved? ? '' : ' muted' %>">
      <h4>Ved godkjent spørsmål</h4>
      <div class="row-fluid"><%= link_to 'Send e-post til bruker', question_approved_email_user_admin_question_path(@question), class: 'btn', disabled: !@question.approved? %></div>
      <div class="row-fluid"><%= link_to 'Send e-post til representant', question_approved_email_rep_admin_question_path(@question), class: 'btn', disabled: !@question.approved? %></div>
    </div>
    <div class="span5<%= @question.answer && @question.answer.approved? ? '' : ' muted' %>">
      <h4>Ved godkjent svar</h4>
      <div class="row-fluid"><%= link_to 'Send e-post til bruker', answer_approved_email_user_admin_question_path(@question), class: 'btn', disabled: !@question.answer || !@question.answer.approved? %></div>
    </div>
  </div>

  <% if @question.email_events.any? %>
      <h4>Sendte e-poster</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Sendt</th>
            <th>Til</th>
            <th>Emne</th>
          </tr>
        </thead>

        <tbody>
          <% @question.email_events.each do |email_event| %>
            <tr>
              <td><%= l email_event.created_at %></td>
              <td><%= email_event.email_address %></td>
              <td><%= email_event.email_type %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>

  <div class="form-actions">
    <%= f.submit t('app.save'), class: 'btn btn-primary' %>
    <%= link_to t('app.back'), admin_questions_path, class: 'btn' %>
  </div>
<% end %>

<% content_for :document_ready do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("#question_issues").chosen();
    });
  </script>
<% end %>
