<h1><%= Question.model_name.human(count: 2).capitalize %></h1>

<div class="row-fluid">
  <% if @questions_pending.any? %>
    <div class="well">
      <h3>Spørsmål som avventer kontroll</h3>
        <%= render partial: 'question_index_action_table', locals: { questions: @questions_pending, status: 'pending' } %>
    </div>
<% end %>
  <% if @questions_answer_pending.any? %>
    <div class="well" id="pending-answers">
      <h3>Spørsmål med svar som avventer kontroll</h3>
        <%= render partial: 'question_index_action_table', locals: { questions: @questions_answer_pending, status: 'approved' } %>
    </div>
  <% end %>

  <div class="well">
    <% if @questions_rejected.any? %>
      <h3>Avviste spørsmål</h3>
      <%= render partial: 'question_index_table', locals: { questions: @questions_rejected, status: 'rejected' } %>
    <% end %>
    <% if @questions_unanswered.any? %>
      <h3>Spørsmål som avventer svar</h3>
      <%= render partial: 'question_index_table', locals: { questions: @questions_unanswered, status: 'approved' } %>
    <% end %>
    <% if @questions_answer_rejected.any? %>
      <h3>Spørsmål med avviste svar</h3>
      <%= render partial: 'question_index_table', locals: { questions: @questions_answer_rejected, status: 'approved' } %>
    <% end %>
    <% if @questions_approved.any? %>
      <h3>Godkjente spørsmål og svar</h3>
      <%= render partial: 'question_index_table', locals: { questions: @questions_approved, status: '' } %>
    <% end %>
  </div>

</div>
