<h1><%= Question.model_name.human(count: 2).capitalize %></h1>
<h2 class="muted"><%=Question.pending.count %> spørsmål og <%= Question.with_pending_answers.count %> svar avventer godkjenning!</h2>

<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs well">
      <% Admin::QuestionsController::STATUSES.each_with_index do |status, idx| %>
        <li class="span3 <%= 'active' if @active_tab == status %>">
          <a href="#<%= status %>-tab" data-toggle="tab"><%= t("app.questions.status.#{status}") %> (<%= @questions_by_status[status].try(:size) || 0 %>)</a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% Admin::QuestionsController::STATUSES.each_with_index do |status, idx| %>
        <div id="<%= status %>-tab" class="well tab-pane <%= 'active' if @active_tab == status %>">
          <%= render partial: 'question_index_table', locals: { questions: @questions_by_status[status] || [], show_answer: [:answer_pending, :answer_rejected].include?(status), show_edit: @show_edit, question_approved: [:answer_pending, :unanswered, :answer_rejected, :approved].include?(status) } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
