<div class="page-header">
  <h1><%= @committee.name %> <small class="pull-right"><%= @committee.external_id %></small></h1>
</div>

<%= render partial: 'shared/representatives_table',
           locals: { representatives: @committee.current_representatives, show_party: true }
%>

<h2><%= ParliamentIssue.model_name.human(count: 2).capitalize %></h2>
<%= render partial: 'shared/parliament_issue_table', locals: { parliament_issues: @committee.parliament_issues } %>


