<div class="page-header">
  <h1><%= @committee.name %> <small class="pull-right"><%= @committee.external_id %></small></h1>
</div>

<% if @committee.special? && @committee.current_representatives.size == 0 %>
  <div class="alert alert-info">
    Stortingets datatjeneste publiserer i skrivende stund ikke oversikt over medlemskap i denne komiteen.
  </div>
<% end %>

<%=
  render partial: 'shared/representatives_table',
    locals: {
      representatives: @committee.current_representatives,
      show_party: true,
      show_district: true
    }
%>

<h2><%= ParliamentIssue.model_name.human(count: 2).capitalize %></h2>
<%= render partial: 'shared/parliament_issue_table', locals: { parliament_issues: @committee.parliament_issues } %>


