<% page_title "Forslag #{@proposition.id} - Forslagsvask - Admin - #{t('app.title')}" %>

<%= render 'progress_bar' %>

<div class="row-fluid">
  <small class="span3"><%= link_to '&larr; Tilbake til forslagslista'.html_safe, admin_propositions_path(@search.params) %></small>
</div>

<div class="row-fluid">
  <small>
    <%= link_to '&larr; Forrige'.html_safe, edit_admin_proposition_path(@search.previous) if @search.previous %>
    <%= link_to '&rarr; Neste'.html_safe, edit_admin_proposition_path(@search.next), class: 'pull-right' if @search.next %>
  </small>
</div>

<%= form_for [:admin, @proposition] do |f| %>
  <div class="row-fluid">
    <h4 class="span4 offset2">Stortinget</h4>
    <h4 class="span6">Holder de ord</h4>
  </div>

  <div class="row-fluid">
    <div class="span2" style="text-align: right"><strong>Status</strong></div>
    <div class="alert alert-small <%= @proposition.status == 'published' ? 'alert-success' : 'alert-info' %> span4">
      <%= t("app.propositions.status.#{@proposition.status}", count: 1) %>
    </div>

  </div>

  <div class="row-fluid">
    <strong class="span2 rightify">Dato</strong>
    <div class="span4"><%= l @proposition.vote_time.localtime, format: :text_time %></div>
  </div>

  <div class="row-fluid">
    <strong class="span2 rightify">Forslagstittel</strong>
    <div class="span4"><%= @proposition.description %></div>
    <div class="span6"><%= f.text_area :simple_description, class: 'input-xlarge', autofocus: true, rows: 2 %></div>
  </div>

  <div class="row-fluid">
    <strong class="span2 rightify">Forslagstekst</strong>
    <div class="span4">
      <% if @proposition.plain_body.size < 600 %>
        <%= @proposition.body.html_safe %>
      <% else %>
        <%= @proposition.plain_body.truncate(100) %>
        <a href="#" data-toggle="modal" data-target="#proposition-body">Se hele</a>
      <% end %>
    </div>
    <div class="span6"><%= f.text_area :simple_body, class: 'input-xlarge' %></div>
  </div>

  <div class="row-fluid">
    <strong class="span2 rightify">Forslagstiller</strong>
    <div class="span4">"<%= @proposition.on_behalf_of %>"</div>
    <div class="span6">
      <%= select_tag 'proposers', proposer_options_for(@proposition),
                                  class: 'input-xlarge chosen', multiple: true, data: {placeholder: 'Velg forslagsstillere'} %>

      <% if @proposition.source_guess.any? %>
        <small class="muted">Forslag: <span id="source-guess"><%= @proposition.source_guess.join(',') %></span></small>
      <% end %>
    </div>
  </div>

  <div class="row-fluid">
    <strong class="span2 rightify">Saker</strong></strong>
    <div class="span4">
      <ul>
        <% @parliament_issues.each do |pissue| %>
          <li><%= link_to pissue.summary, pissue, target: '_blank' %></li>
        <% end %>
      </ul>
    </div>

    <div class="span6">
      <% if @proposition.votes.size > 1 %>
        <div class="alert alert-error">Forslaget brukes i flere avstemninger, og må derfor kobles via vanlig saksredigering.</div>
      <% else %>
        <%= f.select :issues, issue_options_for(@proposition), {},
                              class: 'input-xlarge chosen', multiple: true, data: {placeholder: 'Velg HDO-saker'} %>
      <% end %>
      <p><small class="muted">Kommer: Mulighet til å opprette ny sak herfra.</small></p>
    </div>
  </div>

  <% if @related_propositions.any? %>
    <div class="row-fluid">
      <strong class="span2 rightify">Andre forslag fra samme sak<%= 'er' if @parliament_issues.size > 1 %></strong>
      <div class="span4">
        <ul>
          <% @related_propositions.each do |prop| %>
            <li><%= link_to prop.title, edit_admin_proposition_path(prop) %></li>
          <% end -%>
        </ul>
      </div>
    </div>
  <% end -%>

  <hr>

  <div class="row-fluid">
    <div class="span6 offset6">
      <%= f.submit 'Lagre', name: 'save', class: 'btn' %>
      <%= f.submit 'Lagre og publiser', name: 'save_publish', class: 'btn' %>

      <% if @search.next %>
        <input type="hidden" name="next" value="<%= @search.next %>">
        <%= f.submit 'Lagre, publiser, gå til neste', name: 'save_publish_next', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="proposition-body" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="proposition-body" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><%= @proposition.description %></h3>
  </div>

  <div class="modal-body">
    <%= @proposition.body.html_safe %>
  </div>

  <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Lukk</button>
   </div>
</div>

<%= content_for :document_ready do %>
<script>
  $(function () {
    $('html, body').animate({scrollTop: $(".header-decoration").offset().top}, 0);
    $("select.chosen").chosen();
  })
</script>
<% end %>