<div class="page-header">
  <a href="#" class="pull-right">Hjelp?</a>
  <h1>Forslagsvask</h1>
</div>

<section class="proposition-index">
  <div class="row-fluid">
    <div class="span8">
        <ul class="nav nav-tabs">
          <li class="<%= 'active' if params[:status].blank? %>">
            <%= link_to "Alle forslag (#{@stats.total})", admin_propositions_path(@search_params.except(:status)) %>
          </li>

          <li class="<%= 'active' if params[:status] == 'published' %>">
            <%= link_to "Publiserte (#{@stats.published})", admin_propositions_path(@search_params.merge(status: 'published')) %>
          </li>

          <li class="<%= 'active' if params[:status] == 'pending' %>">
            <%= link_to "Nye (#{@stats.pending})", admin_propositions_path(@search_params.merge(status: 'pending')) %>
          </li>
        </ul>
    </div>

    <form action="<%= admin_propositions_path %>" method="get">
      <div class="span2">
        <%= select_tag 'parliament_session_name',
                       options_from_collection_for_select(
                         ParliamentSession.order(:start_date).reverse_order, :name, :name,
                         params[:parliament_session_name],
                       ),
                       class: 'span9' %>

      </div>
      <div class="span2">
        <div class="input-append">
            <input type="search"
                   name="q"
                   id="proposition-query"
                   class="input-medium search-query"
                   placeholder="Søk i forslag"
                   value="<%= params[:q] %>"
                   autofocus>
        </div>
      </div>
    </form>
  </div>

  <%= render 'progress_bar' %>

  <div class="row-fluid">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="wide-table-header">Importert</th>
          <th>Status</th>
          <th>Forslagstittel</th>
          <th>Forslagstekst</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @propositions.each do |prop| %>
          <tr class="<%= prop.status == 'published' ? 'success' : 'warning' %>">
            <td><%= l prop.vote_time.to_time.localtime, format: :short_text %></td>
            <td><%= t("app.propositions.status.#{prop.status}", count: 1) %></td>

            <% if prop.simple_description.present? %>
              <td>
                <%= prop.simple_description %>
                <p class="muted"><%= prop.description %></p>
              </td>
            <% else %>
              <td><%= prop.description %></td>
            <% end %>

            <% if prop.simple_body.present? %>
              <td><%= simple_format prop.simple_body.truncate(200) %>
                <p class="muted"><%= prop.plain_body.truncate(200) %></p>
              </td>
            <% else %>
              <td><%= prop.plain_body.truncate(200) %></td>
            <% end %>

            <td><%= link_to 'Rediger', edit_admin_proposition_path(prop), class: 'btn btn-small' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= will_paginate @propositions, class: "pagination pagination-centered" %>
</section>
