<div class="page-header">
  <h1><%= @category.name %></h1>
</div>

<div class="well">
  <% if @category.children.any? %>
    <strong><%= Category.human_attribute_name :children %>:</strong>
    <ul>
      <% @category.children.each do |subcategory| %>
        <li>
          <%= link_to subcategory.name, subcategory %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @category.ancestors.any? %>
    <strong><%= Category.human_attribute_name :ancestors %>:</strong>
    <ul>
      <% @category.ancestors.each do |ancestor| %>
        <li>
          <%= link_to ancestor.name, ancestor %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<h2><%= Promise.model_name.human(count: 2).capitalize %></h2>
<%= render "shared/promises_table", locals: { promises: @category.promises, show_party: true, show_general: true, show_source: true } %>

<h2><%= Issue.model_name.human(count: 2).capitalize %></h2>
<%= render "shared/issue_table", locals: { issues: @category.issues } %>

