<h2>Kjære <%= @resource.name %></h2>

<p>Holder de ord er en partipolitisk uavhengig organisasjon som ønsker å gjøre det lettere å følge med på hva som skjer i norsk politikk.</p>

<p>Vi i Holder de ord gratulerer med et vel gjennomført valg, og ønsker alle nye og gjenvalgte stortingsrepresentanter velkommen til vår tjeneste «Spør en stortingspolitiker».</p>

<p>Vi lanserte tjenesten før valget og mottok på kort tid 160 spørsmål fra velgerne, der 45 er besvart dere stortingsrepresentanter. Formålet med tjenesten er å skape en attraktiv kanal for dialog om politiske saker mellom velgere og stortingsrepresentanter. For å sikre dette modererer vi alle spørsmål og svar i henhold til <%= link_to 'våre retningslinjer', conduct_questions_url %>.</p>

<p>Tjenesten legger opp til at velgerne enkelt kan stille spørsmål til representanter om politiske saker, med utgangspunkt i avstemninger og valgløfter på Holder de ord. Alle godkjente spørsmål og svar publiseres på representantenes profilside på <%= link_to 'holderdeord.no', root_url %>, samt i sosiale medier. Dermed trenger dere kun svare på samme spørsmål én gang.</p>

<h4>Hvordan komme i gang</h4>

<ol>
  <li>
    <%= link_to 'Klikk her', confirmation_url(@resource, confirmation_token: @resource.confirmation_token, protocol: AppConfig.ssl_enabled ? 'https' : 'http') %> for å logge inn første gang på din personlige side på Holder de ord. Du blir bedt om å velge et passord som du bruker for å besvare spørsmål fra velgerne.
  </li>

  <li>
    Når du har valgt et passord, kommer du inn på din personlige side. Her vil spørsmålene fra velgerne som er godkjent komme opp, og du kan også se tidligere spørsmål og status for de enkelte spørsmål.
  </li>

  <li>
    Trykk på «svar» for å svare på et spørsmål. Du får da opp et skjema hvor du skriver inn ditt svar. Når du trykker «send inn» blir svaret ditt sendt til Holder de ord for godkjenning.
  </li>

  <li>
    Når svaret er godkjent, blir det publisert sammen med spørsmålet på din personlige side. Du kan enkelt dele både <%= link_to 'din profilside', representative_url(@resource) %> og et enkelt spørsmål med dine velgere via Facebook og Twitter.
  </li>
</ol>

<h4>Hvordan får jeg spørsmålene?</h4>

<p>Etter et spørsmål er godkjent, blir det publisert på din offentlige profilside. Vi sender deg en e-post når du får et spørsmål. Dersom du mottar mange spørsmål, vil vi begrense e-postutsendelsene til én gang per uke.</p>

<p>Våre søsterorganisasjoner i andre land har hatt stor suksess med liknende tjenester, hvor dette har gjort mye for å styrke kontakten mellom velgere og representanter. Vi håper det samme blir tilfellet i Norge. Hvis du har noen spørsmål eller innspill til hvordan vi kan gjøre tjenesten bedre, vil vi gjerne at du tar kontakt.</p>

<h4>Om Holder de ord</h4>

<p>Holder de ord ble grunnlagt i slutten av 2010. Hos oss finner du informasjon om hvordan partier og stortingsrepresentanter stemmer i konkrete politiske saker og hvordan dette henger sammen med partiprogram. Vi samler løfter og avstemninger under politiske saker slik vi kjenner de fra samfunnsdebatten, og gjør det enkelt for folk å få oversikt over norsk politikk.
I forbindelse med den nye stortingsperioden gjør vi en rekke endringer på vår nettside. Noen endringer er allerede implementert, mens andre vil komme i løpet av de neste månedene. Vi setter som alltid stor pris på innspill på nettsiden fra våre brukere. Bare ta kontakt dersom du har noen kommentarer.
</p>

<p>Ha en god dag!</p>

<p style="color:#666">Vennlig hilsen,<br/>
  Holder de ord</p>