<%= twitter_bootstrap_form_for [:admin, @user] do |user| %>
  <%= user.inputs @user.name, class: 'sign_up' do %>
    <%= user.text_field :name, class: 'required' %>
    <%= user.email_field :email, placeholder: 'user@holderdeord.no' %>
    <%= user.password_field :password %>
    <%= user.password_field :password_confirmation %>
    <%= user.text_area :description, {rows: 5} %>

    <ul class="unstyled">
      <li><%= user.check_box :active, User.human_attribute_name(:active) %></li>
      <li><%= user.check_box :board, User.human_attribute_name(:board) %></li>
    </ul>

    <%= user.select :role, {}, User::ROLES %>
  <% end %>

  <br>

  <div class="actions">
    <%= user.submit class: 'btn btn-primary'  %>
    <%= link_to t('app.back'), admin_users_path, :class => 'btn' %>
  </div>
<% end %>
