<h1><%= User.model_name.human(count: 2).capitalize %></h1>

<% if can_edit? %>
  <p class="pull-right">
    <%= link_to User.human_attribute_name(:new), new_admin_user_path, class: 'btn btn-primary' %>
  </p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= User.human_attribute_name :name %></th>
      <th><%= User.human_attribute_name :email %></th>
      <th><%= User.human_attribute_name :role %></th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
        <% if can_edit? %>
          <p class="pull-right">
            <%= link_to t('app.edit'), edit_admin_user_path(user), class: 'btn btn-small' %>
            <%= link_to t('app.destroy'), admin_user_path(user), class: 'btn btn-small btn-danger',
                        method: :delete,
                        data: { confirm: User.human_attribute_name(:confirm_destroy) } %>
          </p>
         <% end %>
       </td>
    </tr>
  <% end %>
  </tbody>
</table>


