<div class="well">

  <div class="row">
    <div class="span4">
      <p>
        <strong><%= User.human_attribute_name :name %>:</strong>
        <%= @user.name %>
      </p>

      <p>
        <strong><%= User.human_attribute_name :email %>:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong><%= User.human_attribute_name :role %>:</strong>
        <%= @user.role %>
      </p>

    </div>
  </div>
</div>

<% if policy(@user).edit? %>
  <%= link_to t('app.edit'), edit_admin_user_path(@user) %> |
<% end %>

<%= link_to t('app.back'), admin_users_path %>
