<% fields = Field.all %>
<% topics = Topic.all order: :title %>
<div class="container-fluid">
  <div class="span6">
    <div class="page-header"><h1>Sjekk hva partiene har lovet og stemt i saker som er viktig for deg:</h1></div>
    <%= render partial: 'fields_list', locals: { :fields => fields } %>
    <div class=""><h1>Mest populære tema:</h1></div>
    <%= render partial: 'topics_list', locals: { :topics => topics } %>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_field_path,
                :class => 'btn btn-primary' %>
  </div>
  <div class="span4 hidden-mobile">
    <div class="well">
      <h2><%=t 'app.title' %></h2>
      <p><%=t 'app.description' %></p>
      <p>Denne nettsiden er en prototype. Vi jobber med å utvikle en ny versjon som gjør det enklere å forstå hva som skjer i politikken. Følg oss på <a href="http://twitter.com/holderdeord/">Twitter</a> og <a href="http://www.facebook.com/holderdeord">Facebook</a> for oppdateringer!</p>

      <p><%= link_to t('app.read_more'), home_about_path, class: 'btn btn-primary btn-large' %></p>
    </div>
    <div class="well">
      <h2>Donasjoner</h2>
      Det er ikke gratis å overvåke politikken...
      Send GIPÆNG til 2126 for å gi oss en 50-lapp ;-)
    </div>
    <div class="well">
      <h2>Bli med</h2>
      Vi trenger hjelp til blah blah!
    </div>
  </div>
</div>