<div class="page-header">
  <h1><%= @vote.subject %></h1>
</div>

<div class="well">
  <dl>
    <dt><%= Issue.human_attribute_name :external_id %></dt>
    <dd><%= @vote.external_id %></dd>

    <dt><%= Vote.human_attribute_name :time %></dt>
    <dd><%= @vote.time %></dd>

    <dt><%= Issue.model_name.human %></dt>
    <dd><%= link_to @vote.issue.summary, @vote.issue %></dd>

    <dt><%= Vote.human_attribute_name :enacted %></dt>
    <dd><%= @vote.enacted_text %></dd>

    <% stats = @vote.stats %>
    <dt><%= Vote.human_attribute_name :for_count %></dd>
    <dd><%= stats.for_percent %>% (<%= stats.for_count %>/<%= stats.vote_count %>)</dt>

    <dt><%= Vote.human_attribute_name :against_count %></dd>
    <dd><%= stats.against_percent %>% (<%= stats.against_count %>/<%= stats.vote_count %>)</dt>

    <dt><%= Vote.human_attribute_name :absent_count %></dd>
    <dd><%= stats.absent_percent %>% (<%= stats.absent_count %>/<%= stats.total_count %>)</dt>
  </dl>
</div>

<h2>stortinget.no</h2>
<ul class="nav nav-tabs">
  <li><a href="<%= @vote.issue.url %>">Sak</a></li>
  <li><a href="<%= @vote.minutes_url %>">Referat</a></li>
</ul>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Representative.model_name.human %></th>
      <th><%= Representative.human_attribute_name :party %></th>
      <th><%= VoteResult.human_attribute_name :result %></th>
    </tr>
  </thead>
  <tbody>
      <% @vote.vote_results.each do |result| %>
      <tr>
        <td><%= link_to result.representative.display_name, result.representative %></td>
        <td><%= link_to result.representative.party.name, result.representative.party %></td>
        <td class="vote-<%= result.state %>"><%= result.human %></td>
      </tr>
      <% end %>
  </tbody>
</table>



