<div class="page-header">
  <h1><%= @vote.subject %></h1>
</div>

<% if @vote.inferred? %>
  <div class="alert alert-info"><%= I18n.t('app.votes.non_personal.inferred') %></div>
<% elsif @vote.non_personal? %>
  <div class="alert alert-info"><%= I18n.t('app.votes.non_personal.default') %></div>
<% end %>

<div class="well">
  <div class="row">
    <div class="span4">
      <dl>
        <dt><%= Issue.human_attribute_name :external_id %></dt>
        <dd><%= @vote.external_id %></dd>

        <dt><%= Vote.human_attribute_name :time %></dt>
        <dd><%= @vote.time %></dd>

        <dt><%= Issue.model_name.human.capitalize %></dt>
        <dd>
          <ul>
          <% @issues.each do |issue| %>
            <li><%= link_to issue.summary, issue %></li>
          <% end %>
          </ul>
        </dd>

        <dt><%= Vote.human_attribute_name :enacted %></dt>
        <dd><%= @vote.enacted_text %></dd>
      </dl>
    </div>

    <div class="span7" id="for-against-chart"></div>
  </div>
</div>

<% if @vote.propositions.any? %>
  <h2><%= Proposition.model_name.human(count: @vote.propositions.size).capitalize %></h2>
  <%= render partial: "shared/propositions_table", locals: { propositions: @vote.propositions } %>
<% end %>

<h2>stortinget.no</h2>
<ul class="nav nav-tabs">
  <li><a href="<%= @vote.minutes_url %>">Referat</a></li>
  <% @issues.each_with_index do |issue, idx| %>
    <li><a href="<%= issue.url %>">Sak <%= idx + 1 %></a></li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Representative.model_name.human.capitalize %></th>
      <th><%= Representative.human_attribute_name :party %></th>
      <th><%= VoteResult.human_attribute_name :result %></th>
    </tr>
  </thead>
  <tbody>
      <% @vote.vote_results.sort_by { |r| r.representative.last_name }.each do |result| %>
      <tr>
        <td><%= link_to result.representative.display_name, result.representative %></td>
        <td><%= link_to result.representative.party.name, result.representative.party %></td>
        <td class="vote-<%= result.state %>"><%= result.human %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<% content_for :document_ready do %>
<script>
  $(document).ready(function () {
    var chart = HDO.voteChart.create('for-against-chart', <%= @stats.to_json.html_safe %>);
    chart.render();
  });
</script>
<% end %>
