<div class="page-header">
  <h1><%= @vote.subject %></h1>
</div>

<% if @vote.inferred? %>
  <div class="alert alert-info"><%= I18n.t('app.votes.non_personal.inferred') %></div>
<% elsif @vote.non_personal? %>
  <div class="alert alert-info"><%= I18n.t('app.votes.non_personal.unknown') %></div>
<% end %>

<div class="well">
  <div class="row">
    <div class="span4">
      <dl>
        <dt><%= ParliamentIssue.human_attribute_name :external_id %></dt>
        <dd><%= @vote.external_id %></dd>

        <dt><%= Vote.human_attribute_name :time %></dt>
        <dd><%= @vote.time %></dd>

        <dt><%= ParliamentIssue.model_name.human.capitalize %></dt>
        <dd>
          <ul>
            <% @parliament_issues.each do |parliament_issue| %>
              <li><%= link_to parliament_issue.summary, parliament_issue %></li>
            <% end %>
          </ul>
        </dd>

        <dt><%= Vote.human_attribute_name :enacted %></dt>
        <dd><%= @vote.enacted_text %></dd>

        <dt><%= Vote.human_attribute_name :issues %></dt>
        <dd>
          <ul>
            <% @issues.each do |issue| %>
              <li><%= link_to issue.title, issue %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    </div>

    <div class="span7" id="for-against-chart"></div>
  </div>
</div>

<% if @vote.propositions.any? %>
  <h2><%= Proposition.model_name.human(count: @vote.propositions.size).capitalize %></h2>
  <%= render partial: "shared/propositions_table", locals: { vote: @vote } %>
<% end %>

<h2>stortinget.no</h2>
<ul class="nav nav-tabs">
  <li><a href="<%= @vote.minutes_url %>">Referat</a></li>
  <% @parliament_issues.each_with_index do |issue, idx| %>
    <li><a href="<%= issue.url %>">Sak <%= idx + 1 %></a></li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Representative.model_name.human.capitalize %></th>
      <th><%= Representative.human_attribute_name :party %></th>
      <th><%= VoteResult.human_attribute_name :result %></th>
    </tr>
  </thead>

  <tbody>
      <% @vote_results.each do |result| %>
      <tr>
        <td><%= link_to result.representative.display_name, result.representative %></td>
        <td>
          <% party = result.representative.party_at(@vote.time) %>
          <%= party && link_to(party.name, party) %>
        </td>
        <td>
          <span class="vote-<%= result.state %>"><%= result.human %></span>
          <% if result.rebel? %>
            (<%= t('app.votes.rebel') %>)
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<% content_for :document_ready do %>
<script>
  $(document).ready(function () {
    var chart = HDO.voteChart.create('for-against-chart', <%= @stats.to_json.html_safe %>);
    chart.render();
  });
</script>
<% end %>