<% content_for :navbar_extras do %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li><%= link_to User.model_name.human(count: 2).capitalize, admin_users_path %></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#analysis">
        <%= t 'app.analysis' %>
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to t('app.issues.edit.new'), new_admin_issue_path %></li>
        <li><%= link_to t('app.admin.latest_from_parliament'), admin_root_path %></li>
        <li><%= link_to Issue.model_name.human(count: 2).capitalize, admin_issues_path %></li>
        <li><%= link_to t('app.documentation.method'), docs_analysis_path %></li>
        <li><%= link_to Topic.model_name.human(count: 2).capitalize, admin_topics_path %></li>
      </ul>
    </li>

    <li><%= link_to t('app.logout'), destroy_user_session_path, method: 'delete' %></li>
  <% else %>
    <li><%= link_to t('app.login'), new_user_session_path  %></li>
  <% end %>
</ul>
<% end %>