<footer>
  <div class="container">
    <div class="row-fluid">

      <div class="span4">
        <%= link_to t('app.login'), new_user_session_path %>

        <p>
          <span class="muted"><%=t 'app.title' %> &copy; <%= Time.now.year %></span>
          <small><%= link_to 'Vilkår for bruk', home_terms_path %></small>
        </p>
      </div>

      <div class="span4">
      </div>

      <div class="span4">
        <div>Ris, ros eller noe som ikke virker?</div>
        <%= mail_to t('app.email'), 'Gi beskjed!', encode: 'hex', subject: 'Tilbakemelding'  %>
      </div>

    </div>
  </div>
</footer>
