<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
    <%= javascript_include_tag "conditional/html5" %>
  <![endif]-->

  <%= render partial: 'layouts/opengraph' %>

  <!-- <title><%=t 'app.title' %></title> -->
  <title><%= yield(:title) || "Holder De Ord" %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <link href="/favicon.ico" rel="shortcut icon" />
  <link href="/images/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" />

  <script>
    var HDO = HDO || {};
  </script>
</head>
