<div class="navbar">
  <div class="right ribbon-holder">
    <div class="red ribbon">
      <span class="text">Under utvikling</span>
    </div>
  </div>

  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="container">
        <a class="brand" href="/"><%= image_tag "web_logo.png", :alt => "Holder de ord", :width => 150, :height => 100 %></a>
      </div>

      <div class="container nav-collapse">
        <ul class="nav">
          <li class="<%= active_status_for(:home) %>">
            <a href="/">Forside</a>
          </li>

          <li class="<%= active_status_for(:parties) %>">
          <%= link_to parties_path do %>
            <%= Party.model_name.human count: 2 %>
          <% end %>
          </li>

          <li class="<%= active_status_for(:issues) %>">
          <%= link_to issues_path do %>
            <%= Issue.model_name.human count: 2 %>
          <% end %>
          </li>

          <li class="<%= active_status_for(:promises) %>">
          <%= link_to promises_path do %>
            <%= Promise.model_name.human count: 2 %>
          <% end %>
          </li>

          <li class="<%= active_status_for(:representatives) %>">
          <%= link_to representatives_path do %>
            <%= Representative.model_name.human count: 2 %>
          <% end %>
          </li>

          <li class="dropdown" id="stortinget">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#stortinget">
              Stortinget
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
              <%= link_to votes_path do %>
                <i class="icon-envelope icon-white"></i> <%= Vote.model_name.human count: 2 %>
              <% end %>
              </li>
              <li>
              <%= link_to categories_path do %>
                <i class="icon-folder-close icon-white"></i> <%= Category.model_name.human count: 2 %>
              <% end %>
              </li>
              <li>
              <%= link_to districts_path do %>
                <i class="icon-home icon-white"></i> <%= District.model_name.human count: 2 %>
              <% end %>
              </li>
              <li>
              <%= link_to committees_path do %>
                <i class="icon-inbox icon-white"></i> <%= Committee.model_name.human count: 2 %>
              <% end %>
              </li>
            </ul>
          </li>

          <li class="dropdown" id="Om oss">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#omOss">
              <%= t("app.about") %>
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <li><%= link_to 'Wiki', t('app.urls.wiki') %></li>
              <li><%= link_to t("app.documentation.technical"), docs_index_path %></li>
              <li><%= link_to t("app.about"), home_about_path %></li>
              <li><%= link_to t("app.press"), home_press_path %></li>
            </ul>
          </li>
        </ul>

        <% if Rails.configuration.show_login_status %>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to User.model_name.human(count: 2), users_path %></li>
              <li><%= link_to Topic.model_name.human(count: 2), topics_path %></li>
              <li><%= link_to t('app.logout'), destroy_user_session_path, method: 'delete' %></li>
            <% else %>
                <li><%= link_to t('app.login'), new_user_session_path  %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
