<nav class="pull-right">
  <div class="dropdown <%= active_status_for(:parties_show) %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#partier">
      <%= Party.model_name.human(count: 2).capitalize %>
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <% Rails.cache.fetch('menu/parties', expires_in: 1.day) { Party.order(:name).to_a }.each do |party| %>
        <li><%= link_to party.name, party %></li>
      <% end %>
    </ul>
  </div>

  <%= link_to promises_path, class:"#{active_status_for(:promises)}" do %>
    <%= Promise.model_name.human(count: 2).capitalize %>
  <% end %>

  <%= link_to 'Om oss', 'https://www.holderdeord.no/portal/om-oss' %>
</nav>
