<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/admin_navigation' %>

    <div id="hdo-content" class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>

    <%= requirejs_include_tag Rails.env.production? ? "bundle" : "application" %>
    <%= yield :document_bottom %>
  </body>
</html>
