<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="title" content="<%=t 'app.title' %>" />
    <meta property="og:description" content="Holder de ord kartlegger norske politiske partiers løfter og sammenligner disse med partienes stemmegivning og aktivitet på Stortinget og i andre folkevalgte organ." />
    
    
    <title><%=t 'app.title' %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="i-bar"></span>
            <span class="i-bar"></span>
            <span class="i-bar"></span>
          </a>

          <a class="brand" href="/"><%=t 'app.title'  %></a>

          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <li>
                <%= link_to parties_path do %>
                  <i class="icon-flag icon-white"></i> <%= Party.model_name.human count: 2 %>
                <% end %>
              </li>

              <li>
                <%= link_to representatives_path do %>
                  <i class="icon-user icon-white"></i> <%= Representative.model_name.human count: 2 %>
                <% end %>
              </li>

              <li>
                <%= link_to committees_path do %>
                <i class="icon-inbox icon-white"></i> <%= Committee.model_name.human count: 2 %>
                <% end %>
              </li>


              <li>
                <%= link_to topics_path do %>
                <i class="icon-folder-close icon-white"></i> <%= Topic.model_name.human count: 2 %>
                <% end %>
              </li>

              <li>
                <%= link_to districts_path do %>
                <i class="icon-home icon-white"></i> <%= District.model_name.human count: 2 %>
                <% end %>
              </li>

              <li>
                <%= link_to issues_path do %>
                <i class="icon-file icon-white"></i> <%= Issue.model_name.human count: 2 %>
                <% end %>
              </li>

              <li>
                <%= link_to votes_path do %>
                <i class="icon-envelope icon-white"></i> <%= Vote.model_name.human count: 2 %>
                <% end %>
              </li>

              <li>
                <%= link_to promises_path do %>
                <i class="icon-gift icon-white"></i> <%= Promise.model_name.human count: 2 %>
                <% end %>
              </li>

              <li class="divider-vertical"></li>
              <li><%= link_to t("app.about"), home_about_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to t("app.documentation.technical"), :controller => "docs" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <% if flash.notice %>
                <div class="alert alert-info"><%= flash.notice %></div>
              <% end %>

              <% if flash.alert %>
                <div class="alert alert-error"><%= flash.alert %></div>
              <% end %>

              <%= yield %>
            </div>
          </div>
        </div>

      <footer>
        <% obscured_email = obscure_email t('app.contact.email') %>
        <p><%=t 'app.title' %> &copy; 2012 <a href="mailto:<%= obscured_email %>"><%= obscured_email %></a>.</p>
      </footer>

    </div> <!-- /container -->

    <%= javascript_include_tag "application" %>
    <%= render partial: 'layouts/ga' if Rails.env == 'production'  %>
    <%= yield :document_ready %>
  </body>
</html>
