<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body>
    <div class="wrapper">
      <%= render 'layouts/navigation' %>

      <div class="ribbon visible-desktop">Under utvikling</div>
      <div id="hdo-content" class="container">
        <%= render 'layouts/flash' %>

        <%= yield %>
      </div>
      <div class="push"></div>
    </div>

    <footer>
      <%= render 'layouts/social'%>
      <p><%=t 'app.title' %> &copy; 2012.</p>
    </footer>

    <%= javascript_include_tag "application" %>
    <%= render 'layouts/ga' if Rails.env.production?  %>
    <%= render 'layouts/feedback' %>
    <%= yield :document_ready %>

    </body>
</html>
