<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body>
    <header class="<%= header_class %>" style="<%= header_style %>">
      <div class="container">
        <%= link_to root_path, class: 'logo', alt: 'Holder de ord' do %>
          <%= image_tag "logo.png", alt:"Holder de ord" %>
        <% end %>

        <%= render 'shared/global_search' if AppConfig.front_page_search_enabled %>
        <%= render 'layouts/navigation' %>

        <% if content_for?(:jumbotron) %>
          <div class="jumbotron">
            <%= yield :jumbotron %>
          </div>
        <% else %>
          <div class="header-decoration"></div>
        <% end %>

      </div>
    </header>


    <div id="hdo-content" class="container">
      <%= yield %>
    </div>
    <div class="push"></div>

    <%= render 'layouts/footer'%>

    <%= javascript_include_tag "application" %>

    <% if AppConfig.analytics_enabled %>
      <%= render 'shared/ga' %>
      <%= render 'shared/tns' %>
    <% end %>

    <%= render 'shared/social' %>

    <script>HDO.setupSearchWidget();</script>
    <%= yield :document_ready %>

    <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
  </body>
</html>
