<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body>
    <div class="wrapper">
      <%= render 'layouts/navigation' %>

      <%= yield :jumbotron %>

      <div id="hdo-content" class="container">
        <%= yield %>
      </div>
      <div class="push"></div>
    </div>

    <%= render 'layouts/footer'%>

    <%= javascript_include_tag "application" %>
    <%= render 'layouts/ga' if AppConfig.analytics_enabled  %>

    <script>HDO.setupSearchWidget();</script>
    <%= yield :document_ready %>

    </body>
</html>
