<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body>
    <div class="wrapper">
      <%= render 'layouts/navigation' %>

      <div id="hdo-content" class="container">
        <%= render 'layouts/flash' %>

        <%= yield %>
      </div>
      <div class="push"></div>
    </div>

    <%= render 'layouts/footer'%>

    <%= javascript_include_tag "application" %>
    <%= render 'layouts/ga' if Rails.env.production?  %>
    <%= yield :document_ready %>

    </body>
</html>
