<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="<%=t 'app.title' %>" />
    <meta property="og:site_name" content="<%=t 'app.title' %>" />
    <meta property="og:description" content="<%=t 'app.open_graph.description' %>" />
    <meta property="og:type" content="non_profit" />
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:image" content="<%= File.join(root_url, asset_path('og_logo.png')) %>" />
    <meta property="fb:admins" content="<%= t 'app.open_graph.admins' %>" />
    <meta property="fb:app_id" content="<%= t 'app.open_graph.app_id' %>" />

    <title><%=t 'app.title' %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "hacks/ie", :media => "all" %>
    <![endif]-->


    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
    <script>
      var HDO = HDO || {};
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div id="Header">
        <%= render partial: 'layouts/navigation' %>
        <div class="left ribbon-holder hidden-phone">
          <div class="red ribbon">
            <span class="text">Under utvikling</span>
          </div>
        </div>
      </div>

      <div id="hdo-content" class="container">
        <% if flash.notice %>
          <div class="alert alert-success"><%= flash.notice %></div>
        <% end %>

        <% if flash.alert %>
          <div class="alert alert-error"><%= flash.alert %></div>
        <% end %>

        <%= yield %>
      </div> <!-- /container -->
      <div class="push"></div>
    </div>

    <footer>
      <p><a href="https://twitter.com/holderdeord" class="twitter-follow-button" data-show-count="true">Følg @holderdeord</a></p>
      <p>
        <div class="fb-like" data-href="https://www.facebook.com/holderdeord" data-send="false" data-layout="button_count" data-width="70" data-show-faces="false"></div>
      </p>
      <p><%=t 'app.title' %> &copy; 2012. <%= link_to t('app.contact_us'), home_press_path %>.</p>
    </footer>

    <%= javascript_include_tag "application" %>
    <%= render partial: 'layouts/ga' if Rails.env.production?  %>
    <%= render partial: 'layouts/social'%>
    <%= yield :document_ready %>
    </body>
</html>