<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="title" content="<%=t 'app.title' %>" />
    <meta property="og:description" content="Holder de ord kartlegger norske politiske partiers løfter og sammenligner disse med partienes stemmegivning og aktivitet på Stortinget og i andre folkevalgte organ." />


    <title><%=t 'app.title' %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>
    <%= render partial: 'layouts/navigation' %>
    <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <% if flash.notice %>
                <div class="alert alert-info"><%= flash.notice %></div>
              <% end %>

              <% if flash.alert %>
                <div class="alert alert-error"><%= flash.alert %></div>
              <% end %>

              <%= yield %>
            </div>
          </div>
        </div>
      <footer>
        <% obscured_email = obscure_email t('app.email') %>
        <p><%=t 'app.title' %> &copy; 2012 <a href="mailto:<%= obscured_email %>"><%= obscured_email %></a>.</p>
      </footer>
    </div> <!-- /container -->

    <%= javascript_include_tag "application" %>
    <%= render partial: 'layouts/ga' if Rails.env == 'production'  %>
    <%= yield :document_ready %>
  </body>
</html>
