<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body>
    <header class="<%= header_class %>" style="<%= header_style %>">
      <div class="container">
        <a class="logo" href="/">
          <%= image_tag"logo.png", alt:"Holder de ord" %>
        </a>

        <%= render 'shared/global_search' if AppConfig.front_page_search_enabled %>
        <%= render 'layouts/navigation' %>

        <% if content_for?(:jumbotron) %>
          <div class="jumbotron">
            <%= yield :jumbotron %>
          </div>
        <% else %>
          <div class="header-decoration"></div>
        <% end %>

      </div>
    </header>


    <div id="hdo-content" class="container">
      <%= yield %>
    </div>
    <div class="push"></div>

    <%= render 'layouts/footer'%>

    <%= javascript_include_tag "application" %>
    <%= render 'layouts/ga' if AppConfig.analytics_enabled  %>

    <script>HDO.setupSearchWidget();</script>
    <%= yield :document_ready %>

    <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
  </body>
</html>
