<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/head' %>

  <body>
    <header class="<%= header_class %>" style="<%= header_style %>">
      <div class="container">
        <a class="logo" href="/">
          <%= image_tag"logo.png", alt:"Holder de ord" %>
        </a>

        <%= render 'shared/global_search' if AppConfig.front_page_search_enabled %>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/admin_navigation' if user_signed_in? %>
        <%= render 'layouts/representative_navigation' if representative_signed_in? %>

        <% if content_for?(:jumbotron) %>
          <div class="jumbotron">
            <%= yield :jumbotron %>
          </div>
        <% else %>
          <div class="header-decoration"></div>
        <% end %>

      </div>
    </header>

    <div id="hdo-content" class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <script>HDO.setupSearchWidget();</script>
    <%= yield :document_ready %>
  </body>
</html>
