<!DOCTYPE html>
<html class="widget <%= controller.action_name %>">
  <head>
    <base href="<%= root_url %>" target="_<%= params[:target] || 'top' %>">
    <title>Widget fra Holder de ord</title>

    <!--[if lt IE 9]>
      <%= javascript_include_tag "conditional/html5" %>
    <![endif]-->
    <%= stylesheet_link_tag 'widgets/widgets' %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "conditional/respond" %>
    <![endif]-->
  </head>
  <body>
    <%= yield %>

    <footer>
      <%= link_to root_url do %>
        <%= image_tag asset_path('widgets/hdo_logo_footer.png'), width: '100', height: '100', alt: "Holder de ord logo" %>
        <p>
          <% if nrk? || params[:partner] == 'nrk' %>
            <span class="partner">Løpende oppdatert politisk innhold i samarbeid mellom Holder de ord og NRK.</span>
          <% else %>
            Løpende oppdatert politisk innhold fra holderdeord.no.
          <% end %>
        </p>
      <% end %>
    </footer>

    <% if nrk? %>
      <script src="//nrk.no/serum/latest/js/sandbox.js"></script>
    <% else %>
      <%= javascript_include_tag 'widgets/frame' %>
    <% end %>
  </body>
</html>
