<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "conditional/html5" %>
    <![endif]-->
    <%= stylesheet_link_tag 'widgets/widgets' %>
  </head>
  <body class="widget <%= controller.action_name %>">
    <%= yield %>

    <footer>
      <%= link_to root_url, target: '_top' do %>
        <%= image_tag asset_path('widgets/hdo_logo_footer.png'), width: '100', height: '100', alt: "Holder de ord logo" %>
        <p>
          Les mer på holderdeord.no.
        </p>
      <% end %>
    </footer>

    <% if nrk? %>
      <script src="http://nrk.no/serum/latest/js/sandbox.js"></script>
    <% else %>
      <script>
        window.addEventListener('DOMContentLoaded', function() {
            var sizeMessage = 'hdo-widget-size:' + document.body.scrollHeight + 'px';
            window.top.postMessage(sizeMessage, '<%= params[:origin] || '*' %>');
        }, false);
      </script>
    <% end %>
  </body>
</html>
