<%= form_for(@promise, html: { class: 'form-horizontal' }) do |f| %>
  <% if @promise.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@promise.errors.count, "error") %> prohibited this promise from being saved:</h2>

      <ul>
      <% @promise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <div class="control-group">
      <%= f.label :party, class: 'control-label' %>
      <div class="controls">
        <%= select :promise, :party_id, Party.all.map { |p| [p.name, p.id] } %>
      </div>
    </div>      
    
    <div class="control-group">
      <%= f.label :body, class: 'control-label' %>
      <div class="controls"><%= f.text_area :body %></div>
    </div>
    
    <div class="control-group">
      <%= f.label :general, class: 'control-label' %>
      <div class="controls"><%= f.check_box :general %></div>
    </div>
    
    <div class="control-group">
      <%= f.label :source, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :source %>
        <span class="help-block">F.eks. PP:8</span>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :topics, class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :topic_ids, Topic.order(:name).all, :id, :name, {}, multiple: true %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('app.save'), class: 'btn btn-primary' %>
      <%= link_to t('app.cancel'), promises_path, class: 'btn btn' %>
    </div>
  </fieldset>
<% end %>
