<h4>Søk</h4>

<%= form_tag promises_path, method: :get, class: 'form-search' do -%>
  <%= text_field_tag 'q', @search.q, tabindex: 2, type: 'search', class: 'search-query' %>

  <% @search.query.except(:q).each do |key, value| %>
    <%= hidden_field_tag key, value -%>
  <% end %>
<% end -%>

<% @search.navigators.each do |nav| %>
  <h4><%= nav.title %></h4>
  <ul class="unstyled">
    <% nav.each_term do |name, count, active| %>
      <li class="<%= 'active' if active %>">
        <% if active %>
          <%= link_to 'X', promises_path(@search.merge(nav.param => nil, page: nil)), class: 'pull-right' %>
        <% end %>

        <%= link_to name, promises_path(@search.merge(nav.param => name, page: nil)) %> (<%= count %>)
      </li>
    <% end %>
  </ul>
<% end %>
