<li class="promise <%= 'alert' if highlight %> row-fluid" data-id="<%= promise.id %>">

  <div class="span2 logos">
    <% promise.parties.each do |party| %>
      <%= image_tag party.logo.versions[:medium], width: "32", height: "32", alt: "#{party.name}s logo", class: "media-object" %>
    <% end %>
  </div>

  <div class="span10">
    <%= promise.body %>

    <% if (issues = promise.issues.published).any? %>
      <ul class="nav nav-pills">
          <li>
            <span>
              <strong>Tilknyttede saker:</strong>
              <%= issues.map { |i| link_to i.title, i }.to_sentence.html_safe %>
            </span>
          </li>
      </ul>
    <% end %>
  </div>

</li>
