<!-- VISIBLE IN DESKTOP -->
<div class="row-fluid" id="period-choices">
  <% if @parliament_periods.size > 1 %>
  <strong>Velg periode: </strong>
    <% @parliament_periods.each do |pp| %>
      <% if pp.external_id == @period.external_id %>
        <%= link_to pp.external_id, period_filter_path_for(pp), class: "period active-period" %>
      <% else %>
        <%= link_to pp.external_id, period_filter_path_for(pp), class: "period" %>
      <% end %>
    <% end %>
  <% end %>

  <div class="pull-right">
    Les mer om <%= link_to 'vår løftedatabase', home_about_path(anchor: 'valglfter-og-lftedatabasen')  %>.
  </div>
</div>

<div class="hidden-phone">
  <div class="row-fluid">
    <div class="<%= category_with_children? ? 'span4' : 'span6' %>">
      <h4>
        Hovedkategorier
        <% if @category %>(<%= link_to "Vis alle", show_all_except_category %>)<% end %>
      </h4>
      <ul class="nav multiple-select">
        <% categories.each do |category| %>
          <li class="<%= show_category_as_selected(category) %>">
            <%= link_to category.human_name, category_path_for(category) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="<%= category_with_children? ? 'span4' : 'hidden' %>">
      <h4>
        Underkategorier
        <% if @subcategory %>(<%= link_to "Vis alle", show_all_except_subcategory %>)<% end %>
      </h4>
      <ul class="nav multiple-select">
        <% if @category %>
          <% @category.children.each do |subcategory| %>
            <li class="<%= show_subcategory_as_selected(subcategory) %>">
              <%= link_to subcategory.human_name, subcategory_path_for(subcategory) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="<%= category_with_children? ? 'span4' : 'span6' %>">
      <h4>
        Partier
        <% if @party %>(<%= link_to "Vis alle", show_all_except_party %>)<% end %>
      </h4>
      <ul class="nav multiple-select">
        <% parties.each do |party| %>
          <li class="<%= show_party_as_selected(party) %>">
            <%= link_to party.name, party_path_for(party) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

 <!-- COULD BE USEFUL
  <% if @category %>
    <%= @category.human_name %>
  <% end %>
  <% if @subcategory %>
    <%= @subcategory.human_name %>
  <% end %>
  <% if @party %>
    <%= @party.name %>
  <% end %>
  -->

</div>

<div class="visible-phone">
  <%= form_tag promises_path, :id => 'MobileSearch', method: 'GET' do %>
    <%= label_tag 'category_id', 'Kategorier' %>
    <%= select_tag 'category_id', options_for_select(categories.map { |category| [category.human_name, category.id] }, selected: @category.try(:id)), prompt: "Velg kategori" %>
    <small><%= link_to "Vis alle", show_all_except_category %></small>

    <% if category_with_children? %>
    <%= label_tag 'subcategory_id', 'Underkategorier' %>
      <%= select_tag 'subcategory_id', options_for_select(@category.children.map { |subcategory| [subcategory.human_name, subcategory.id] }, selected: @subcategory.try(:id)),  prompt: "Velg underkategori" %>
    <small><%= link_to "Vis alle", show_all_except_subcategory %></small>
    <% end %>

    <%= label_tag 'party_slug', 'Partier' %>
    <%= select_tag 'party_slug', options_for_select(parties.map { |party| [party.name, party.slug] }, selected: @party.try(:slug)), prompt: "Velg parti" %>
    <small><%= link_to "Vis alle", show_all_except_party %></small>

  <% end %>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      $("#MobileSearch").autoSelect();
    });
  </script>
<% end %>
