<li class="promise <%= 'alert' if highlight %> row-fluid" data-id="<%= promise.id %>">

  <div class="span2 logos">
    <% promise.parties.each do |party| %>
      <%= image_tag party.logo.versions[:medium], width: 32, height: 32, alt: "#{party.name}s logo", class: "media-object" %>
    <% end %>
  </div>

  <div class="span10">
    <div class="row-fluid">
      <%= promise.body %>

      <span class="details">
        <% unless hide_period %>
          <small class="muted"><%= promise.parliament_period_name %></small>
        <% end %>

        <%= link_to promise_path(promise) do -%>
          <%= image_tag 'link.png', width: 12, height: 12, class: 'permalink' %>
        <% end %>
      </span>
    </div>

    <div class="row-fluid">
      <% if (issues = promise.promise_connections.map(&:issue)).any?(&:published?) %>
        <ul class="unstyled">
          <li>
            <small>
              Se også:
              <%= issues.map { |i| link_to i.title, i }.to_sentence.html_safe %>
            </small>
          </li>
        </ul>
      <% end %>
    </div>

  </div>
</li>
