<div class="page-header">
  <h1>
    <%= Promise.model_name.human(count: 2).capitalize %>
    <small class="pull-right">fra valgprogrammene 2009-2013</small>
  </h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!-- LEFT COLUMN -->
      <%= render partial: 'shared/main_categories_list', locals: { categories: @categories } %>
    </div>

    <!-- MIDDLE -->
    <div class="span7">
      <%= render partial: 'shared/promises_results' %>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="span2 party-nav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#" data-party-slug="show-all">Vis alle</a></li>
        <% @parties.each do |party| %>
          <li>
            <a data-party-slug="<%= party.slug %>" href="#"><%= party.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      var widget = HDO.promiseWidget.create({
        targetSelector: "#promises-results",
        categoriesSelector: ".categories",
        partiesSelector: ".party-nav"
      });

      widget.init();
    });
  </script>
<% end %>
