<% page_title "#{Promise.model_name.human(count: 2).capitalize} - #{t 'app.title'}" %>
<div class="page-header">
  <h1>
    <%= Promise.model_name.human(count: 2).capitalize %>
    <small class="hidden-phone pull-right"><%= @promises.count %> løfter fra valgprogrammene <%= @period.try :external_id %></small>
  </h1>
</div>

<div class="row-fluid">
  <%= render partial: 'promises_navigation', locals: { categories: @categories, parties: @parties } %>
</div>

<ul class="promises-results unstyled">
  <% if @promises.empty? && !@promise %>
    <li>Ingen løfter finnes med dette filteret</li>
  <% end %>

  <%= render partial: 'promise_item', locals: { promise: @promise, highlight: true } if @promise %>

  <% @promises.each do |promise| %>
    <%= render partial: 'promise_item', locals: { promise: promise, highlight: false } %>
  <% end %>

  <%= will_paginate @promises, class: "pagination pagination-centered visible-desktop" %>
  <%= will_paginate @promises, class: "pagination pagination-small pagination-centered visible-phone", page_links: false %>
</ul>
