<% title "#{@page_title} - #{t('app.title')}" %>
<div class="page-header">
  <h1>
    <%= @page_title %>
    <small class="hidden-phone pull-right"><%= Promise.count %> løfter fra valgprogrammene 2009-2013</small>
  </h1>
</div>

<div class="alert alert-info">
  Les mer om <%= link_to 'vår løftedatabase', home_method_path(anchor: 'method-promises')  %>.
</div>

<div class="row-fluid">
  <!-- LEFT COLUMN -->
  <div class="span3">
    <%= render partial: 'shared/main_categories_list', locals: { categories: @categories } %>
  </div>

  <!-- MIDDLE -->
  <div class="visible-desktop">
    <div class="span7">
      <%= render partial: 'shared/promises_results' %>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <!-- VISIBLE IN DESKTOP -->
  <div class="visible-desktop">
    <div class="span2 party-nav">
      <h4>Vis løftene til:</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="show-all-active"><a href="#" data-party-slug="show-all">Alle partiene</a></li>
        <% @parties.each do |party| %>
          <li>
            <a data-party-slug="<%= party.slug %>" href="#"><%= party.name %></a>
          </li>
        <% end %>
        <li><a href="#" data-party-slug="government">Soria Moria II</a></li>
      </ul>
    </div>
  </div>

  <!-- VISIBLE IN MOBILE -->
  <div class="hidden-desktop" style="clear:left">
    <select class="party-nav">
      <option class="show-all-active" data-party-slug="show-all">Alle partiene</option>
      <% @parties.each do |party| %>
        <option data-party-slug="<%= party.slug %>"><%= party.name %></option>
      <% end %>
    </select>

    <div class="promises-results">
      <div class="empty-results-message hidden">
        <h3>Partiet har ingen løfter i denne kategorien.</h3>
      </div>
    </div>
  </div>
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function () {
      var widget = HDO.promiseWidget.create({
        targetEl: $(".promises-results"),
        categoriesSelector: $(".categories"),
        partiesSelector: $(".party-nav"),
        subCategoriesSelector: $("#subcategory-dropdown"),
        server: HDO.promiseServerFacade,
        activeParty: $(".show-all-active").get(0),
        spinnerEl: $("#spinner")
      });

      widget.init();
    });
  </script>
<% end %>
