<% page_title "#{Promise.model_name.human(count: 2).capitalize} - #{t 'app.title'}" %>

<h3>Løfter</h3>

<%= render partial: 'shared/navigator_mobile_controls', locals: {search: @search} %>

<div class="row-fluid promises-current-query hidden-phone">
  <div class="span9">
    <small><%= render 'query_explanation' %></small>
  </div>

  <small class="span3 rightify">
    Les mer om <%= link_to 'vår løftedatabase', home_about_path(anchor: 'valglfter-og-ordholding')  %>.
  </small>
</div>

<div class="row-fluid">
  <div class="span3 navigators hidden-phone">
    <div class="row-fluid visible-phone">
      <%= render 'query_explanation' %>
    </div>

    <div class="row-fluid">
      <%= render partial: 'shared/navigators', locals: { search: @search } %>
    </div>
  </div>

  <div class="span9 promise-results">
    <ul class="unstyled">
      <% if @promise %>
        <%= render partial: 'promise_item', locals: { promise: @promise, highlight: true, hide_period: @search.parliament_period? } %>
      <% end %>

      <% @search.records.includes(:promisor, :parliament_period).each do |result| %>
        <%= render partial: 'promise_item', locals: { promise: result, highlight: false, hide_period: @search.parliament_period? } unless result == @promise %>
      <% end -%>
    </ul>

    <%= paginate @search.response %>

    <small class="pull-right muted small">
      Last ned:
        <%= link_to 'CSV', @search.url(format: :csv, size: @search.hits), rel: 'nofollow' %>
        |
        <%= link_to 'TSV', @search.url(format: :tsv, size: @search.hits), rel: 'nofollow' %>
    </small>
  </div>
</div>
