<div class="page-header">
  <h1><%= Promise.model_name.human(count: 2).capitalize %></h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!-- LEFT COLUMN --> 
      <br>
      <h2><%= Category.model_name.human(count: 2).capitalize %></h2>
      <% @categories.each do |category| %>
        <p><a href="/promises/category/<%= category.id %>"
            class="categories" id="<%= category.id %>"><%= category.human_name %></a>
        </p>
      <% end %>
    </div>     

    <!-- RIGHT COLUMN -->
    <div class="span5">
      <div id="promisesBody">
        <div id="promisesResults"></div>
      </div>
    </div>
  </div>
</div>
