<h2>Endre passord</h2>

<%= form_for(resource, :as => resource_name, :url => representative_registration_url, :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label 'Nåværende passord' %>
  <%= f.password_field :current_password %></div>

  <div><%= f.label 'Nytt passord' %>
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label 'Gjenta nytt passord' %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Endre" %></div>
  <%= link_to 'Tilbake', representative_root_path %>
<% end %>
